[2016-09-06 19:36] Chips-fr opened #1 "Compilation errors"
I tried your repo on raspbian and get many issue:
it doesn't compile due to RASPBERRY switch not pass into gcc command line (DEFS is not included into CFLAGS). Adding it to flags solve this.
Then it fault when starting. Removing USE_PROFILE=1 solve this.
Then i tried your rpi1 target (on a real rpi1) to try PICASSO96 and it doesn't success to start my A4000 HDD with RTG memory...
In which environm

[2016-09-06 19:39] midwan commented on #1
Sorry, I just discovered that my Makefile need to be updated.
I have been cross compiling this lately, so I missed updating the Makefile with the relevant options.

I've been testing the binaries with stock Raspbian and DietPi, it worked normally in both environments.
I'll fix the Makefile and get back to you after I've tested it.

[2016-09-06 21:01] midwan commented on #1
Looks like I got all the flags correctly now. :)

I tested a build for rpi3 and rpi1, both produced a binary without problems.
Sorry for missing out on this.

[2016-09-06 21:01] #1 closed

[2016-09-06 21:12] midwan opened #3 "Keyboard LEDs assigned to drives don't work in DietPi (work in Raspbian)"
The keyboard LEDs (Scroll Lock, Num Lock) do not work as expected when they are assigned functions like drive activity, from within the emulator.

This works if the emulator is running under Raspbian, but not in DietPi. However, the following scenario applies:
- Setting the Caps Lock when the key is pressed seems to work when running under `xinit`, but not when running in the console framebuffer.

[2016-09-06 21:14] midwan opened #4 "Saving config files creates duplicate entries sometimes"
Saving a new configuration sometimes creates duplicate entries in the menu.
The duplicates do not exist as physical files in the conf/ folder.

[2016-09-06 21:15] midwan opened #5 "Single click on the selected config file launches the emulation"
Instead of the expected double-click to start the selected config file, sometimes if it's already selected and the user clicks on it once, it launches the emulation as well.

[2016-09-07 11:04] Fourdee commented on #5
@midwan
This happened to me a few times during testing, unexpected launch via single click.

[2016-09-07 11:07] midwan commented on #3
This ideally should be part of one fix which includes the Caps Lock detection when running from the console, so that we eliminate the need to start it with `xinit` (or from within X11).
The emulator should detect key events the same way, regardless of where it's started from.

[2016-09-07 11:15] Fourdee commented on #3
@midwan
If we can remove the need for ```xinit```, it would also reduce the installation size and package count (xserver packages):+1:

Note to self:
current launch script. If no ```xinit```, this can be removed and revert back to service only.
https://github.com/Fourdee/DietPi/blob/a29279f443c5d4562358ba390d2f3004a1ac4071/dietpi/dietpi-software#L5667-L5680

[2016-09-07 11:16] midwan commented on #3
Yes, I believe that should be the target eventually. I've already started working in this direction, we'll see how it goes in the following days.

[2016-09-07 17:04] barnie1989 opened #6 "eth0: not found - wlan not found :("
I can't install the Amiberry... The rasp starts with the SD card, but at the end of the script, eth0: not found... same with wlan.

an other sd card wirh a standard system works...

[2016-09-07 17:22] Fourdee commented on #6
@barnie1989
Which Raspberry Pi model and revision (on board, near RPi logo) are you using?

[2016-09-07 17:28] barnie1989 commented on #6
P1, 2011.12

At the backside: E1114RS2V13B1.0

[2016-09-07 17:30] Fourdee commented on #6
@barnie1989
256mb or 512mb? Ideally if you can take a picture of the front and back, i'd be grateful.

When you powered on the RPi with the image, did you have a working network cable attached?

[2016-09-07 19:16] barnie1989 commented on #6
512MB, network cable was attached during all my tests. I booted several times

![6c6e91c6-f75d-4ba7-ac43-204cec5c5530](https://cloud.githubusercontent.com/assets/22058354/18325142/5d69b84c-7540-11e6-9b5c-7bef5e2e4cf3.jpg)
![99f01419-d9bc-45af-bb0a-349f43f3c2a3](https://cloud.githubusercontent.com/assets/22058354/18325144/5d9101e0-7540-11e6-81c1-34d9bbe0db26.jpg)

[2016-09-07 19:35] Fourdee commented on #6
@barnie1989

Thanks for the screenshots :+1:

I just tested my RPi A 256mb (made in UK). Working fine.

#### Ok, lets try a fresh installation, please do the following:
- Download the image here: http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z
- Extract it
- Write the image to SD card
- Plug in SD card
- Plug in Ethernet (remove the usb wifi)
- Power on device

If you get

[2016-09-07 21:04] barnie1989 commented on #6
it doesn't work
![b6ba99d1-084f-4a17-bd93-77008b5ecd20](https://cloud.githubusercontent.com/assets/22058354/18328521/6392f4fe-754f-11e6-86aa-bc35b908dd61.jpg)

[2016-09-08 10:44] Fourdee commented on #6
@barnie1989
Thanks for the pic.

Possible causes:
- 4.4.19 firmware
- eth index higher than 9 (dietpi checks for available eth adapters from 0-9)

#### Does the official Raspbian Jessie image work on your system? https://www.raspberrypi.org/downloads/raspbian/
If so, we can test if 4.4.19 firmware is the cause by running the following on that image:
[code]

#### ifconfig results
Please replicate t

[2016-09-11 19:40] midwan commented on #5
I've made a change to test out a different approach:
- Double click on a configuration entry just loads that configuration. It does not boot into it as well.
- The GUI now starts at the same color depth your current display is in, instead of the previously hardcoded 16-bit. Not sure if this has any negative impact (it shouldn't). If we find out that it does, we can easily switch back.

[2016-09-11 19:45] midwan opened #7 "DispManX does not work if OpenGL driver is installed"
Edit: this is an issue with DispManX in general, not specific to the emulator.

There are a few problems if the (experimental) OpenGL driver is installed in the system:
- The emulator GUI does not start up at all if started from the console. The application hangs. It opens up if started with `xinit`.
- The emulation screen does not show at all when started. However, the emulation session is still

[2016-09-11 19:55] Fourdee commented on #7
@midwan

That would be awesome :+1:
SDL2 dev library on Jessie = https://packages.debian.org/jessie/libsdl2-dev ?

[2016-09-11 20:04] Fourdee commented on #5
@midwan

May have issues with alpha on 32bit. Would need testing:

Framebuffer bit depth can be set with (```config.txt```):
[code]

Option to ignore alpha channel with (```config.txt```):
[code]

The above claims to affect framebuffer, untested on OpenGL driver. http://elinux.org/RPiconfig

[2016-09-11 20:07] midwan commented on #5
Would you prefer to leave it at 16-bit? I noticed that the default Raspbian image I test with starts at 32-bit.

[2016-09-11 20:12] #5 closed

[2016-09-11 20:14] midwan commented on #5
@Fourdee binaries of this build are now online. I changed the archive format to 7-zip instead of ZIP, that saves us about a megabyte... :P Let me know if that's a problem, or if you find anything wrong with this build.

[2016-09-11 20:18] Fourdee commented on #5
@midwan

We dont define the bit depth on the DietPi image in ```config.txt```. So i'am unsure what the default currently is. I'll need to check :wink: lol

Really depends on what the Amiga can output and how ```uae4arm``` renders. If the amiga/uae4arm render is 8/16bit, I'd assume 16bit would be the preferred bitdepth?

Excellent :+1: I'll give it a spin 1st chance I get tomorrow.

[2016-09-11 21:24] midwan commented on #7
@Fourdee Yes, that's the one.
I've started experimenting with it a bit, but it will take me some time to fully understand it and add it as a target platform. The old SDL1 calls need to be changed, but also some of the logic that went with it can be replaced with the modern approach that SDL2 offers.

Regarding this issue however, it's not specific to the emulator but rather to the platform in gene

[2016-09-11 21:24] #7 closed

[2016-09-11 21:26] midwan opened #8 "SDL2 | Port emulator to SDL2"
The emulator currently uses SDL1 internally, for input events, graphics drawing (combined with DispManX), audio and joystick support.

We should move it to SDL2 which provides a more modern approach, hardware acceleration and enhanced joystick input features.

[2016-09-11 22:00] midwan commented on #4
Need specific steps to recreate this, as I can't see the problem in the current build.

[2016-09-12 08:53] midwan commented on #5
I've only changed this for the GUI, not the actual Amiga emulation screen.
That is still the same as it was. ;-)
For the record, Amiga screens are 8-bit for AGA, 8/16/24-bit with
Picasso96. Games do not usually benefit from a higher bit depth as they are
using AGA only (some exceptions are there, with games that used a
screenmode you specified, such as Gloom Deluxe).

[2016-09-12 12:15] Fourdee commented on #5
@midwan

New binary installation is available in testing branch (http://dietpi.com/downloads/binaries/all/uae4arm-rpi_v2.zip).

#### I've done a test installation of:
- write and install v130 AmiBerry image.
- Change ```gitbranch=``` master to testing branch in ```/DietPi/dietpi.txt```
- ```dietpi-update``` to update to v131. Updates uae4arm binaries
- Reboot, working fine in elite.

So
- existing

[2016-09-12 12:20] Fourdee commented on #4
@midwan
Unable to replicate my end with v2 binary. Saved 20+ configs, all unique entries.

[2016-09-12 12:26] midwan commented on #4
Same here. I've asked the user who originally reported this to give me
steps to recreate it.

On Sep 12, 2016 14:20, "Dan" <notifications@github.com> wrote:

[2016-09-12 17:41] midwan commented on #6
@barnie1989 did you get a chance to try out the above suggestion by @Fourdee ?

[2016-09-12 18:43] midwan commented on #5
I tested this with my DietPi-Amibian image, which was already on the testing branch.
It upgraded normally, and started up the UAE session. However, the new UAE configuration had lost my Hard drives config, the list was empty. The rest of the settings seemed to have survived...

[2016-09-12 18:59] Fourdee commented on #5
@midwan

The testing branch isn't stable and shouldn't be used between versions (eg: updating from a previous testing installation to the next dietpi testing version). It could make for very broken installation as things change before a official release.

Your end-users will be using the v130 AmiBerry image, which is master branch.
#### So i'd recommend for testing the update:
- Writing the image

[2016-09-12 19:11] midwan commented on #5
@Fourdee sure, I'll run another test and let you know.

[2016-09-12 19:41] midwan commented on #3
There is a known issue with the Caps Lock LED/flag in Raspbian, as shown here:
https://www.raspberrypi.org/forums/viewtopic.php?f=91&t=70385&p=985457

A temporary workaround is to run
`echo keycode 58 = Caps_Lock |sudo loadkeys -`

which restores the "normal" behavior for the key (both LED and flag are turned on/off when pressing the key after that).
I also tested it under UAE, and it works correc

[2016-09-12 19:54] midwan commented on #3
Confirmed working in Raspbian, including turning the Caps Lock LED on under emulation (when started from the console).

This brings us to the difference between DietPi vs Raspbian:
the command ioctl() does not seem to run the keyboard LED on (as expected) in DietPi, but it works in Raspbian. Perhaps some package is missing?

The below is a simple program I used to test this. The result should be t

[2016-09-12 20:20] midwan commented on #3
@Fourdee this means that we can get rid of xinit during startup, once I test that everything works correctly. I'll change the UAE code a bit, since it's now hardcoded to use 0 (zero) as the console, instead it should fetch /dev/tty1 from the system.

Once I test that everything works, I'll post new binaries in Dropbox.

I still didn't get it to turn on the "POWER" led, but we can fix that later.

[2016-09-12 22:39] midwan commented on #3
Hmm, nope. It works in Raspbian, but still doesn't work in DietPi for some reason. :-/

[2016-09-13 10:06] Fourdee commented on #3
@midwan

Yep, very likely, leave it with me i'll take a look today.

:+1:

[2016-09-13 11:34] Fourdee commented on #3
Strange, as far as I can tell, all the includes use libc6-dev: https://packages.debian.org/search?suite=jessie&section=all&arch=any&searchon=contents&keywords=sys%2Ftypes.h

[code]

Binaries are already installed:
[code]

I was going to compile and test, but the only keyboard I have with Num/scroll/caps LED is a ps/2, and no converter lol.

[2016-09-13 12:00] Fourdee commented on #3
## Notes

Borrowing my misses keyboard, has a num lock LED !!!

#### Checking kernel versions

Raspbian:
[code]

DietPi:
[code]
Revert back to 4.4.11
[code]
:u5408: No effect

===

#### Checking logs:

[code]
:u5408: No errors found

===

#### Trying Raspbian ```config.txt``` on DietPi:
:u5408: No effect

===

#### Compare packages:
[code]
https://www.diffchecker.com/o8zdyBFN
DietPi AmiBerry = Lef

[2016-09-13 12:27] Fourdee commented on #3
Most likely an undocumented configuration on the Raspbian image.

I'll recreate the DietPi image from latest Raspbian, then test LED.

[2016-09-13 12:58] midwan commented on #3
Thanks for your efforts!
I can also resume testing later today.

On Sep 13, 2016 14:27, "Dan" <notifications@github.com> wrote:

[2016-09-13 15:27] midwan commented on #3
To clarify, if you change the source code line above:
if ((fd = open("/dev/console", O_NOCTTY)) == ERROR) {

to this:
if ((fd = open("/dev/tty", O_NOCTTY)) == ERROR) {

and compile, the tool works correctly in both Raspbian and DietPi from the console. Binary version is attached below.

[setled.zip](https://github.com/midwan/uae4arm-rpi/files/470193/setled.zip)

It's within UAE that things break d

[2016-09-13 15:31] Fourdee commented on #3
Bizzare. Are you running the setled binary over SSH? I get:
[code]

[2016-09-13 15:36] midwan commented on #3
I run it on the actual device (not over SSH).
I got the same message, /dev/tty as 3.

Did you see the LEDs blinking while it's running? that's what it's supposed to do.

[2016-09-13 15:38] Fourdee commented on #3
Only when I press Numlock, then capslock comes on, press capslock, numlock goes off lol. Keyboard lacks scroll lock.

[2016-09-13 15:41] midwan commented on #3
Hm, it should flash all the LEDs constantly and repeatedly, until you cancel it with Ctrl-C. At least that's how it behaves here in both my environments.
I just flashed over a fresh AmiBerry image to try #3 again, so I'll test it there as well to see.

[2016-09-13 15:46] Fourdee commented on #3
Its a cheap china-town USB wifi keyboard, probably to blame :)

[2016-09-13 15:46] midwan commented on #3
Try with this version, it skips over the Scroll Lock key:

[setled-noscr.zip](https://github.com/midwan/uae4arm-rpi/files/470227/setled-noscr.zip)

[2016-09-13 18:18] barnie1989 commented on #6
I'm not at home, so I need some days...

[2016-09-13 18:40] midwan commented on #6
@barnie1989 sure, no problem. As long as we know, we can wait. :)

[2016-09-13 20:39] midwan commented on #3
Haven't managed to find a solution yet, but some more details that might help us:
- I tried different approaches (all of them failed), including the ugly one of calling `system("setleds +num")` when I wanted the Num lock LED to turn on. It didn't. The `setleds +num` command works from the console as expected.
- The leds appear to respond as expected up until the GUI screen (or emulation screen if

[2016-09-13 20:58] midwan commented on #3
@Fourdee I've updated the emulator binaries, to fix a bug that caused it not to load the assigned LED functions from the config file correctly (the first entry was always ignored). I was waiting to fix the LED issue here before I push this, but since I see it will take some time, maybe it's better to have it out.

[2016-09-13 21:53] midwan commented on #3
I may have discovered something.

Out of curiosity, I flashed a fresh Raspbian Lite to a new card and tried from scratch. I followed these steps:
- installed Raspbian Jessie Lite
- upgraded system
- installed sdl (libsdl1.2debian libsdl-image1.2 libsdl-gfx1.2-5 libsdl-ttf2.0-0)
- installed libmpg (libmpg123-0)
- installed libguichan (libguichan-sdl-0.8.1-1)

then tried UAE. The LEDs did not work -

[2016-09-14 06:53] midwan commented on #3
I tried a fresh full Raspbian image yesterday also, and in a real WTF moment I discovered that it didn't work there as well. I did a quick check for differences in the installed packages, and even installed some of the dev packages that I had as extra on my "dev Raspbian" (where the LEDs work), but it didn't make a difference.

I'm beginning to suspect that it's not a package but rather some confi

[2016-09-14 10:18] ariath opened #9 "Weird problem with screen not being cleared"
I'm using a RPi 3 with DietPi.

I have noticed that the screen don't get cleared when you resume the emulation, as there are chunks of the config GUI around the screen.

I have experienced another strange bug: If i configure the autostart config to not use the GUI, when i try to exit the emulator the systemd-journald process starts eating the 99% of the CPU and i cannot exit the emulator unless i

[2016-09-14 11:41] midwan commented on #4
As I haven't heard back from any other user regarding this, not even the one who originally reported it, I will close it for now.

If we get any more details with steps to recreate this (if it's still a problem that is), we can re-open it.

[2016-09-14 11:41] #4 closed

[2016-09-14 11:43] midwan commented on #9
Strange, I haven't seen any such problems so far. I usually have the emulator running without GUI also, but I can quit it normally (there is a slight delay of a few seconds sometimes, until the audio thread is terminated, but it will exit cleanly).

Are you on the latest DietPi (v130)?

[2016-09-14 12:04] Fourdee commented on #9
@ariath

Thanks for the report.

Could you please send us a bug report? I'd like to check your current installation and settings.
Please follow the steps here to send a bug report: http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

@midwan
I'll run some tests and see if I can replicate this issue on my RPi 3.

[2016-09-14 13:57] Fourdee opened #10 "Default to 200 height resolution"
@midwan

All the games I have are running in ```200``` height resolution (I'am yet to find one that runs at ```256```). We currently have it set to ```256``` and results in black bar at the bottom of screen.

Could we change the default to ```640x200``` ( currently ```640x256```)?

[2016-09-14 14:13] ariath commented on #9
Sure i can! :)

Only one question: Do i have to run dietpi-bugreport after or before killing the systemd-journald process?

See ya and thanks for the quick response! :)

[2016-09-14 14:15] Fourdee commented on #9
@ariath

After please, but dont kill the systemd-journald process until after the bug report is sent.

[2016-09-14 14:29] Fourdee commented on #9
Unable to replicate when using either autostart method:
- uae4arm fast boot
- uae4arm standard boot

Unable to replicate with ```use_gui=no```

@ariath Some questions while we wait for bug report:
- Did you install AmiBerry with the ```DietPi-ArmBerry``` image, or a ```standard DietPi``` image from http://dietpi.com/download ?
- Have you made any manual changes to the system configuration files yo

[2016-09-14 14:30] midwan commented on #10
The default can be changed easily, but we should check if it creates a problem with the default "PAL" resolution if the user decides to boot a bog-standard Workbench (1.3-3.1). It might cut-off the bottom 56 lines.

I'll test it out and see.

[2016-09-14 14:41] ariath commented on #9
This the bugreport reference code: eaf73419-df52-422e-830a-bca42c70c495-0 .

I used the DietPi-AmiBerry image from here: http://blitterstudio.com/amiberry/ (the one in the installation step).

The only additional software i remember have installed is ProFTP (from DietPi-Software) and the required ones to download and build uae4arm (gcc, make, git, etc ...).

I remember that the uae4arm config i'm

[2016-09-14 15:56] midwan commented on #3
Confirmed that it still works with the latest binary in my dev-Raspbian image, but not in a stock Raspbian.

Will now try to incrementally bring this image up to the same level as my Dev, to find out what the difference that makes it work is.

[2016-09-14 15:58] Fourdee commented on #9
@ariath

Excellent, i'll take a look :+1:

Thats most likely the cause. But i'll run some tests to confirm.

[2016-09-14 16:21] ariath commented on #9
It is the Amiga 500.txt that i attached in the previous post :) .

What i did was:

1) I copied the config from my Android tablet to the Pi.
2) Then i fixed the file paths.
3) Next i renamed the original autostart.uae in Pi
4) And last, i made a symbolic link from the Amiga 500.uae to the autostart.uae.

See ya!

[2016-09-14 16:54] Fourdee commented on #9
@ariath
Thanks. I'll run some tests.

Diff check: https://www.diffchecker.com/fJQnDH5S
 - Left = AmiBerry default config
 - Right = @ariath

[2016-09-14 17:19] Fourdee commented on #9
#### Replicated.
- Only occurs when running uae4arm-rpi under ```xinit```.
- Recommend changing: ```gfx_correct_aspect=0``` for the time being.

Still cant replicate with your config and symlink. Runs fine for me:
[code]

I'll dig into your bug report a bit more.

[2016-09-14 17:29] Fourdee commented on #9
@ariath
Strange, missing ```/etc``` configurations from the bug report. Can you run the following and paste results please:
[code]

[2016-09-14 17:43] midwan commented on #3
Update: It seems that the thing that doesn't work in the default Raspbian, is the Scroll Lock LED. The Num Lock one does work, when assigned a function through UAE.

I tested this in both Raspbian Lite and Raspbian, with the same results.
I did try applying the udev fix we used for the Scroll Lock key, but for some reason it didn't seem to work. The Scroll Lock LED remained off.

With this new inf

[2016-09-14 18:31] midwan commented on #9
Thanks for the confirmation, I'll look into this.

[2016-09-14 18:37] ariath commented on #9
After some testing, i think xinit was the problem.

I removed it from the script and, not only the screen is now clear after resuming the emulation, but the emulator finally exits correctly <clap>.

Anyways, here is the requested info:

root@AmigaPi:~# df -h
S.ficheros     TamaÃ±o Usados  Disp Uso% Montado en
/dev/root         15G  1011M   14G   7% /
devtmpfs         427M      0  427M   0% /dev
tm

[2016-09-14 18:41] midwan commented on #9
The system is configured to run it as a service, so if it detects it has stopped it will try to re-run it automatically. If you want to start it manually, you should disable the service with:
`systemctl disable uae4arm-rpi`

[2016-09-14 19:01] ariath commented on #9
No, it is okay this way, i want the emulator to boot with the Pi :).

But, what about this line?
sep 14 19:23:54 AmigaPi bash[1534]: ALSA lib pcm.c:7843:(snd_pcm_recover) underrun occurred

Also, i wonder... why the default script runs the emulator with xinit if it is not required?
There is any advantage using xinit? :S

See ya!

[2016-09-14 19:03] midwan commented on #3
Trying to make some sense before we lose it completely... :)

I followed these steps, and these steps only:
- Fresh installation of Raspbian Lite: Scroll Lock LED does not turn on, not even manually (using the `setleds +scroll`) or with my "`setled`" test application. The Caps and Num lock LEDs work.
- Applying the 50-leds.rules file, then `udevadm control --reload-rules`, then reboot: The scroll

[2016-09-14 19:30] Fourdee commented on #3
@midwan

Ah yes, forgot about this one. :+1:  Correct, applied by default to all DietPi RPi systems as per your suggestion.

Nearly, on a base system, DietPi has less installed packages. Not sure of the exact figure currently, but a while back we had 140~ less installed packages: https://docs.google.com/spreadsheets/d/1mDHGZC-H6tU6_O8kuLTG8d4A8Nt7lV1Q7MXTR_6qw30/edit#gid=0

#### Heres the package

[2016-09-14 19:52] Fourdee commented on #9
Looks like a ALSA buffer underrun. Which is strange because i believe your ```cachesize=8192``` is a ```8192``` audio buffer size for uae4arm-rpi. Thats large and shouldn't be causing a underrun.

#### Try running Uae4arm at a higher priority:
- When uae4arm is running
- ```dietpi-process_tool```
- Select uae4arm
- Change nice to something like ```-5```

You could even try scheduler FIFO (high pri

[2016-09-14 20:02] midwan commented on #9
@ariath
The ALSA buffer underrun is a known issue with all versions of UAE4Arm currently (even in the original Chips-fr version). I haven't had time to fix it yet, I did spend a few hours poking around but didn't manage to find a solution.

The cachesize=8192 is probably the JIT cache, not the audio buffer. :) Also, it's probably obsolete since the emulator uses a fixed number internally (8192) an

[2016-09-14 20:07] midwan commented on #3
@Fourdee the binary will go in an infinite loop, flashing the LEDs continuously until you hit Ctrl-C to exit.

I'm working on exactly what you mentioned: a method to reliably test the results on a system as untouched as possible. I've just flashed a stock DietPi image, verified that the Scroll Lock LED is working out of the box (the fix is there, I checked) and am now copying over the emulation en

[2016-09-14 20:30] midwan commented on #3
- Installed DietPi stock (v130)
- Tested Scroll LED (worked)
- Tested "setled", all LEDs flashed normally
- Copied UAE environment.
- Installed UAE dependencies (libsdl1.2debian libsdl-image1.2 libsdl-gfx1.2-5 libsdl-ttf2.0-0 libmpg123-0 libguichan-sdl-0.8.1-1 libxml2 pulseaudio)
- Enabled sound card and changed Memory split to 128MB using dietpi-config
- Rebooted
- Tested UAE: LEDs do not work

[2016-09-15 11:26] ariath commented on #9
I have tried setting the emulator priority to -5, but, as soon i navigate with the keyboard keys to the Quit button, it freezes.

But... this time, i didn't get any ALSA error message :S.

What i wonder is... why this happens only with the Quit button, and, why only happens when i use the keyboard cursor keys to select the control?

When i use the mouse all goes fine :S.

See ya!

[2016-09-15 12:11] ariath opened #11 "Floppy drive sounds (optional)"
Hi all!

Well, my suggestion is pretty simple: Would be possible to add support for floppy drive sounds like WinUAE ones?

I would love hearing my Pi like my old A500 when the floppy was loading :3.

See ya!

[2016-09-15 12:19] midwan commented on #11
We can certainly take a look at this one, but I'd prefer put more priority on fixing the bugs first. :)

[2016-09-15 12:22] midwan commented on #9
@ariath I didn't have time to test this one yet, so bear with me... :)

- Does it happen only when using the keyboard to navigate? (I assumed so from your report, but just to clarify)
- Assuming the above is true, does it happen in one specific area only? If so, which one?
- Could you give me specific steps to recreate this please?

[2016-09-15 20:54] midwan commented on #3
I installed a bunch of extra packages that were in Raspbian Lite and not in DietPi, but no change in the behavior. The issue seems to occur only when a screen with DispmanX + SDL is opened, so I created a small tool to replicate the problem.

@Fourdee could you please help with this?

The tool runs from the command line (i.e. no xinit required) and it will open a blank (black) full screen using Di

[2016-09-16 11:17] Fourdee commented on #3
@midwan

Excellent :+1: I'll run some tests with those binaries today and see if we can find the cause.

[2016-09-16 12:21] Fourdee commented on #3
@midwan

#### Using Rasbian Lite:
- pre-reqs: ```apt-get install xcompmgr xterm xinit xauth xserver-xorg dbus-x11 xfonts-base x11-xserver-utils x11-common x11-utils alsa-base alsa-oss joystick libsdl-image1.2 libsdl-ttf2.0-0 libsdl-gfx1.2-5 libguichan-0.8.1-1 libguichan-allegro-0.8.1-1 libguichan-sdl-0.8.1-1 libguichan-opengl-0.8.1-1 libjpgalleg4.4 libxml2 libmpg123-0```
- Main screen ```./testled

[2016-09-16 15:10] ariath commented on #9
No problem, i was also quite busy yerterday XD.

I have done some tests today, and i have found a couple of places where the emulator freezes (basically, its CPU usage goes to 99%): Miscellaneus tab, Input tab and the Reset button.

All you have to try is to navigate with the cursor keys.
For example: When the emulator starts, the cursor (the blue rectangle) is set at the Configurations tab. Then,

[2016-09-16 15:49] midwan commented on #9
@ariath Thanks for that detailed report, I will test it out and see.
If we can recreate this, I already have an idea of where it might be coming from. ;)

[2016-09-16 15:54] Fourdee commented on #9
@midwan

Curious more than anything.
When the Uae4arm menu is running, CPU usage is around 77%. Is the main loop running as a "as fast as it can go" or "framerate cap/vsync":
![image](https://cloud.githubusercontent.com/assets/7077026/18592240/ef2ef2a8-7c2d-11e6-8d6c-7e87248a03e3.png)

Xinit also chewing up CPU, without Xinit below:
![image](https://cloud.githubusercontent.com/assets/7077026/18592

[2016-09-16 15:58] midwan commented on #9
@Fourdee Thanks for that extra info, I'll take a look. It's probably running in a loop waiting to detect any input events, and updating the UI on VSync.

[2016-09-17 07:11] midwan commented on #9
Confirmed - Emulator GUI freezes when navigating with keyboard, if you are on the Reset button and press Left/Right keys.

Also, 100% CPU usage in GUI, even without it actually doing anything.

I'll get it fixed.

[2016-09-17 08:17] midwan commented on #9
The latest commit fixes the navigation issues.

I'll see what we can do about the high CPU usage in the GUI.

[2016-09-17 21:31] midwan commented on #3
@Fourdee sorry for the late reply, I've been a little busy. :)

It works for me with both "testleds" and "testleds-noscroll", in both Raspbian and Raspbian Lite - but not in DietPi.
I have tried it with two different keyboards, one Microsoft Comfort Curve 2000, one HP Desktop. Both worked normally, flashing their LEDs when told to do so... :)

Strange that it didn't work for you... One thing to no

[2016-09-18 13:14] Fourdee commented on #3
@midwan

#### Raspbian Lite:
- ```apt-get update```
- ```apt-get install libsdl1.2debian libsdl-image1.2 libsdl-ttf2.0-0 libsdl-gfx1.2-5```
- ```./testleds-noscroll``` and ```./testleds```
 - No mouse cursor this time :)
 - No change in Numlock LED on keyboard.

I believe my (misses) keyboard isn't giving expected results: https://www.amazon.co.uk/gp/product/B00JAE915C/ref=oh_aui_detailpage_o01_s0

[2016-09-18 13:27] midwan commented on #3
@Fourdee sure, we can try it this way. I'll let you know as soon as I test it.

[2016-09-18 20:31] ariath commented on #9
There are 2 more places where i have noticed freezes:

Miscellaneus tab: There are 3 checkboxes and two another controls below them (as i remember). The emulator freezes when the cursor is placed at the last checkbox and and you press down to go to the other two controls.

Input tab: The freeze happens at the mouse sensivity slider.

See ya!

[2016-09-19 07:29] midwan commented on #9
@ariath Thanks for reporting these, I'll get it fixed!

[2016-09-19 13:41] Fourdee commented on #3
@midwan

I've created a new DietPi image based on the current Raspbian Lite. Please can you check if your LED binary works on this image?
http://dietpi.com/downloads/testing/DietPi_RPi-armv6-(Jessie).7z

If it doesn't, please remove the scrolllock fix, reboot then try 1 last time:
[code]

[2016-09-19 19:52] midwan commented on #3
@Fourdee
I run a fresh test using the image you provided above:
- Flashed the image and booted.
- Installed OpenSSH server
- Installed libsdl1.2debian, libsdl-image1.2, libsdl-ttf2.0-0
- Enabled the default sound card
- Run the "testleds" and "testleds-noscroll" binaries to test

Results: Black image, mouse pointer showing, LEDs **NOT working**.

- Tested the older "setled" binary from the console

[2016-09-19 20:12] midwan commented on #3
I tried starting with Raspbian Lite and following the steps you provided above also:
- Run the commands indicated
- Rebooted
- Tried to install the SDL packages, but apt-get could no longer resolve the jessie mirrors:

Err http://mirrordirector.raspbian.org jessie Release.gpg
 Could not resolve 'mirrordirector.raspbian.org'
Err http://archive.raspberry.org jessie Release.gpg
 Could not resolve 'ar

[2016-09-19 20:29] midwan commented on #3
Interestingly, if I try to run a new binary using SDL2 that I made, I get an error right away:
`XDG_RUNTIME_DIR not set in the environment`

This binary also uses DispmanX and SDL2 on top, and works fine on a normal Raspbian (Lite) distro,

[2016-09-19 20:48] midwan commented on #9
I've added a fix for the GUI getting stuck there, I will also add the possibility to go down to the Numlock LED and ScrollLock LED options as the next step (those controls are new so the navigation would not go there).

[2016-09-19 21:13] #9 closed

[2016-09-19 22:15] midwan commented on #3
@Fourdee
I managed to test it also after running the steps in Raspbian Lite, by not rebooting in between.
I installed the SDL packages right after they were removed, in order to keep testing between each step.

Notes:
- The step `echo -e "CONF_SWAPSIZE=0" > /etc/dphys-swapfile` failed with "Permission denied". I did run it as sudo.
- when installing the `console-data` package, there is a prompt to

[2016-09-20 14:11] Fourdee commented on #3
@midwan

Excellent testing and details 👍

Going to focus on getting v131 released today, however, I've ordered a USB keyboard with LEDs on it: https://www.amazon.co.uk/Microsoft-Wired-Keyboard-200-Layout/dp/B0041SKBGK/ref=sr_1_1?s=computers&rps=1&ie=UTF8&qid=1474380457&sr=1-1&keywords=usb+keyboard
Will be here tomorrow.

Once I've got it, i'll go through your results and see if I can replicate. Ho

[2016-09-20 14:17] midwan commented on #3
Great, let's hope we'll find out what's going on. :)
So far, I've got the impression that DispmanX does not quite work in DietPi, and it opens an X display instead under SDL1.2. That does not happen with SDL2, hence the complete failure to start up.

That theory explains the mouse pointer shown, and the LEDs not working - since if you go in an X environment the ioctl() calls to the keyboard no lon

[2016-09-21 09:01] midwan commented on #3
One more thing to test:
We can restore the traditional Caps Lock functionality so that the LED turns on when pressed from the console, using the command documented here:
https://www.raspberrypi.org/forums/viewtopic.php?f=91&t=70385&p=985457

`echo keycode 58 = Caps_Lock |sudo loadkeys -`

Of course, this is temporary (it will go away on the next reboot), so if we implement it it should be part of

[2016-09-21 09:07] midwan commented on #6
@barnie1989
Any news on this please?

[2016-09-21 14:06] midwan commented on #3
I tested it in a fresh installation of DietPi v131, unfortunately it's still the same regarding the LEDs.

I did notice a different behavior compared to my earlier tests, regarding the SDL2 stuff. My test program worked this time, after following these steps:
- Flashed v131 and booted.
- Changed settings to 1080p display, 128MB GPU memory
- Updated firmware
- Reboot
- Installed required packages f

[2016-09-21 14:39] barnie1989 commented on #6
the standard image is running!

is that for your image or the standard image???

rpi-update
reboot

#check version
uname -a

#ping test
ping google.com

[2016-09-21 19:26] ariath opened #13 "SDL2 | Quick floppy insert/eject keys"
Hi all!

Would be possible add support for inserting/ejecting floppies with a key combination like WinUAE?
Like End+F1-4 for inserting a floppy in DF0-3 and Supr+F1-4 for ejecting the floppies.

See ya!

[2016-09-22 08:10] midwan commented on #13
Not a bad idea.
I'll take a look at this a bit later on. I'd like to get any bugs fixed first, move the codebase to SDL2 and then start implementing enhancements such as this.

Thanks for bringing it up!

[2016-09-22 08:11] midwan commented on #6
@barnie1989
Could you please explain a bit more, what you mean by standard image/your image?

It's DietPi in all cases, there's no "my" image in this. :)

Did I understand correctly that it works now?

[2016-09-22 20:04] midwan commented on #8
Note: Guichan is outdated, no longer updated and does not play well with SDL2.
Moving to Guisan instead seems like the obvious choice: https://github.com/kallisti5/guisan

[2016-09-23 06:18] barnie1989 commented on #6
please see the last comment from Fourdee

[2016-09-23 07:21] midwan commented on #6
I've updated my comment to clarify... :)

Does it work for you after the rpi-update?

[2016-09-23 11:57] barnie1989 commented on #6
Yes, this image works fine directly after the download:

https://www.raspberrypi.org/downloads/raspbian/

[2016-09-23 12:07] midwan commented on #6
And does it work in DietPi if you run the same there?
e.g.:
[code]

[2016-09-23 14:37] Fourdee commented on #3
@midwan

Using: https://www.amazon.co.uk/gp/product/B00JAE915C/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1

Fresh Raspbian lite installation:
- ```apt-get update```
- ```apt-get ugprade```
- ```apt-get install libsdl1.2debian libsdl-image1.2 libsdl-ttf2.0-0 libsdl-gfx1.2-5```
- ```reboot```
- ```./testleds-noscroll``` and ```./testleds```
 - No mouse cursor
 - No change in any LED's on keyboard.
-

[2016-09-23 15:06] Fourdee commented on #3
@midwan

Ok, so LED's work as standard users, but not under ```sudo``` or with ```root``` user. Weird lol

[2016-09-23 15:08] midwan commented on #3
Interesting, that explains the behavior at least. I wonder why...

On Sep 23, 2016 17:06, "Dan" <notifications@github.com> wrote:

[2016-09-23 15:18] Fourdee commented on #3
@midwan

Not sure.
From a permissions standpoint, ```root``` has access to everything and running ```sudo``` grants the same permissions. So in theory, it should work under ```root``` and ```sudo```.

I suppose we could test if this is a SDL specific issue, by creating another binary that tests the LEDS without SDL library (bare bones main.cpp with LED flashing). Any chance you can make one of tho

[2016-09-23 17:19] midwan commented on #3
@Fourdee
Sure, that was the first binary I had made actually. I don't think it's SDL related, as the call to change the LED status on/off is a system call (ioctl()) and not part of SDL.

The "setled" binary will start from main, go in a loop and flash the LEDs until you cancel it with Ctrl-C.
The "testleds" binary will open up an SDL screen first, but otherwise do the same loop with the same calls

[2016-09-23 17:39] barnie1989 commented on #6
hi had downloaded the raspberry image from http://dietpi.com/ and it works... now it's downloading many files :)

[2016-09-23 18:13] midwan commented on #6
Thanks for confirming. :)

[2016-09-23 18:13] #6 closed

[2016-09-24 12:25] ariath opened #14 "Can't untick "Write-Protected" in floppy drives"
Hi all!

I was testing something in Workbench (i'm using an ADF of Workbench 1.3), and when i was going to save the changes, AmigaDOS told me that the floppy was write protected.

I thought: "No problem, i have to open the emulator GUI and un-tick the write-protection checkbox and i will be able to save my changes".

The problem came when i noticed that the checkbox... was... greyed out :S.
I trie

[2016-09-24 12:27] idatson opened #15 "SDL2 | Invisible box on Desktop"
Ref no: ccc1f11b-b7bb-4963-8e0c-eecc80de8920-0

I have just tried Amiberry so I can get 1920 x 1080 working which seems to be fine. However if I try opening a game through igame the pointer seems to get stuck in an invisible box on the desktop after the game has closed down.

It seems to happen after trying to get out of the game and I usually have to reset the session using F12 and soft rest in t

[2016-09-24 12:33] ariath opened #16 "Ctrl+WinLeft+WinRight don't work to reset the emulation (bug?)"
Hi all!

I don't know if this is a bug or there is another working key combination, but i tried restarting the emulation with Ctrl+Left windows+Right window (would correspond to Ctrl+Left Amiga+Right Amiga i think) and the key combination doesn't seem to be recognized. Nothing happens.

See ya!

[2016-09-24 12:59] Fourdee commented on #15
@idatson

I'd like to check your current system configuration and setup. Please can you send a bug report: http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184. Thanks.

[2016-09-24 13:03] Fourdee commented on #3
@midwan

Still puzzles me this one. Doesn't make sense why LEDs fail with root, if anything, should be the other way round.

I suppose, as a possible fix, we could create a user specifically for AmiBerry. This would resolve the LED issues.
Permissions shouldn't be an issue, we can apply ownership to ```/mnt/dietpi_userdata/uae4arm-rpi``` directory aswell during patch and install.

But either way,

[2016-09-24 14:50] idatson commented on #15
I think it may have something to do with the game being unable to cancel. WHDload says press DEL to quit for example and this does not work. So when you hit F12 and reset the machine it holds on to the game screen size setting for the mouse although the whole desktop is shown.

[2016-09-24 16:13] Fourdee commented on #3
@midwan
Misc menu, keyboard LED assignments for DF0: work fine on Raspbian?

[2016-09-24 18:25] midwan commented on #3
Not able to test right now, but the DF* setting definitely works. It will
turn the led on fire any floppy drive access (e.g. DF0, DF1, DF2, etc).

Only the power led setting does not quite work yet.

On Sep 24, 2016 18:13, "Dan" <notifications@github.com> wrote:

[2016-09-24 21:22] midwan commented on #16
This combination of keys should have worked, let me try to see what's going on.

[2016-09-25 10:17] midwan commented on #8
The SDL2 packages available from the Jessie repository require/expect a X-environment and do not open a window from the console.

Will try compiling SDL2 from source with explicitly defining what features should be enabled/disabled, as mentioned here: https://solarianprogrammer.com/2015/01/22/raspberry-pi-raspbian-getting-started-sdl-2/

[2016-09-25 15:06] Fourdee commented on #3
@midwan

turn the led on fire any floppy drive access (e.g. DF0, DF1, DF2, etc).

Thanks. Will give me something to test against 👍

Notes:
[code]

[2016-09-25 19:42] midwan commented on #8
Confirmed, compiling SDL2 from source and defining the necessary options seems to produce a version that works without X11.

[2016-09-25 20:00] midwan commented on #8
Note: Do NOT enable the experimental OpenGL driver on Raspbian. It breaks things like DispmanX and SDL2 without X11.

[2016-09-25 21:25] midwan commented on #8
Proof of concept, using Guisan, SDL2 and hardware accelerated display:
![img_20160925_231941-25](https://cloud.githubusercontent.com/assets/3877365/18818358/4a57d24e-8377-11e6-9dd1-981c4d0fce6e.jpg)

[2016-09-25 21:35] midwan commented on #10
With the recent advancements I made in the SDL2 port, I don't think we need to worry about this one. We can use GPU accelerated displays in SDL2, so it will be super fast and smooth regardless if it's on a 640x480 surface or a 1080p one.

Actually we should switch to use 1080p always once that is ready, and the GPU will do the scaling. :)

[2016-09-26 11:18] Fourdee commented on #8
@midwan

I ran into OpenGL issues when compiling DXX-rebirth for RPi. I had to compile 2 binaries. One for FBdev (```--disable-video-opengl```) and the other for OpenGL. Both work great :)

Might be worth a shot at compiling with ```--disable-video-opengl```, should work on the RPi OpenGL driver?

[2016-09-26 11:40] midwan commented on #8
I tried compiling SDL2 with --disable-video-opengl but if the OpenGL driver is enabled, my applications don't start (no display is initialized). If I disable the OpenGL driver, they work again.

The same happens with any apps using DispManX directly, they fail when the OpenGL driver is enabled, work when it's not.

[2016-09-26 20:44] HoraceAndTheSpider opened #17 "SDL2 | Various Control Mapping Issues (including CD32)"
As requested, the controller issues to be raised here:

For context, I am using a PS3 pad on uae4arm. In all examples i am setting 'port 1' as the most common option.
- with 'dpad as joy' or 'dpad as cd32' , i get no results.... no fire / no movement.
- if i select 'sony ps3 controller' ....
  -- Analogue only works as directional controls (nothing on the d-pad)
  -- I cannot set joystick or cd32

[2016-09-26 21:11] midwan commented on #17
@HoraceAndTheSpider
Thanks for the feedback on this. I'll start looking into it and update this issue with any news.

[2016-09-26 21:27] HoraceAndTheSpider commented on #17
thanks midwan. Happy to test whatever i can.

On the latest build (yours) with 'dpad as joy' or 'dpad as cd32' , i get no results.... no fire / no movement still.

if i select 'sony ps3 controller'  the fire button appears to be the 'select' button, which i am fairly sure is button '0' .... this pretty much limits me to going back to the 0.4 version of uae4arm sadly.

Anything you can do to make t

[2016-09-27 08:21] HoraceAndTheSpider commented on #17
Right, so the thing about FS-UAE controllers got me looking into it more.

The controller files really would be easy to 'borrow'!

I've pasted an example here:  For Mapping the PS3 pad (file says 'linux' but it came from the OSX version)

http://pastebin.com/CidFJuH0

The critical bit is the [default] section

On the left hand side, it basically lists out all of the available axis/buttons. On the

[2016-09-27 09:13] midwan commented on #17
This looks promising, thanks!

[2016-09-28 10:35] Fourdee commented on #10
@midwan

Sounds good. Keep me updated when ready to test SDL2 👍

[2016-09-28 10:50] midwan commented on #10
It's progressing nicely, the GUI is already working (needs some improvements but everything's there) and I need to work a bit on the emulation screen next. I'll let you know.

[2016-09-28 10:50] #10 closed

[2016-09-28 10:51] midwan commented on #15
This should be fixed with the port to SDL2, since we won't have to use the resolution switching mechanism (which is what's probably causing this bug). We'll have to test it and make sure of course.

[2016-09-28 15:48] Fourdee commented on #3
@midwan

Ok, Findings:
- 🈯 ```setleds +num``` works as root and non-root. The sourcecode for this also uses ioctl (https://fossies.org/dox/kbd-2.0.3/setleds_8c_source.html)
- 🈹 Running ````testleds``` only works when logged in as non-root user (eg: amiberry).

Maybe this is a SDL issue?
As far as I can tell, ```setleds +num``` does the same thing, yet works every time, regardless of user who launc

[2016-09-28 16:57] midwan commented on #3
@Fourdee
thanks for the detailed testing feedback! :)

Ok, to clarify if this is in any way related to either a) DispManX or b) SDL1.2, I've prepared the following tiny tool that will test the LEDs from the console. No DispmanX and SDL is initialized or used, just pure ioctl().

It works on Raspbian with both a normal user (pi) and when run with sudo. I'm also attaching the source, in case you wan

[2016-09-28 17:31] midwan commented on #3
Update: I just tested a binary using SDL2, it works normally in DietPi.

I think we can finally close this then. It seems that it's related to DispmanX when used as a back-end for SDL1 screens. SDL2 does not need/use it, and it does not suffer from this problem.

Therefore, we can safely say that when the SDL2 port is complete, this issue should be resolved "for free" with it. :)

[2016-09-28 17:36] midwan commented on #3
To test the binary, you can use the following package:
[guisan.zip](https://github.com/midwan/uae4arm-rpi/files/498846/guisan.zip)

It has one requirement: SDL2 library

However, it may not work correctly with the default libsdl2 package delivered through apt-get, as I believe that requires X11 in order to open a screen. Instead, you can use the binary package from libsdl.org (attached below), to

[2016-09-28 21:03] HoraceAndTheSpider opened #19 "SDL2 | Menu display on small screens"
I have recently installed Retropie onto a PiGrrl machine, which has an Adafruit 2.8" PiTFT display 320x240.

Obviously this causes chaos when I press f12, so I'd like to support the case for even a minimal size menu display when either an host option is set (I.e. Not with the game config!) or better still, when a small display is auto detected.

It could probably suffice for this to be like the fs

[2016-09-28 21:08] TuKo1982 opened #20 "HDFs >2GB support missing"
Uae4arm seems to miss support for more complexe HDF which contains more than partitions and files bigger than 2Gb.

[2016-09-29 07:04] midwan commented on #20
Thanks for reporting this.
Any way to recreate it please? We'll need a way to know it works when it's fixed.

[2016-09-29 07:08] midwan commented on #19
Interesting idea, but we'll have to think about it a bit.

The GUI has a minimum resolution of 600x200 currently, to fit everything there. To support a smaller resolution than that, things will have to get really crammed in half the space.

Ideally it should be adaptive, depending on the resolution you're running it on. Higher resolutions should also be taken advantage when it makes sense (nobody

[2016-09-29 07:08] midwan commented on #14
Thanks for reporting this, I'll look into it.

[2016-09-29 21:45] HoraceAndTheSpider opened #21 "SDL2 | Keyboard Mapping"
Sorry, more controls stuff. Unfortunately in it's current state, i find it difficult to use uae4arm because of these issues!!

This time  it's the "other way around" ... It is not there in the GUI, but maybe it already existing in .uae file config settings ?

The joystick/joypad controller for my PiGrrl machine 'fakes' keyboard presses, by using the GPIO , so not a conventional 'controller' input.

[2016-09-30 06:59] TuKo1982 commented on #20
Juste create an image of an Amiga harddisk or an UAE HDF wich his >2Gb and has multiple partitions.

[2016-09-30 06:59] midwan commented on #20
Thanks, I'll try that.

[2016-09-30 11:41] Fourdee commented on #3
@midwan

🏆 Awesome, great stuff👍

Excellent, i'll give this a spin 👍

[2016-10-01 14:03] ariath commented on #19
Due to the small size of these screens, maybe the solution is making an alternative GUI system, more simple, without widgets.

Maybe something similar to MIST's FPGA menu?
http://somuch.guru/wp-content/uploads/2015/09/minimig_iGame.jpg

Because you aren't using a graphical GUI, maybe it is even easier to implement.

See ya!

[2016-10-01 21:35] n0rt0nthec4t commented on #16
Interesting thing I've noticed is that what ever custom key is assigned to bring up the emulator menu, pressing left amiga key still also brings up menu. I'll have to check my key mapping file for keyrah to make sure got that key mapped correctly first.  Same thing happens in chips code too

[2016-10-02 14:33] HoraceAndTheSpider commented on #19
Yes , that's the sort of thing.

Even just a basic text on the default OS screen (like raspi-config screen or whatever)

Keeping in mind that it doesn't need to have 100% of the available options.

[2016-10-03 06:49] midwan commented on #19
Or we could just check the resolution and adapt the GUI to that automatically. Using scroll bars where needed for example.

But what should be the minimum resolution supported then? We should test this in such a scenario and see which approach works best.

[2016-10-03 06:54] midwan commented on #8
UAE's GUI is now working under SDL2, except one glitch in the Configurations list (only one entry appears, with a larger than normal row height). This needs to be fixed in the original Guichan (now Guisan) code that calculates the row height and list items there.

The emulation screen is not working correctly yet, needs more time to fix. It actually opens a screen 4 times larger than what was expe

[2016-10-03 13:44] Fourdee commented on #19
As per @HoraceAndTheSpider

I'd recommend the same. Its the lowest resolution panel for SBC's i've found (http://www.waveshare.com/3.2inch-rpi-lcd-b.htm). Beyond that, your looking at 16x2 matrix (http://www.raspberrypi-spy.co.uk/2012/07/16x2-lcd-module-control-using-python/).

[2016-10-05 07:54] midwan commented on #19
OK, thanks for the input from all of you. I'll look into this and keep you posted.

[2016-10-05 12:42] ariath commented on #14
I have done some research and... maybe i have found the problem:

src/od-pandora/gui/PanelFloppy.cpp

[code]

[code]

As long as i understand...
1) The write-protect checkboxes are disabled by default.
2) It seems that the management of write-protection is a ToDo task.
3) I haven't found any "chkDFxWriteProtect[i]->setEnabled(true)" in the entire file.

I'm right? :3

See ya!

[2016-10-05 13:22] midwan commented on #14
@ariath
Yes, you are probably right in this finding. :)
I didn't have time to test this yet, but from what I see above the Write Protection checkbox is always disabled and there's no code behind that event to change the status.

Thanks for your investigation, we can save some time looking for this now. :)

[2016-10-14 18:38] midwan opened #24 "Segmentation fault while starting up"
After the latest merge from Pandora sources, the emulator fails to start.
A segmentation fault error appears right after the title and version information.

[2016-10-15 17:47] midwan commented on #24
Reverted the Pandora sources merge for now, until we sort this out. The code is branched out to the pandora branch, the master is now back to the previous working state.

[2016-10-15 17:47] #24 closed

[2016-10-18 08:35] escalade opened #26 "Build issue "exit is not a member of std""
I'm trying to cross compile this using the LibreELEC toolchain, but running into a build error:

http://pastebin.com/gCRPEL9w

Any ideas? Using GCC 5.4.

[2016-10-19 06:53] midwan commented on #26
1) You're using CPU options twice in the same line, "-march=armv7-a -mfpu=neon-vfpv4 -mfloat-abi=hard" ... "-mcpu=cortex-a7 -mfloat-abi=hard -mfpu=neon-vfpv4". Only one of those should be used.
2) Try adding -std=gnu++14 in the CFLAGS and see if that helps.

[2016-10-19 11:40] escalade commented on #26
I added -std=gnu++11 and that got me further. First there was a missing include guichan.hpp (I thought this used guisan instead?), adding includes from both of guichan/guisan into src/include/ solved that but now I'm getting a different error:

http://pastebin.com/ib20RFk4

I'm trying to compile the SDL2 branch btw.

[2016-10-19 13:37] midwan commented on #26
Thanks, that should not be part of the Makefile indeed (as guisan includes its own version).
I'll fix it in the Makefile.

So far the GUI part works on SDL2, with the exception of a glitch in the Configurations list (only one is visible, even though you can select the others using the keyboard). But the emulation screen needs some work, as it doesn't work as it should...

[2016-10-19 15:19] escalade commented on #26
There's guichan includes in src/osdep/pandora_gui.cpp and src/osdep/gui/EditFilesysHardfile.cpp as well.

[2016-10-19 16:20] midwan commented on #26
Thanks, those were missed earlier and I just fixed them.

There should be no further references to guichan now.

[2016-12-11 20:11] midwan opened #28 "Add a button for shutting down the Pi"
Idea: Add a button in the Config GUI to shut down the host machine (power off).

[2016-12-11 21:30] midwan commented on #28
![33bf25a7-9b86-45d2-8321-afe45b4cc45b-25](https://cloud.githubusercontent.com/assets/3877365/21083465/74f9c762-bff1-11e6-9010-23ac6ed4dd6d.JPG)

[2016-12-11 21:30] #28 closed

[2016-12-19 09:33] midwan commented on #16
I noticed that the Right Menu key, when used in combination with the rest (LCtrl + LWin) does cause a reset like it should. Not a complete solution yet, but at least a workaround (both RMenu and RWin should work).

[2016-12-20 08:45] midwan commented on #16
I found out what is causing this, working on a fix now.

[2016-12-20 10:39] midwan commented on #16
Hm, this is a bit more tricky than I thought. It seems it might be a bug in the keyboard input from fbcon.
When running the emulator from the console, it uses fbcon to get any input directed to SDL. Under that scenario, the LWin key is detected as LAlt for some reason. The problem is, the RWin key is ALSO detected as LAlt.

When running under X11, that's not an issue as both keys return their corr

[2016-12-20 10:49] midwan commented on #3
I've managed to fix this (probably, at least in my tests) for the SDL1.2 branch also.
The requirements are:
- the emulator needs to be started as a normal user, i.e. not root (not sure why)
- the emulator needs to have been started from the console (i.e. use fbcon)
- the scroll lock fix needs to be applied in the system, otherwise the Scroll Lock LED will not light up (but the rest still work)

[2016-12-20 20:32] midwan opened #30 "Add support for 1680x1050 Picasso96 resolution"
This resolution should also be in the list of available Picasso96 options.

[2016-12-20 20:41] midwan opened #31 "Black border at bottom when switching from Picasso96 to AGA/ECS resolution"
There is a black border at bottom of screen, only when Picasso96 is running and we run ProTracker from Workbench.
When Picasso96 is disabled, the ProTracker screen is normal without the black border.
![15585367_1266526680053321_7965466622637117478_o](https://cloud.githubusercontent.com/assets/3877365/21367110/1f71effa-c6fd-11e6-8e5d-45fe9e7a6242.jpg)

[2016-12-20 20:51] #30 closed

[2016-12-22 20:33] midwan commented on #31
Confirmed. The problem appears also if you switch Workbench to a PAL HighRes setting.

[2016-12-22 21:18] midwan commented on #31
Update: The bug only happens if you change resolution without rebooting.
If you change resolution on WB and reboot, the black border is not showing.

[2016-12-26 16:24] lovrenco commented on #14
I confirm this in UAE4Arm for android. It is a problem because you cannot save games.

[2016-12-26 16:29] midwan commented on #14
@lovrenco thanks for confirming. Both emulators use the same codebase, so it's not surpising that they share the same bugs also. :)

[2017-01-06 10:32] CypherXG opened #33 "Slow Sound with Picasso Screen Mode (50Hz slowdown to 42Hz)"
There is a problem with programs like demos or games with WHDLoad.
These are running slower than normal.
I use ClassicWB with WHDLoad.
In PAL High-Res Mode the WHDLoad games/demos runs fine, but when i use any Picasso Mode WHDLoad rund about only with a Speed about 80-90 Percent.
I think there is a Timing Problem with the Picasso Mode

Same with MOD playing. With Picasso Screen (any Resolution) MO

[2017-01-06 17:07] midwan commented on #33
Thanks for reporting this.
Is your Picasso96 mode running on 60Hz? I'm thinking maybe this is an issue of 50Hz (PAL) vs 60Hz (NTSC but also Picasso96 usually).

If you're running on 60Hz, normally a WHDLoad game should switch to PAL when running of course - but perhaps there's a bug in there somewhere. We just need to narrow it down and recreate it exactly, in order to debug and fix it.

One test

[2017-01-06 17:53] CypherXG commented on #33
Picasso Mode runs in 50Hz but it only show 46-47Hz in the Status Line.
I changed the System from ClassicWB to Amikit. Same Problem here.
All Games runs from me in PAL correctly without Picasso in backround.
With Amikit WHDLoad runs too slow in PAL Mode.
Amitkit in 60Hz Mode the Demos runs fine in PAL Mode but Modules etc. runs too fast.
Here you can see the Problem.
https://youtu.be/zQEtpFZvprQ
Ho

[2017-01-06 18:24] midwan commented on #33
@CypherXG Thanks for the video, it demonstrates the problem quite nicely.
I'll see if I can pinpoint the problem on my end, then work on a solution.

I'll keep this issue updated with any news regarding this matter!

[2017-01-06 19:56] midwan opened #34 "Parse .uae config files from command line without the -config parameter"
Add support for parsing config (.uae) files from the command line, without specifying "-config <filename>" (or "-f <filename>").

[2017-01-06 20:23] midwan opened #35 "Control the host resolution from within the emulator"
Investigate how plausible the following scenario is:

Have the emulator itself control the host system's screen resolution.
E.g. change to 800x600 50Hz for PAL resolutions, 800x600 60Hz for NTSC, but switch to native (1080p 60Hz max) for Picasso96 ones.

Note: The emulator currently opens a "dummy" SDL screen on the host's native resolution and uses that to render the RGB surface requested. If a P

[2017-01-06 22:49] #35 closed

[2017-01-07 12:19] solskogen opened #36 "Fast-Forward option"
Just like WinUAE and FS-UAE have.

[2017-01-07 18:52] solskogen opened #37 "CD emulation for A500/1200"
The CD emulation is only(?) for CD32 pr. date. Would like to be able to mount a iso (AmigaOS 3.5 and 3.9)

[2017-01-08 17:40] CypherXG commented on #37
Make a Directory and copy all Files in there.
Rename the Directory like the CDRoms name

[2017-01-09 07:32] solskogen commented on #37
Yes, I know that works. But the point here is the missing cdrom support :)

[2017-01-15 11:31] #31 closed

[2017-01-15 11:35] midwan commented on #15
@idatson @Fourdee
This might have been addressed as part of #31 also. Would you mind testing on your end as well to verify?
There was a bug when switching resolution from a Picasso96 one to an AGA/ECS/OCS one, where the Hz calculation would not be called. It caused a black border at the bottom of the screen where there should have been normal graphics lines.

[2017-01-16 14:08] Fourdee commented on #15
@midwan

Can do, using compile of master branch?

[2017-01-16 14:10] midwan commented on #15
@Fourdee @idatson
Yes, the current master branch contains this fix. Feel free to report any other issues if you run into any.

Known issue so far: the CPU performance is lower than the previous stable binary (the one contained in DietPi), reaching about 50% of the number of MIPS (in SysSpeed). Optimizations are in order. :)

[2017-01-17 07:47] solskogen opened #39 "Unable to install OS3.5 and 3.9 with Jit"
If JIT is enabled, the installers will give you an error.

[2017-01-17 07:59] midwan commented on #39
Note to self: perhaps related to memory allocation when JIT is enabled

[2017-01-17 08:01] midwan commented on #8
Note to self: the graphics corruption issue is related to the RGB format used (if it's 32-bit) in combination with the Pandora "copy to 16 bit" routines, located in picasso96.cpp. Investigate if those are really needed on the Pi and take them away if they are not.

[2017-01-17 08:19] solskogen commented on #39
Keep in mind that this only applies to 3.5 and 3.9. WB 3.1 works perfectly.

[2017-01-17 08:42] midwan commented on #39
I've seen it happen on a few other installers as well, not WB 3.1 but maybe it's related to the size (WB3.5/3.9 have larger installer files than 3.1 for example). Anyway, I don't think it's specific to Installers only, it probably manifests there but it must be an underlying problem with the memory management/allocation mechanism somewhere.

[2017-01-21 18:04] midwan opened #41 "[SDL2] When changing resolutions back and forth, the screen goes black after 4 changes"
Applies only to SDL2:
When switching resolutions, e.g. from Picasso96 to PAL and back, after the 3rd change the screen goes black (i.e. on the 4th time)

[2017-01-21 18:32] #41 closed

[2017-01-21 18:48] midwan opened #42 "SDL2 | Input handling needs to be updated to SDL2 standard"
Currently keyboard input does not work correctly.
It needs to be updated to SDL2 standard calls.

[2017-01-21 21:15] pawelomega commented on #41
Hello #Midwan. I'm back from my hard work and first what i do was a fresh compilation  of amibary. Now all works are  very good but i see small delays when i trying to compse some music with my favourite tracker i feel some delays when pressed keys.  At this time black border was fixed and i want to say You thank you. Next saturday i will back to my job so next 3 weeks i cannot write comments.

[2017-01-21 22:40] midwan commented on #41
@pawelomega
I'm happy to see that the problem was fixed for you, but I believe you're referring to issue #31 instead. :)
This one is related to the upcoming SDL2 port.

We can take a look at the new problem you mention, but we should really handle it as a separate issue.

[2017-01-23 00:12] midwan commented on #8
Graphics corruption issue is now fixed.
Need to look into #41 next.

[2017-01-24 08:03] midwan commented on #33
Note to self: test if this is also occurring on the SDL2 branch

[2017-01-24 08:04] midwan commented on #21
@osvaldolove is working on this and had some good ideas.
Note: we should implement this in a libretro-friendly way, if possible.

[2017-01-24 08:06] midwan commented on #19
Note to self: Test this approach in the SDL2 branch

[2017-01-24 08:14] midwan commented on #15
@idatson
I'd like to test this on the SDL2 branch I'm preparing as well. Could you give me a list of games it happens with, or does it happen with all of them?

[2017-01-24 08:22] midwan opened #43 "SDL2 | Use the requested resolution width/height for Surface"
Instead of using the Display Preferences width and height in the emulator, we should be using the requested resolution's width/height.
This only applies to non-Picasso96 modes, as those are handled correctly.

Right now, the emulator uses a preset from a user-controlled slider (in the GUI->Display->Width and Height settings), but that has to be manually adjusted to get the correct aspect ratio. Fo

[2017-01-24 08:26] midwan commented on #3
Closing issue as it has been resolved in both SDL1.x and SDL2 branches, as long as the requirements are ment:
- Launch emulator as a normal (non-root) user
- Launch the emulator from the console (not X11)
- The Scroll Lock fix needs to be applied to the system otherwise the Scroll Lock LED will not work

[2017-01-24 08:26] #3 closed

[2017-01-24 08:30] midwan commented on #16
Fixed in the SDL2 branch, not sure if it's worth doing more on the SDL1.x anymore if we get that one fully working. Closing this issue for now, we can re-open it if necessary (e.g. SDL2 branch has unforeseen delays)

[2017-01-24 08:30] #16 closed

[2017-01-24 08:31] midwan commented on #17
@osvaldolove @HoraceAndTheSpider
We'll look into implementing a better input handling approach in the SDL2 branch, so I'm moving this issue there accordingly.

[2017-01-25 08:23] escalade commented on #26
guichan is included in src/osdep/pandora_gui.cpp again :)

[2017-01-25 08:26] midwan commented on #26
It was until yesterday, but not anymore (fixed a few other issues with compiling in on the Pi also).
Could you please get the latest and check again?

[2017-01-25 17:23] pawelomega opened #44 "Technological Death - problem with demo"
Please to check Technological Death demo. In scene at the Devil I see dissynchronizing scene (timer and animation)  and scene still staying. For ex. FS-UAE nad WINUAE demo playing normal.

[2017-01-26 10:25] midwan opened #45 "SDL2 | Black screen when browsing for ROM"
In the config GUI->ROM, when clicking the "..." button to browse for a ROM file the screen goes black.

[2017-01-27 09:18] escalade commented on #26
Yep, fixed :)

[2017-01-27 09:18] #26 closed

[2017-01-28 00:07] #45 closed

[2017-02-01 10:17] CypherXG commented on #33
Ok. I tested it.
Video Speed is good, but sound ist stuttering like my Video (50Hz Timing for Video but Sound Timing is variable or so.
I can not say so very well.
The Speed of the Emulator is on Amikit System very slow. You see in my Video how long it takes.
The new Time is 3 times as long. Seems the HD Speed is slow or the HD Timing are dependent from other Timings.

P.S. Can you add theese Pica

[2017-02-01 12:31] midwan commented on #33
@CypherXG
Thanks for the time to test and report back.
I'm moving the emulator to SDL2 and upgrading the core parts to bring them up to the WinUAE 3.4.0 standard, so we'll see about fixing this issue there.

Meanwhile, I can certainly add the new screenmodes though. :)

[2017-02-01 12:34] midwan opened #46 "Add new Picasso modes: 1366x768 and 1360x768"
Add these new Picasso96 modes:
1366x768
1360x768

[2017-02-01 12:38] #46 closed

[2017-02-01 13:01] midwan commented on #33
@CypherXG regarding the screenmodes, issue #18 has been handled already in the latest versions of both the Master and SDL2 branches. ;-)

[2017-02-01 13:05] midwan commented on #42
Added handling for all standard modifier keys (Ctrl, LAmiga, RAmiga, LShift, RShift)

[2017-02-02 14:24] midwan opened #47 "SDL2 | Use best scaling method depending on resolution"
If it's possible to scale up the resolution as an exact multiple (emulator vs native resolutions), we should use nearest neighbor which provides a sharp picture.
In other cases "linear" should be used to avoid an ugly distorted image.

Example:
- PAL modes scale up to 1280x1024 exactly (320x256, 640x512, 1280x1024 are exactly multiples) and if the native resolution of the monitor is such, we can e

[2017-02-07 13:18] CypherXG opened #48 "SDL1 | Ctrl + LWin + Rwin keys don't cause a reset"
I am currently writing on a keyboard interface for an Arduino to steer an Amiga 500 keyboard as HID interface.
Unfortunately, there is a small problem.
I can definitely not control the right Amiga button for a typical Amigareset.
The typical Amiga Reset on a Windows keyboard is done with CRTL + Win + WinMenu
The normal Winuae is thus clear that on a normal keyboard the right Windows key or the rig

[2017-02-07 16:27] skaba opened #49 "Serialization support for save states (preparing for libretro)"
So libretro API expects to serialize state directly into memory and and all UAE forks have file based API (due to compression I suppose). Hence non of the libretro ports out there support savestates. Is it possible to implement this?

[2017-02-07 16:39] a7mag3ddon commented on #49
What game formats are you using. I'm pretty sure save states states don't work on WHDLoad games either on uae4arm.

[2017-02-07 18:24] HoraceAndTheSpider commented on #49
I can't see the follow up comment here for some reason.

However, when using HD save-states can be used , but are deemed "unsafe" since HD writes (externally) won't be picked up by a fixed memory state.

To allow savestates support when using HDs, an "unsafe save states support" option should be added, to limit or permit this kind of usage. This could be left as "unsafe" in any libretto build

[2017-02-07 18:58] skaba commented on #49
@HoraceAndTheSpider I don't know enough about libretro to understand your comment maybe you can point me to right documentation

[2017-02-07 19:40] HoraceAndTheSpider commented on #49
i don't know anything about libretro either, but you seemed to be saying libretro ports *should* (if possible) support save-states?

There was a comment on here which i received on email, saying that ". I'm pretty sure save states states don't work on WHDLoad games either on uae4arm."

This is not true on the *latest* amiberry, *but* general convention (WinUAE/FS-UAE etc) is to *not* support save-

[2017-02-07 19:45] HoraceAndTheSpider commented on #17
The more i look at this, the easier i think it would be for this to be 'libretro' friendly.... since libretro maps  -> 'internal' host maps (south_button , north_button etc)   would replace the joy input ->  'internal' host maps  section.

This would allow focus on  'internal' host maps ->  game specific layouts (CD32, standard joystick, or custom) to be made as simple as possible, but retain func

[2017-02-07 21:42] midwan commented on #49
@skaba
I haven't investigated the libretro API very extensively yet, but since we're in charge of the code here we can at least attempt to do whatever is necessary. We'll see if we run into any problems and decide accordingly.

[2017-02-08 09:36] caitsith01 opened #50 "Error using your precompiled binary"
Hi - using your precompiled binary here: https://github.com/midwan/amiberry/releases

Placing this in a folder, making it executable and running it results in the error "SDLTrueTypeFont::SDLTrueTypeFont. Couldn't open data/FreeSans.ttf".

I assume this is supposed to be packaged with the binary?  I have installed all of the dependencies you mention.

[2017-02-08 09:36] caitsith01 commented on #50
I should add this is on an RPi3 running retropie using your RPi3 binary.

[2017-02-08 09:38] midwan commented on #50
@caitsith01
The binary is not packaged with the rest of the uae4arm content, e.g. data folders, config, icons and fonts. This was meant as a drop-in replacement, so I didn't package those together assuming they will already be in place.

I can update the release to include those to avoid such issues of course. :)

[2017-02-08 09:40] caitsith01 commented on #50
Understood.  So if I grab the source zip, dump that in the same folder and change ownership etc, should work, right?

[2017-02-08 09:41] caitsith01 commented on #50
Might be worth doing a full package so that people like me trying to do a 'clean' install can use it.  I was worried I would end up with old config stuff that clashed with the new version.

[2017-02-08 09:44] midwan commented on #50
@caitsith01
I'm uploading a full package now, give me a few minutes. :)

[2017-02-08 09:46] midwan commented on #50
@caitsith01
Ok, try getting the "full" package from https://github.com/midwan/amiberry/releases/tag/v2.1 now. ;)

[2017-02-08 09:53] #50 closed

[2017-02-08 11:41] midwan commented on #17
Note to self:
Ability to map mouse left / right button to the controller - the amount of games that require a mouse click to get past the crack screen!

Map certain keyboard keys to the controller - some games require space bar to bypass the crack screen.

Assign mouse movement to the right analog stick.

[2017-02-08 12:30] midwan commented on #17
Note to self:
Ability to map Savestate Load / Save to controller buttons

[2017-02-09 12:23] midwan commented on #48
This is a known issue with the current (SDL1.2) version, which is fixed already in the SDL2 branch.

I'll see if I can do anything for the current version as well, but since the SDL2 version is nearing completion we might not need to worry about it too much. ;-)

[2017-02-09 12:24] midwan commented on #44
@pawelomega
I'll test this with both branches and see. In in the process of upgrading the core to the WinUAE 2.8.1 standard as a first step, with the aim of bringing it up to 3.4.0 afterwards. That should fix all compatibility problems like this.

[2017-02-23 08:35] #47 closed

[2017-02-23 08:36] #43 closed

[2017-02-23 08:36] #8 closed

[2017-02-23 08:37] midwan commented on #13
Note to self:
Add a region in the GUI to map such custom controls

[2017-02-23 08:38] #15 closed

[2017-02-23 16:34] pawelomega opened #52 "XBOX 360 configuration not working when...."
When we exclude PAD XBOX 360 when Amiberry work and re-run again then configuration file in Amiberry is not working. All assign keys (entry GUI or QUIT) not working. We should get out of AMIBERRY and re-run again Amiberry then the PAD is on and all work like before.

[2017-02-23 19:06] pawelomega opened #53 "TIP - entry GUI ?"
Any chance to add free assign key to entry GUI when Amiga working ? For users (like me) which using keyrah2 is not possible to us F11 or F12 key to entry GUI.

[2017-02-23 22:02] midwan commented on #53
@pawelomega
This is planned to be handled as part of #21 actually, so no need to open a separate issue just for the GUI mapping. ;)

I'll close this one, we can track it on the other issue.

[2017-02-23 22:02] #53 closed

[2017-02-23 22:11] midwan commented on #52
@pawelomega
Could you please describe each step taken, so I can recreate the problem here?
How did you "exclude" the XBOX 360 pad exactly?

[2017-02-24 00:59] #14 closed

[2017-02-24 07:21] pawelomega commented on #52
Hello. My conclusion is when Amiberry start with working XBOX 360 PAD, everything work perfectly but when we not used PAD for w some time it automatically power off (or we power off manually) and when we power on it again then PAD doesn't work. Just i tested that situation a few minuts ago. Thanks

[2017-02-24 11:25] windale commented on #14
Will this write the changes only to a seperate file like WinUAE or will it modify the original ADF ?

[2017-02-24 11:48] windale commented on #52
The same/similar thing happens with Wireless PS3 controllers (maybe all wireless controllers). If the pad powers off from inactivity, the only way to get it working again is to exit the emulator and start it again to re-detect the pad.

[2017-02-24 12:01] midwan commented on #14
@windale
Like WinUAE, it will write the changes in the ADF itself. ;-)

[2017-02-24 12:25] windale commented on #14
WinUAE creates a separate file with '_save.adf' added to the filename so you don't damage the originals. For example, writing to Workbench disks.

[2017-02-24 12:26] midwan commented on #14
@windale
Is that an option somewhere in WinUAE? It did not create such a file in my tests, with the latest WinUAE 3.4.0...

[2017-02-24 12:28] windale commented on #14
No, I am using default v3.4.0. it writes the file to the same directory as the Winuae.exe. After writing it shows a button in the Floppy drives section where you can 'Delete save image'.

[2017-02-24 12:29] ariath commented on #14
Mmm... i think FS-UAE is the one that saves changes to a different ADF, like a "diff" file.

[2017-02-24 12:30] midwan commented on #14
@windale
I tried it a few minutes ago, created an Empty.adf new image, booted workbench 3.1 and created a new Directory in the empty disk.

No files were generated by WinUAE, either in the ADF's folder or WinUAE's folder..

[2017-02-24 12:32] windale commented on #14
Maybe Tony has changed something, my version is 3.4.0 (2016.12.21).

[2017-02-24 12:33] midwan commented on #14
@windale
Also, I don't see an option to "Delete save image" in WinUAE:
![image](https://cloud.githubusercontent.com/assets/3877365/23303674/c00a2ec0-fa95-11e6-9997-1a83996d6ef2.png)

I'm also using the same WinUAE verison, 3.4.0 (2016.12.21) 64-bit

[2017-02-24 12:35] windale commented on #14
Mine looks like this after making changes to a floppy -

![write protect](https://cloud.githubusercontent.com/assets/12862298/23303737/b2302b54-fa8d-11e6-8b1d-2cee0bc32582.png)

[2017-02-24 12:39] midwan commented on #14
@windale
Strange, I don't see that button here... :( I'll check WinUAE's source code to see if it only shows it under certain conditions.

[2017-02-24 12:40] windale commented on #14
Writing the saved changes to a separate file makes sense though otherwise you could destroy the original image.

[2017-02-24 12:47] windale commented on #14
I think it didn't work on yours because you already created a new Empty.adf.

[2017-02-24 12:51] midwan commented on #14
@windale
It behaves the same if I do it on the Workbench disk... and anyway, I created the Empty disk, then restarted WinUAE to be sure, then tested it. The button does not show up, no extra files are generated...

[2017-02-24 12:54] windale commented on #14
That's strange, I haven't altered any options regarding Floppy drives. Would it be anything to do with the 64-bit version ? (I'll try it).

Some ADF's won't even load unless you untick Write Protect (like Kult/Chamber of the Sci-Mutant Priestess). This way it will add the changes to a separate file and keep the zipped original un-altered.

[2017-02-24 12:57] midwan commented on #14
@windale
Zipped you said... :)

I found it! If the images are compressed with ZIP, then the button shows up and it works like you described. If they are ADF though, this does not happen.

[2017-02-24 12:59] windale commented on #14
Aha ! Could you make AmiBerry save changes to a separate file (maybe in a different directory) to preserve the originals whether they are zipped or not ?

[2017-02-24 13:02] midwan commented on #14
@windale
This is a feature of newer versions of WinUAE, so I'll have to look at how he implemented it there... but yes, it's possible.

[2017-02-24 13:07] midwan commented on #14
@windale
Actually, I think it may already be there... :) At least as an older implementation of the same idea.

In disk.cpp, line 789:
[code]

I'll have to run some tests to verify it works as expected, but the logic seems to be there.

[2017-02-24 13:12] windale opened #54 "Super Stardust AGA SuperHires resolution"
Hi, I tried this game on Amiberry 2.1 but at the beginning of the intro it completely locks up with no warning. I tried the same game on the Android version of UAE4Arm and it gave a warning saying "Superhires resolution requested. Not supported in UAE4ARM". I clicked OK and it continued, the graphics were corrupted but it didn't lock up. Once in game it's fine. I just wondered why AmiBerry never g

[2017-02-24 13:14] midwan commented on #54
@windale
Yep, this is a known bug for now - I was planning to include support for SuperHighRes so I took away the warning, but the implementation is not finished yet and it crashes if you try to use it. I'll get it fixed... :)

[2017-02-24 13:21] midwan commented on #20
Note to self: Now that the WinUAE 2.8.1 merge is nearly complete, check if that part of the code can be merged into the master/SDL2 branches

[2017-02-24 14:08] ghost opened #55 "WHDLoad First Samurai 1 & 2 Errors"
Hi, I tested these two games. First Samurai completely exits the emulator for some reason. Second Samurai AGA has completely corrupted graphics.

All these games I think also suffer from the 'Play Too Fast, need Cycle Exact'. But that's a whole new problem. Will AmiBerry ever get some sort or Cycle Accuracy ?, maybe DMA/Memory Accesses just to get the many games to play at the correct speed on WHD

[2017-02-24 14:10] HoraceAndTheSpider commented on #52
Possibly we can fix this by forcing pad initialisation routines to re-run when a new device is detected.

[2017-02-24 14:13] midwan commented on #55
Thanks, I'll test them and see what we find.
Cycle exact is coming as part of the big merge from WinUAE 2.8.1 that is currently underway.

[2017-02-24 14:14] midwan commented on #52
Indeed, this may be simple enough to fix.
I'll take a look this weekend.

[2017-02-24 16:19] windale opened #56 "HDF size limit"
I haven't tested this myself, but a lot of people say that it only supports HDF's up to 1 GB in size. I have always used a 1 GB HDF formatted to PFS3 but it would be good if it supported larger harddrives with RDB as there is also a 5 HDF mount limit.

[2017-02-24 16:58] midwan commented on #56
Duplicate of #20

[2017-02-24 16:58] #56 closed

[2017-02-24 17:02] windale commented on #56
Oops !

[2017-02-24 22:49] #54 closed

[2017-02-24 22:57] midwan commented on #14
@windale
Confirmed, if the disk is an archive (e.g. ZIP) then changes are saved to savestates/<diskname>_save.adf automatically. This does not happen with ADFs, where the changes are saved in the image itself.

I think for now we'll leave it to this, in order to merge WinUAE code easier. Once we're up to the 3.4.x standard, then we can make such changes.

[2017-02-24 23:13] midwan commented on #55
@windale
Have you tried disabling JIT?
I didn't get the emulator to exit, but I did get Guru meditations when JIT was enabled.

[2017-02-24 23:14] windale commented on #14
To the save states directory ? But the files will be different from an actual save state though, will you be able to tell the difference between this and the actual save state files ? I say this because if you wanted to revert the changes you would know which file to delete.

[2017-02-24 23:20] windale commented on #55
I can't remember actually, I'll try tomorrow. Not that it matters anyway because of the unplayable speed difference at the moment. I'm not sure if these games also have problems with the floppy versions.

[2017-02-24 23:25] midwan commented on #14
The disk images are always named <diskname>_save.adf, while savestates are named differently, so there shouldn't be a problem distinguishing one from the other...

[2017-02-24 23:26] midwan commented on #55
@windale
I tried the floppy versions only here for now... :)

[2017-02-24 23:32] windale commented on #14
That sounds fine then, I think most people like me would be using zipped files anyway (as it saves a ton of space) and if they need to make changes permanent then mount the file unzipped.

[2017-02-25 11:18] windale commented on #55
So I just tried these WHDLoad games again. I used a standard config, A1200, 14Mhz, 2MB Chip 8MB Fast NO JIT.

First Samurai - Exits the emulator when entering the game (you can skip the intro by pressing fire at the start)

Second Samurai - Exits the emulator when entering the game

Second Samurai AGA - Has corrupted graphics and exits the emulator when entering the game.

I also tried with JIT ON

[2017-02-25 13:51] windale commented on #55
These problems may automatically get fixed with your big merge update. Do you have a rough release date for the new "big" update and/or will there be anymore binary releases before then ?

[2017-02-25 17:31] pawelomega opened #57 "F1-F10 SDL2 not working"
Hi. Just checked today Amiga keyboard function keys F1-F10 and doesn't work. Can someone check may i have wrong keyset in Amiberry distro or something wrong in code Amiberry SDL.

[2017-02-25 20:28] midwan commented on #57
This is a known bug, and will be handled as part of #42
Not all input mappings are handled yet, I'm working on fixing that. ;)

[2017-02-25 20:28] #57 closed

[2017-02-25 20:31] midwan commented on #55
@windale
Did you test this with the SDL1 or SDL2 version? I'm curious about the emulator crash, as I haven't seen that yet in my tests, but I only tested it on the SDL2 version so far.

Most compatibility issues like these will probably be fixed with the update as you say, which is coming. I don't have a date, as it's a bit difficult to predict that at this point, but the biggest chunk of the code

[2017-02-25 23:16] windale commented on #55
I've only used the SDL1 version from the 2.1 binary from this Github. I normally only use pre-compiled binaries so I'm always behind until the next binary release. Is there a pre-compiled binary of the SDL2 version and is it compatible with RetroPie ?

I always keep JIT turned off as it creates problems on a few games and demos (well it did with UAE4Arm). I would only use it for heavy 3D games lik

[2017-02-26 15:30] midwan commented on #55
@windale
OK, that would explain why I didn't see the same things. It might be a bug that causes a crash that has been fixed in SDL2.

There is no pre-compiled binary for SDL2 yet, that will happen when we are ready for a release, or at least a beta version. You could follow the instructions on the README of that branch to compile it from source if you want to try it out.

[2017-02-26 18:45] windale commented on #55
When you say "the big merge from WinUAE 2.8.1 that is currently underway", isn't UAE4Arm already using stuff from WinUAE 2.8.1 ? Is AmiBerry stripped down at the moment and less compatible ?

[2017-02-27 10:37] midwan commented on #55
@windale
I found out that UAE4Arm only has bits from 2.8.1 (and those are modified/stripped down) and most of the code is based on older versions of WinUAE.
Amiberry is incorporating stuff from WinUAE 2.8.1 at the moment so I would say the opposite is true - it's more compatible than UAE4Arm. Although for now, the changes are minimal as in the master and SDL2 branches I'm focusing on fixing bugs m

[2017-02-27 13:09] midwan commented on #19
SDL2 will automatically scale the display to the resolution given, and this works for upscaling as well as downscaling.

The results will be ugly of course, if we downscale a 800x480 image to 320x240, but it should still be viewable.

[2017-02-28 00:30] #42 closed

[2017-03-02 11:30] midwan commented on #13
The framework for this has now been added.
The next step is to have the relevant options at the GUI, save those in the config file and test the whole thing out thoroughly.

[2017-03-02 11:31] midwan commented on #39
JIT is being rewritten from the ground up in a separate branch (winuae281), so this should be resolved when that work is finished.

[2017-03-02 11:33] midwan commented on #36
@solskogen
This will come as part of the WinUAE 2.8.1 merge, sometime later.

[2017-03-02 11:36] midwan opened #58 "[ADF] Jim Power slow on title screen"
The game "Jim Power" has a slowdown on the title screen.
The audio is breaking up while trying to keep in sync with the video.

Frameskip helps resolve this, but we should try and to optimize the areas causing it.

Version tested:
Jim Power - Mutant Planet (1992)(Loriciel)(Disk 1 of 2)[cr FLT]

[2017-03-02 11:37] midwan commented on #58
Running a profiler (gprof) shows these are the functions taking the most CPU % during this test:

%   cumulative   self              self     total
time   seconds   seconds    calls  Ts/call  Ts/call  name
 4.87      3.41     3.41                             m68k_run_2()
 4.79      6.77     3.36                             record_sprite_1(int, unsigned short*, unsigned int, int, int, unsigned int,

[2017-03-02 11:39] midwan opened #59 "Amikit X | Slow refresh on Picasso screen"
AmiKit X (and probably older versions also) show a significant slowdown when redrawing the Picasso screen.

We should try and optimize the functions responsible.

[2017-03-02 11:39] midwan commented on #59
gprof reports the following regarding this:

%   cumulative   self              self     total
time   seconds   seconds    calls  Ts/call  Ts/call  name
22.15      8.11     8.11                             copy_screen_16bit_swap
18.65     14.94     6.83                             do_specialties(int)
15.43     20.59     5.65                             do_cycles_cpu_fastest(unsigned long)
 2.24

[2017-03-02 13:30] windale commented on #58
I have tried this game before with your Amiberry 2.1 Binary release and turning JIT OFF gave an extra 5-6 fps. I noticed this on a few games/demos where it's better to keep JIT turned off. I now always default it to OFF.

[2017-03-02 13:32] midwan commented on #58
@windale
Yeap, JIT is not very useful with games and software that expects a "normal" A1200/A500 with chipset timings etc. In those cases, you're better off without it for now at least.

On the other hand, it is very useful when working with stuff that you want to go "as fast as possible", such as Workbench applications on Picasso resolutions.

[2017-03-03 17:24] ChoccyHobNob commented on #20
There doesn't appear to be any support for real RDB HDF files, only 'partition' HDF's.

[2017-03-03 18:47] midwan commented on #20
@ChoccyHobNob
Yes, that is the purpose of this issue actually :)
It's coming, it just takes some time to merge everything in, make sure it works, optimize it for ARM, etc.

[2017-03-04 14:40] windale opened #60 "SDL2 Questions/Bugs"
Hi, I just compiled your SDL2 version on the Pi 3 and noticed the following -

'Fast Copper' has been removed. Is this going to make the emulation a lot slower, especially on a Raspberry Pi ? On testing the demo 'Big Time Sensuality AGA' the sound slows right down (which didn't happen on the latest UAE4Arm) and the game 'Jim Power' is over 20fps slower.

When enabling the drive lights they appear

[2017-03-04 15:49] midwan commented on #60
@windale
Thanks for the feedback! Regarding your questions:
1) Fast Copper is an option that does not exist in newer versions of UAE, probably because it was incompatible or caused problems. In the latest versions for UAE4Arm it was also changed to be disabled by default. In harmonizing the code with WinUAE 2.8.1 (and upwards), I've removed it from the code and replaced the copper routines with th

[2017-03-04 16:42] windale commented on #60
I only tested one demo (Big Time Sensuality AGA) as this has copper effects but I just tested 3 more games that use copper (James Pond Robocod AGA, Trolls AGA and Oscar AGA) and they seem to work fine.

When you say 'scale to full screen', a lot of Amiga games have the big black bar at the bottom of the screen (640x256) but if you change the resolution to something like 640x216 it fills most of th

[2017-03-04 16:44] windale opened #61 "SDL2 | Drive Lights"
When enabling the drive lights they appear at the bottom middle of the screen with a black bar all the way to the right of the screen.

[2017-03-04 17:43] midwan commented on #60
@windale
It will automatically scale whatever resolution you choose on the Amiga side (let's say, 640x256 for HighRes, or 320x256 for most games) into the best possible match that would fill the screen, while keeping the aspect ratio. So, no black bars on the top/bottom, but there will be black borders on the left/right if you're on a 16:9 resolution/monitor.

The best fit would be a 5:4 monitor t

[2017-03-04 18:03] windale commented on #60
I can live with black bars on the sides as I always play retro games in the correct 4:3 aspect. I hate the stretched 16:9 look that distorts the aspect ratio. If it can fill more of the screen and keep the correct aspect then it's a bonus.

[2017-03-04 18:26] windale opened #62 "SDL2 | Very small mouse pointer in GUI at 1080p"

[2017-03-04 22:08] windale opened #63 "SDL2 | Resolution, Screen Scaling & Custom Controls don't save"
When trying to save these options it doesn't. Not that it matters with the controls yet, because as you already know the custom controls don't work especially CD32, or do they ? I'm using a wireless PS3 pad.

[2017-03-04 23:35] HoraceAndTheSpider commented on #63
I pushed a fix for cd32 controls on PS3 pads but not any others.
You need to set joy1mode=cd32joy iirc

[2017-03-05 10:15] windale commented on #63
In the GUI when it says 'Arrow keys as CD32' ?

[2017-03-05 10:39] HoraceAndTheSpider commented on #63
no, i dont know about the GUI, the joy1mode=cd32joy can be set manually in the .uae file though.

[2017-03-05 10:48] windale commented on #63
Oh, hopefully Midwan can implement this into the GUI so everyone will know about it as not all of us use your WHDLoader :)

[2017-03-05 11:07] HoraceAndTheSpider commented on #63
hi,

nothing to do with the booter - this is a standard UAE command. However, the 'nubs as cd32' etc is legacy stuff from the Pandora version, so there is no other way to select the CD32 pad mode when a direct controller is chosen.

[2017-03-05 11:36] midwan commented on #63
The GUI option mentioned refers to the built-in keyboard mapping for Joystick/CD32 controllers. In other words, that's what you can use if you don't have a real game controller connected (or detected).

If you have a controller connected, then you should select that instead. The "custom mapping" for a real controller is not worked on yet, that's coming soon. ;) For now, I've only worked on and tes

[2017-03-05 11:48] windale commented on #63
@midwan
I have PS3 pad selected in Port 1, as you said, that's why I can't use CD32 yet because custom mapping is not working yet.

The other options I mentioned are in the config file
gfx_correct_aspect=0
scaling_method=0
But they don't seem to save what I chose.

@HoraceAndTheSpider
It no longer says 'nubs as cd32' in the SDL2 version, you must be using an old version.

[2017-03-05 11:52] midwan commented on #63
@windale
Thanks for the clarification.
"gfx_correct_aspect" is no longer needed, as we use the correct aspect automatically always. Well, @HoraceAndTheSpider has a request to allow stretching, but again that won't need this option to work.

"scaling_method" on the other hand  IS needed and should be saved in the config. The default value is "-1" if nothing is specified and it's the "Auto" option.

[2017-03-05 11:58] windale commented on #63
I noticed that there are now two entries for 'scaling method' in the config. Maybe it is working but the GUI is not showing it because of the two entries in the config ?

[2017-03-05 12:04] midwan commented on #63
@windale
Thanks, I'll have to check and see. A good test suite would be:
1) Try with a brand new config, save it from scratch. Check the results
2) Load an older config which didn't have the option. Save it and check the results.
3) Try with a "newer" config that had the option saved already. Change/save and check the results.

[2017-03-05 12:08] HoraceAndTheSpider commented on #63
"It no longer says 'nubs as cd32' in the SDL2 version, you must be using an old version."

[2017-03-05 12:12] midwan commented on #63
@HoraceAndTheSpider
"nubs as cd32" has been renamed to reflect what it is a bit more accurately. :)
It refers to keyboard mapping, and specifically using the layout with the arrow keys, so I named it accordingly. If a better name idea comes up, we can rename it again. :)

[2017-03-05 12:14] HoraceAndTheSpider commented on #63
@midwan
sure, i think the point is being missed though. I was only using that as an example.

The CD32 pad mapping on PS3 pads though, the fix i submitted, is still in the SDL2 version, yes?

[2017-03-05 12:29] midwan commented on #63
@HoraceAndTheSpider
Yes, except the "Blue" button mapping which caused problems with the keyboard mapping - we'll have to check if that works correctly now or not.

[2017-03-05 12:37] windale commented on #63
@midwan
I created a brand new config with default settings, it seems that there are lots of duplicates at the start of the config

amiberry.custom_play=0
amiberry.custom_r=0
amiberry.custom_l=0
amiberry.custom_y=0
amiberry.custom_x=0
amiberry.custom_b=0
amiberry.custom_a=0
amiberry.custom_right=0
amiberry.custom_left=0
amiberry.custom_down=0
amiberry.custom_up=0
amiberry.custom_controls=0
button_f

[2017-03-05 12:38] midwan commented on #63
@windale
OK, thanks, if there are duplicates then there's something going on there. I'll take a look and fix it.

[2017-03-05 15:04] windale commented on #63
Also, on PS3 pad mapping

      Triangle
Square   Circle
        Cross

The Circle button used to be the main fire button, now it's X/Cross. Is this by design ?

[2017-03-05 15:07] windale opened #64 "SDL2 | No border sprites"
UAE4Arm used to be able to display border sprites, example is the game Banshee. The left third of the screen should be an information panel with number of lives, score etc. It's completely missing on AmiBerry SDL2.

[2017-03-05 15:07] HoraceAndTheSpider commented on #63
@windale - that would be correct. It was incorrectly hard-coded previously.Red button is the main fire button, which is positioned in the X position.

[2017-03-05 15:09] HoraceAndTheSpider commented on #63
@windale - that would be correct. It was incorrectly hard-coded previously.

Red button is the main fire button, which is positioned in the X position.

![pads1](https://cloud.githubusercontent.com/assets/567602/23588457/a975b414-01b5-11e7-9e81-d80fa84d40f2.jpg)

[2017-03-05 15:59] windale commented on #63
OK thanks, it just feels a bit strange now because I was used to Circle being the main fire button and all other emulators in Retropie (including the menu) use Circle as button 1. I'll get used to it.

[2017-03-05 19:48] midwan commented on #64
@windale
Thanks for the continuous feedback, it's very helpful to make the emulator better! :)

I'm working on a fix regarding this, but run into some problems with it. Once I've fixed it, I'll push out an update.

[2017-03-05 20:35] windale commented on #64
No problem, if I find anything i'll always let you know as I like your improvements. A lot of these things i'm finding are quite blatant so I must be the only person that's installed the SDL2 version, either that or no-one else can be bothered and just waiting for the end result ! :)

[2017-03-05 21:17] windale opened #65 "SDL2 | OCS & ECS Screen Bug"
@midwan If the chipset is OCS or ECS then the mouse pointer is stretched and you can't move to the left side of the screen, like an invisible wall. Works fine on AGA.

This means that OCS and ECS modes are unusable if you're using the mouse. Also effects graphics. I think this should be a priority.

[2017-03-06 10:47] ghost opened #66 "Repeating Sound on Short Samples"
Sometimes when short samples are played it sounds like it's played twice in quick succession. Good example is the game 'Jimmy Whites Whirlwind Snooker' when clicking the menu items and in-game when hitting a ball.

[2017-03-08 16:07] windale commented on #60
Just using this to bump, not sure if you saw my other two bug reports (the OCS/ECS bug is a big one). Everything going to plan or you're just taking a well earned break ? :)

[2017-03-08 16:13] midwan commented on #60
Everything is proceeding normally, I'm a bit busy implementing some updates these days and fixing the bugs that came with them.

Once they are fixed, we'll have drawing and custom chipset routines updated from WinUAE, which I expect might fix some of the compatibility glitches.

[2017-03-08 16:19] a7mag3ddon commented on #60
Jesus windale just because you don't get an instant reply to a bug report does not mean it has been ignored or not seen, we all get EMA's EVERYTIME you make a post!

[2017-03-08 16:40] windale commented on #60
@a7mag3ddon Allright, calm down ! I only asked.

[2017-03-09 08:04] CypherXG opened #67 "SDL1 | Missing Screen Resolutions..."
Ok. I write again about the missing Screen resolutions with Picasso Mode.
I'll be using Amikit and my own normally installed Workbench 3.1 with installed Picasso Driver from Aminet.
The RTG Library Version is 3994.
When i use "sry" CHIPS Version of uae4arm there are all Mods that was written in the rasp_gfx.cpp File.

In your rasp_gfx.cpp are these Modes:
#define MAX_SCREEN_MODES 13
static int x_s

[2017-03-09 08:49] midwan commented on #67
@CypherXG
I'm not exactly sure what the problem is here... :)
Do you mean that you're missing the 720x400 and 960x540 resolutions, even though they are in the list?

[2017-03-09 08:51] midwan commented on #65
Note to self: Need to test this after the new changes in drawing.cpp, in SDL2

[2017-03-09 08:55] midwan commented on #62
The mouse pointer used in the GUI is coming from the Linux system itself, so the size is also coming from there. However, we should be able to override it in SDL2 and use our own design and size also.

This might be fun and interesting if we used an "Amiga design" pointer actually, but I'll have to see how that is implemented (I haven't done it before). Then depending on the native resolution we c

[2017-03-09 10:10] CypherXG commented on #67
The Problem ist that not all Screenmodes are listet in the Workbench Screen Resolution Prefs
Only Standart PAL and NTSC (Amiga standart Modes)
and from the Picasso Modes only
640x400, 640x480, 800x480, 800x600, 1024x768 (8,16,32Bit). Thats all
With Chips Version and the same Amiga Systems all Screenmodes from rasp_gfx.cpp are listet and can be used

[2017-03-09 10:13] midwan commented on #67
That sounds strange, as I have been using the emulator using Picasso modes up to 1080p here, even on the Pi Zero... :)

There might be something wrong with your system (Workbench installation, Picasso installation) if you're missing those modes. Do you have a Picasso-related monitor driver in Devs:Monitors?

[2017-03-09 10:22] CypherXG commented on #67
Here is a Screenshot from Chips compiled orginal src Code:
https://picload.org/image/rllgipli/img_20170309_111700.jpg
Here is your Scrennshot fresh compiled from your scr Code:
https://picload.org/image/rllgiplw/img_20170309_111417.jpg
You see the differents betwen the listet Screenmodes with the same System.

With my System i think is all ok. Amikit...ok....but i installed a new fresh Workbench f

[2017-03-09 10:23] midwan commented on #67
@CypherXG
Thanks, I'll take a look at my system later today and check what I have there to compare.

[2017-03-09 10:24] CypherXG commented on #67
No Problem. :-)

[2017-03-13 09:14] symbios24 opened #68 "Amiberry install amiga OS"
Hello, i would like to know if its possible to install Amiga OS in amiberry,  if yes are there any instructions on how to install it?

Thank you

[2017-03-13 09:32] midwan commented on #68
@symbios24
Amiberry is a UAE clone, so it works very much like all UAE clones. You can use an ADF image of Workbench disks for example, to start it up and begin an installation.

You will need to configure either an HDF or a directory as a "Hard Drive" for the Amiga side. I'd recommend a directory as it's easier to manage and has less problems (HDFs can be problematic if they grow in size and you

[2017-03-13 09:32] #68 closed

[2017-03-13 09:42] symbios24 commented on #68
Kalispera ellinas eisai?

[2017-03-13 09:43] midwan commented on #68
Ναι :)

[2017-03-13 09:45] symbios24 commented on #68
Kali doulia ekanes mpravo, epidi ligo me zalizei i diadikasia na ta kano ola afta eiparxei kapio image me to amiga os eggatestimeno?

eyxaristo

[2017-03-13 10:07] midwan commented on #68
Δες το ClassicWB που ανέφερα παραπάνω, είναι σχετικά εύκολο.

[2017-03-13 10:31] symbios24 commented on #68
euxaristo oi odigies einai se video eiparxoun odigies se keimeno?

[2017-03-14 04:55] symbios24 commented on #68
kalimera katafera na to kano, tora thelo na trexei apefthias stin ekinish sto boot mipos ksereis pos tha ginei afto?

[2017-03-17 21:13] midwan commented on #67
Confirmed, seems to be a bug in the SDL1 branch. Something added recently, since this used to work in earlier versions.

I'll get it fixed. :)

[2017-03-17 21:45] midwan commented on #67
@CypherXG
Did you do any software updates recently? The emulator hasn't changed regarding this area really, but software updates (especially firmware updates on the Pi video drivers) have changed a lot lately.

The problem originates from the check that SDL1 makes before adding a mode, using SDL_VideoModeOk() for a given screenmode in the list. If it detects that the mode is supported, it will be

[2017-03-17 22:03] midwan commented on #67
Actually, I take that back... It helps if the monitor supports the resolution you're testing (argh). :)

Let me see if I can prepare a quick fix

[2017-03-17 22:11] midwan commented on #67
@CypherXG
I've pushed out an experimental fix, could you please test on your side and let me know if this works better?

Thanks!

[2017-03-18 09:45] CypherXG commented on #67
Uhhhh Yeeeeaahhhh...say the Macho Man .....
Yes, this little fix shows all Screenmodes now.
Bug is Fixed......

[2017-03-18 14:09] midwan commented on #67
Thanks for confirming!

[2017-03-18 14:09] #67 closed

[2017-03-18 20:04] CypherXG opened #69 "PowerLED + HD LED Bug"
Sry that i found a small Bug again :-)
There is a little Bug with the PowerLED Filter and the HD LED.
At the start the Amiga Filter is standart set on. U can see it while the LED Color "red" lights up for the Power LED. This is standart in all Amiga Computer.
Same with the HD LED. The behavior is accurate as the Power LED.
HD reading or writing does not change the HD LED Color.
I've test it. I mak

[2017-03-20 06:32] symbios24 commented on #68
Kalispera, mipos ksereis pos mporo na peraso to quake kai to doom sto amiberry?

efxaristo

[2017-03-20 07:03] symbios24 opened #70 "Quake/Doom Installation"
Hello, great project

Does anyone knows how can i install Quake/Doom to Amiga OS? is there a guide somewhere?

Thank you

[2017-03-20 08:33] midwan commented on #69
@CypherXG
Thanks for the feedback. Also, never be sorry for finding a bug, it helps making things better and we should be grateful for finding it (it means we can fix it). :-)

I'll test this and see what I find.

[2017-03-20 08:34] midwan commented on #70
@symbios24
Thanks for the kind words. Let's try to keep the "Issues" list for bug reports and suggestions however, guides can be found in other places (forums, Facebook groups, etc.).

Closing this one since it's not really an "issue" :)

[2017-03-20 08:34] #70 closed

[2017-03-20 08:40] midwan opened #71 "SDL2 | Keyboard input "spills" to the console"
This seems to be an issue with other SDL2 apps as well (might be an SDL2 bug?).
Keyboard input during emulation "spills" back to the console/system. Even if the GRAB_KEYBOARD Hint is enabled, it doesn't seem to work.

Keyboard input needs to be grabbed within the emulation session only.

[2017-03-20 21:49] Voljega opened #72 "Document full list of dependencies"
Hello Midwan,

First of all this is gonna be quite long and maybe totally stupid and I'm sorry for it if this is the case (I'm not very good in linux)

So I'm currently currently developping some custom solution to add Amiga emulator to Recalbox which is a retrogaming distribution, kinda Retropie but instead of being based on Rasbian it's buit from scratch using buildroot. So on this distribution

[2017-03-20 21:59] Voljega opened #73 "SDL1 | Button shortcut for GUI and exit emulator don't work in GUI"
Well simply said, when inside the GUI those two buttons won't work, you have to click Resume to return to the game and then they work again.

I thought it would be cool if the GUI button shortcut acted as a toggle (in/out) and the exit button everywhere.

Also I'm just writting that here as I maybe remember to have already read it on the issues there, but it would be good to be able to use 'higher

[2017-03-20 22:27] midwan commented on #72
@Voljega
Wow, thanks for your effort in documenting these. It's certainly useful to have, especially if you want to use it on systems like the one you described.

I'll make sure to add them in the readme, just in case others need it as well.

Thanks!

[2017-03-21 09:47] midwan commented on #73
Those are good points, I'll make sure they are implemented.

Full button range mapping is coming in future versions. :)

[2017-03-21 11:05] midwan commented on #71
Reported to SDL2's Bugzilla system: https://bugzilla.libsdl.org/show_bug.cgi?id=3611

[2017-03-21 13:49] midwan commented on #72
For the record, Amiberry SDL1.x doesn't use any extra libraries than UAE4Arm-rpi. They are identical in their requirements.

This changes with Amiberry SDL2 however, since I have switched to SDL2 libraries there. Besides the SDL framework, the rest of the dependencies are also the same there.

In your list of "explicit dependencies", those mentioned are part of SDL1.2, libmpg123 and libxml2. All o

[2017-03-21 17:11] HoraceAndTheSpider opened #74 "Additional Kickstart ROM scanning paths"
The default path for kickstarts is presently ~/kickstarts

that is overwritten by:
pandora.rom_path=  from within the .uae file.

e.g. pandora.rom_path=/home/pi/RetroPie/BIOS/Amiga/

I would request that multiple paths are scanned for the kickstart, in order:
-  pandora.rom_path=
- ~/kickstarts
-  /home/pi/RetroPie/BIOS/
-  sub-folders of /home/pi/RetroPie/BIOS/  (or /home/pi/RetroPie/BIOS/Amiga)

[2017-03-21 17:27] windale commented on #74
Just out of interest, why did you change the kickstarts path to BIOS/Amiga ? Everything in RetroPie says to put the kickstarts in the BIOS directory. It would probably be easier to get RetroPie to change the SymLinks.

[2017-03-21 17:29] windale commented on #62
Yes, the mouse pointer is larger at 720p. I'll probably keep 720p as the default as it might give a slight speed increase ? The Amiga mouse pointer does sound good though for the future.

[2017-03-21 17:33] HoraceAndTheSpider commented on #74
Because the latest RetroPie has much more organised BIOS folder.

This includes separated folders for Machines, PPSSPP, and capitalisation of letters.

Regardless of this, the "request" still stands- it would be better practice to check multiple folders, and fairly simple to implement.

[2017-03-21 17:42] windale commented on #74
You don't have to sound so sarcastic in all your posts. The RetroPie BIOS folder has always been like that. There are symlinks in the kickstarts directory that point to the BIOS folder, these could simply be changed to BIOS/Amiga otherwise what's the point in them being there ?

[2017-03-21 17:57] HoraceAndTheSpider commented on #74
It's really not my fault if you read it as sarcastic when it is not. There is very little I have commented on here.

I can post a picture of an older "messier" bios folder with othe files no longer included there if you really want, but I don't know what that will achieve.

Anyway - on topic ; i am not saying the  symlinks cannot be changed.

I am  just saying that doing this doesn't mean that sca

[2017-03-22 09:38] Voljega commented on #74
is it really a good idea to tie amiberry so much to Retropie though ? harcoded I mean...
uae file should be enough to specify kickstart directory

[2017-03-22 09:42] a7mag3ddon commented on #74
It's an additional directory lookup it's not a change to anything

[2017-03-22 09:42] osvaldolove commented on #74
It shouldn't be coupled to Retropie.
But having it checking kickstart path in config before falling back to a default should be a valid use case.
Default on failed parsing of this setting should be **./kickstarts**

[2017-03-22 09:44] osvaldolove commented on #74
Maybe there is scope to have a list of search paths instead, but again this should come from the .uae config and not hard coded.

[2017-03-22 09:50] midwan commented on #74
Nothing will be hardcoded... :)

There is already support for multipath structures in the SDL2 branch, if you look in options.h:

[code]

MAX_PATHS is already defined as 8, that should be enough surely?

And actually, the interesting parts we're talking about here, are already updated to be multipaths:

[code]

And they are supposed to be saved like that in the config file ("supposed" because I ha

[2017-03-22 10:16] osvaldolove commented on #74
Sounds spot on to me 👍

[2017-03-23 10:58] loz34 opened #75 "SDL2 | Custom keys mapping"
Hi, I am using an X-Arcade tankstick as my controller.
Retropie recognises the x-arcade as a keyboard not a controller
Setting custom keys within Amiberry doesn't work.
I need to be able to change PgDown to another key.
Does Amiberry use ascii?
Thanks

[2017-03-23 17:13] CypherXG opened #76 "Bug found now in the Image Size...."
Hi i found one Bug again.
You can found it if you change the Resolution Width.
There are some Errors if you switch the Resolution to 320, 352, 384 and 704 Pixel.
640 and 768 Pixel works fine.
I compiled a fresh Version of your Code and use your Built-in Amiga 500 Config.
I post here some example with Witdth 320 and 352 Pixel.

320 Pixel: https://picload.org/image/rlpcacli/320.jpg
352 Pixel: https:

[2017-03-23 22:24] Voljega commented on #55
Hello I can confirm the bug on both games in WHD Load, amiberry 2.1 on Pi2 crashes when entering the game after intro/selection and for Second Samurai menu is a little bit graphically messed up too. Exactly as windale said

Both of them worked fine on uae4arm 0.4, I may be able to test it on uae4arm 0.5 if you're interested

[2017-03-24 12:46] jarokuczi opened #77 "Pi 1/Zero | Emulation/Pi freezes after selecting picasso mode"
Hi,
Like in title emulation freezes after switching to picasso video mode.

Clean Workbench/Kickstart 3.1 with Picasso 2.0 from Aminet.
Raspberry Pi1B

[2017-03-24 14:07] CypherXG commented on #77
Do you have rtg.library 40.3994.
With your Picasso Install 2.0 from Aminet you only have rtg.library 40.3945.
You must update your rtg.library.
Here. I've uploaded version 40.3994

https://www.file-upload.net/download-12395503/rtg.library.html

Do you installed Binary package dependencies?

libsdl1.2debian libsdl-image1.2 libsdl-gfx1.2-5 libsdl-ttf2.0-0 libmpg123-0 libguichan-sdl-0.8.1-1 libxml2
l

[2017-03-24 17:49] jarokuczi commented on #77
i have installed version bundled with dietpi. I was using old rtg.library with upgraded after switch screen mode to one of picasso modes screen showed up for a moment and goes black like before and emulator freezed.

[2017-03-24 19:07] CypherXG commented on #77
Then update all to new versions.

[2017-03-24 20:40] Voljega commented on #55
So I was able to invetigate a little more byt changing the executable used by my script :
- amiberry : crashes on entering first level
- uae4arm chips 0.5 : crashes on entering first level
- uae4arm chips 0.4 : doesn't even launch anymore.

Now I definitely tested those two games back on uae4arm chips 0.4 and they worked fine, the only thing that changed since is installing the additional libs nee

[2017-03-24 21:14] midwan commented on #55
@Voljega
Thanks, every detail helps in tracking bugs down. I didn't have time to get into this one yet, as I'm busy upgrading the custom chipset, drawing, blitter and events routines from WinUAE 3.4.1 (which should fix several compatibility issues).

Once I get into this I'll find out what's causing it.

[2017-03-26 09:23] CypherXG commented on #76
Ok i've found the Error.
In src/osdep/rasp_gfx.cpp Line 189
Dummy_prSDLScreen = SDL_SetVideoMode(width, height, 16, SDL_**HW**SURFACE | SDL_FULLSCREEN);
Change it to:
Dummy_prSDLScreen = SDL_SetVideoMode(width, height, 16, SDL_**SW**SURFACE | SDL_FULLSCREEN);

Then all Resolutions are working fine in all Modes.
This change has no effect on the "missing resolutions" errors :-)

Best regards....Mark

[2017-03-26 18:00] midwan commented on #76
Great find, thanks!
It might be what caused the "missing" resolutions also actually.

I'll roll this change back to SWSURFACE and prepare a new binary with the fix.

[2017-03-27 10:01] jarokuczi commented on #77
tried latest released version 2.1 without luck.

[2017-03-28 13:42] jayminer81 commented on #77
I have the same problem, I used an existing installation from FS-UAE and just copied my Workbench-installation over, everything works as long as I don't try to switch to a Picasso96 screenmode. If I do I only get a black screen and even if I kill uae4arm-rpi I still don't get any picture on the screen. All I can do is reboot. I tried replacing rtg.library as mentioned here but it made no differenc

[2017-03-28 13:44] midwan commented on #77
Thanks for the feedback.
This seems like a pattern on the Pi 1 model, unfortunately I don't have such a model to test with here, but I have a Zero (which share the same CPU). We'll see if I can recreate it on that.

[2017-03-28 13:45] midwan commented on #73
FYI, this (the GUI toggle button) is already in the SDL2 version which will eventually replace the older SDL1.x one.

[2017-03-28 13:47] midwan commented on #71
Update: this only seems to happen if:

1. SDL2 was compiled from source to support opening screens directly from the console (i.e. no X11 requirement)
2. OpenGL was disabled while compiling SDL2, because it has higher priority than OpenGLES2 (sigh) and leaving it enabled does not allow for point 1 above.

If instead we use OpenGL (enabled in raspi-config) and SDL2 compiled with opengl enabled, the

[2017-03-28 14:06] Voljega commented on #73
cool ! I'll test it when it'll be out

[2017-03-28 14:08] Voljega commented on #55
No prob just a look at github issues and I can see there's a lot on your plate !

I can still try one thing : launch my scripts and thus the emulator through command line and see if there's an explicit error in console when it's crashing, that could help a lot

[2017-03-31 08:29] midwan commented on #71
Interesting find: In RetroPie 4.2, SDL2 is deployed as pre-compiled binaries.
Using that environment, the bug above does not occur.

Tried using the same pre-compiled SDL2 binaries on a fresh Raspbian installation, but there was no difference there (still got the problem), so it's not in the binaries themselves.

It looks like something else in the system configuration might be enabling this behav

[2017-03-31 12:40] midwan commented on #71
Tested using the RetroPie approach and it seems to solve the problem.

The steps are:
1) git clone https://github.com/RetroPie/RetroPie-Setup
2) cd RetroPie-Setup
3) sudo ./retropie_packages.sh sdl2

This installs SDL2, so we still need SDL2_ttf and SDL2_image which should be installed from source as usual. After this is installed, running the emulator does not show the problem anymore.

It would

[2017-03-31 12:40] #71 closed

[2017-04-05 20:07] midwan commented on #76
Fixed with 33fe45f39263dedb231f1958dfd7d3824bdc1db6

[2017-04-05 20:07] #76 closed

[2017-04-05 20:12] midwan commented on #60
Closing issue since the bug(s) mentioned are already on separate issues

[2017-04-05 20:12] #60 closed

[2017-04-05 21:44] midwan commented on #62
Added custom mouse pointer - fb023d05461b4662ea951e51a300c5d5e6c259c8

[2017-04-05 22:08] #62 closed

[2017-04-09 11:58] rabejens opened #78 "SDL 2 | DietPi Autostart | Keyboard input in emulator is sent to underlying console / vt"
I set up DietPi to boot into Amiberry, and I exchanged the version that is shipped with the new SDL2 build.

The root console gets started in the background and everything I type in the emulator also gets sent to the underlying console.

Steps to reproduce:

 1. Install DietPi with Amiberry ("The complete distribution" from the Amiberry site)
 2. Build the SDL2 version
 3. Drop the generated execu

[2017-04-09 12:02] rabejens opened #79 "SDL 2 | Autostart configuration w/o GUI: "Unable to set video mode" / black screen"
When I deactivate "Show GUI on startup" in my autostart configuration, the emulator locks up when it wants to set the needed resolution.

When I start such a configuration from the console like doing `./amiberry-sdl2 -f nogui.uae`, I get `Unable to set video mode`

When I boot DietPi to directly launch such a configuration, I get a black screen.

In both cases, the Pi doesn't respond any more loca

[2017-04-09 13:50] Fourdee commented on #78
@rabejens
Thanks for the report 👍
We'll be implementing AmiBerry SDL 2 soon into DietPi, i'll take a look at the reported issues at the same time.
https://github.com/Fourdee/DietPi/issues/850

[2017-04-09 13:50] Fourdee commented on #79
@rabejens
Thanks for the report 👍
We'll be implementing AmiBerry SDL 2 soon into DietPi, i'll take a look at the reported issues at the same time.
https://github.com/Fourdee/DietPi/issues/850

[2017-04-09 15:37] Dragontorc commented on #67
First, thanks for making this project happen.  Second, I'm trying to get higher resolutions to work on RPi but no matter what I try it doesn't work.  I tried to use AmiKit (which I had successfully installed using WinUAE) but whenever I try to boot HDF with AmiKit on RPi it crashes (Guru).  I've also made HDF with OS 3.9 (once again using WinUAE) and installed Amiga OS 3.9 with Picasso 96 drivers.

[2017-04-09 16:22] CypherXG commented on #79
I start my Emulator with ./amiberry -config=myconfig.uae -s -use_gui=no
and it works perfectly with all my configs like Amikit etc.
In my Config i deactivate Show Gui  on startup.
That's all.

[2017-04-09 19:09] midwan commented on #78
Duplicate of #71
Need to check if the solution that was tested and worked on Raspbian and RetroPie has any issues with DietPi, otherwise this can be closed.

[2017-04-09 19:56] midwan commented on #78
Relates to fix https://github.com/RetroPie/SDL-mirror/commit/294906558e67f7046b01bb2dc13da6c59a27db44 in RetroPie's SDL2 mirror.

@Fourdee this may be related to the fact that we're switching tty in the boot options to avoid displaying the boot messages?

[2017-04-09 19:58] midwan commented on #71
For future reference, this is fixed with a patch on SDL sources: https://github.com/RetroPie/SDL-mirror/commit/294906558e67f7046b01bb2dc13da6c59a27db44

[2017-04-09 20:55] midwan commented on #67
@Dragontorc
This was fixed in the sources recently (see above) but no new binary was pushed out. To get the fix, you'll need to compile the latest SDL1 version (master branch for now) from source.

[2017-04-09 23:01] midwan commented on #78
@Fourdee

Confirmed:
- DietPi v148 with manual starting of Amiberry-SDL2: no problem
- DietPi v148 with Amiberry Autostart (either Standard or Quick mode): keyboard input leaks to the console

This must be related to something changing in the autostart function of DietPi. Didn't have time to test more for now, but at least we have something to focus on.

[2017-04-09 23:03] midwan commented on #79
@rabejens
Thanks for the report, I'll test and see if I can recreate this...

[2017-04-09 23:05] midwan commented on #75
The custom mapping functionality is planned to be improved (a lot), so hopefully this would help your situation as well.

I have an X-Arcade to test with, so this will not be a problem. :)

[2017-04-10 02:21] Dragontorc commented on #67
Thanks for quick reply.  I've compiled master branch on Raspbian.  I can see hi-res modes available when booted from my OS 3.9 HDF but as soon as I select and use say 1920x1080 all I get is blank screen and only way to close Amiberry is to reboot RPi using SSH from other PC.  AmiKit HDF image still shows GURU few seconds after the boot.  Any other thoughts?

Thanks again for reply.

[2017-04-10 02:35] Dragontorc commented on #67
After playing little bit, I've managed to get old HDF image of AmiSys4 to run in 1920x1080 in full color.  So my last issue is really with AmiKit (which I would love to run on Pi even in less than 1080).  I realize it is little of topic but would you happen to know how to get AmiKit tp work on Amiberry as it is probably best emulated Amiga experience available now days?
Thanks.

[2017-04-10 08:24] midwan commented on #67
@Dragontorc
To run AmiKit you'll need to edit the startup-sequence it has and remove the full-screen logo that pops up during boot (I think it was called "ShowAmiga" ?). I found that it causes freezes and black screens under emulation, but removing that allows it to continue booting.

However, it's currently quite slow in refreshing, probably due to the patches (AFAOS?) that are active. One of the

[2017-04-10 08:54] Fourdee commented on #78
@midwan

Thanks 👍

I'll take a look, most likely needs a service tweak for SDL2 version.

[2017-04-10 09:10] midwan commented on #79
@CypherXG
Did you test this with the SDL2 version also?

[2017-04-10 11:37] Dragontorc commented on #67
That makes sense.  For a time being, I'll stick to Amisys4 or make new HDF with 3.9 and wait for SDL2 release.
Thanks again!

[2017-04-10 14:24] CypherXG commented on #79
I compile your Version that you write on your Site:
https://github.com/midwan/amiberry for my Pi3.
That is with SDL2 or not? Or is there a separate SDL2 Version?

[2017-04-10 14:37] midwan commented on #79
@CypherXG
The master branch is still using SDL1, the SDL2 version is in a separate branch "sdl2". Unless you checked out the SDL2 branch you're still using the older version. :)

The plan is to move the SDL1 version to a separate archive branch and replace the master with the SDL2 one, as soon as that version is stable enough for a release.

Regardless, I just pushed a fix for this bug, thanks for

[2017-04-10 14:37] #79 closed

[2017-04-10 15:47] CypherXG commented on #79
Mhhhh
How should I say that. The old version runs somehow better.
When I have just launched the new version, I first thought "Huch what is the happening there"
I do not like the surface.
And when I started my Amikit configuration, I've immediately determined again that the resolution does not fit.
In the old configuration, the image is adjusted to full screen, but not in the new one. There I have

[2017-04-10 17:02] midwan commented on #65
Confirmed in current SDL2 version

[2017-04-10 17:04] midwan commented on #65
Note to self: does not occur in SDL1 version

[2017-04-10 18:21] midwan commented on #79
@CypherXG
The resolution is automatically adapted to keep the correct aspect ratio, so it depends on what resolution you're currently running on the Pi vs what resolution you requested the emulated Amiga to open.

For example, a 320x256 screen will not stretch to 1080p, it will be scaled as much as possible vertically but it will leave borders left and right. That way, the image looks correct and

[2017-04-10 21:14] midwan commented on #65
@windale
This should be fixed now, please test when you get a chance and let me know if it's still an issue for you?

Thanks for bringing it up.

[2017-04-10 21:14] #65 closed

[2017-04-10 21:38] midwan commented on #64
Confirmed in SDL2 version, does not occur in SDL1 version.

[2017-04-11 13:28] windale opened #80 "SDL 2 | Font & No Capital letters can be entered in GUI boxes"
In the chipset section, 'Wait for blitter' and 'Sprites and Sprites vs. Playfield' are slightly cut off.

Is the new font the same as in Workbench/DOS etc. ? It doesn't look quite right, maybe it's a bit too bold as 8's look like 0's in the CPU section.

Also, can't enter capital letters in the Configurations Name and Descriptions boxes.

[2017-04-11 13:55] windale commented on #65
Yep, seems to work fine now.

[2017-04-11 13:59] windale commented on #63
I know you haven't touched on this yet but I noticed on github that you changed all references of 'Pandora' to 'Amiberry' but when creating a new config file there are still entries for 'pandora' listed.

[2017-04-11 22:14] windale opened #81 "SDL 2 | File requester list position"
When picking a disk image in the file requester and then opening it again to pick another game/disk the list position has shifted a few pages.

Also, the mouse is a bit sluggish/stutters when the requester is open.

[2017-04-13 15:15] tednilsen opened #82 "bluetooth gamepad not reconnecting"
bluetooth gamepad isn't reconnecting when turned on again, so the user is forced to quit amiberry with keyboard / mouse and restarting amiberry again to use the gamepad.

[2017-04-13 15:51] midwan commented on #82
This will be a bit hard to troubleshoot as I don't have a bluetooth controller, but we'll see what we can do.

What type of controller are you testing it with? PS3/PS4?

[2017-04-14 03:27] tednilsen commented on #82
I have a G910, but fails with other gamepads too, I haven't tried xbox controller.
Works with no issues in RetroArch and more.

[2017-04-14 06:57] HoraceAndTheSpider commented on #82
This is duplicate of issue #52 I think and should be merged.

[2017-04-14 10:30] midwan commented on #82
@HoraceAndTheSpider indeed it is, thanks

@tednilsen this will be merged with #52

[2017-04-14 10:30] #82 closed

[2017-04-14 18:33] windale commented on #71
I built using your latest instructions (use RetroPie SDL2) but I am still getting stuff spill to the console. Would this be because I previously had used your old method of installing SDL 2 ?

[2017-04-15 19:21] midwan commented on #71
@windale
Probably yes. Please try removing SDL2 first (run `sudo make uninstall` from within the build directory of SDL2), then install it using the instructions in the README.

[2017-04-15 19:48] midwan commented on #19
Does anyone have a display with a resolution of 320x240 to test with?

The current SDL2 version already does auto-scale to fit the native resolution, so I was wondering how it looks like that. If it's not too awful, maybe we don't need to redesign the whole GUI and we can close this issue.

[2017-04-15 21:14] HoraceAndTheSpider commented on #19
I do, but I need to fix up my PiGrrl again.... will look into that for you!

[2017-04-15 22:14] windale commented on #81
I think the list position shifts away from the previously selected file a different amount depending on how many files are in the directory. Doesn't happen on SDL1. (More files mean more sluggish mouse also, which I didn't notice happening on SDL1).

[2017-04-15 22:21] windale commented on #80
The font looks a bit better with the adjusted colour scheme but still doesn't look right compared to workbench/DOS. It might just be me :)

I'm not sure if you could use capital letters when entering config names in SDL2. I can't remember, so don't know if its because of the new font.

[2017-04-16 10:58] windale opened #83 "SDL 2 | Latest commit build error"
Just tried to build after your latest commit https://github.com/midwan/amiberry/commit/0fb37784de3c25dc90f085dde2dd96fa4c3d47be and got this error -

[2017-04-16 14:07] midwan commented on #83
@windale
There hasn't been any dependency change recently, certainly not with that commit.
To be sure, I just tested a build from scratch on the Pi3 here and it worked normally.

Please make sure you have the **SDL_image** dependency installed in your system as per the instructions in the readme. If it's in another path for example, it may not get picked up.

The Makefile will use `sdl2-config --c

[2017-04-16 14:07] #83 closed

[2017-04-16 21:12] windale commented on #83
I'm still getting the error when I try to build. It started when I tried to get rid off the old method of SDL2 that used to be installed in your build instructions. I didn't know where it was installed so I built it again using the old instructions -

cd ~
wget https://www.libsdl.org/projects/SDL_image/release/SDL2_image-2.0.1.tar.gz
tar zxvf SDL2_image-2.0.1.tar.gz
cd SDL2_image-2.0.1 && mkdir bu

[2017-04-16 21:22] pawelomega opened #84 "problem with saving my configuration to *** .uae"
Hey M8. I found some bugs in saving configuration to new configuration ex MyA500.uae. Im trying to setup leds numlock for power and scroll lock for DF0 next im setting filter LINEAR(smooth) and MENU BUTTON for xbox 360 pad as JoyButton1 then saving my config. Exiting and re-run amiberry-sdl2 then loading my saving config and in miscellaneous my setting for numlock and scrolllock are back to defaul

[2017-04-16 21:24] midwan commented on #83
@windale
Did you remember to do this part when you installed SDL2 with the updated instructions?

[2017-04-16 22:11] windale commented on #83
Yes, I followed all the steps, I have no idea what's happening. It used to work before I tried to get rid of the other SDL2 version.

[2017-04-16 22:12] windale commented on #84
This is a dupe of https://github.com/midwan/amiberry/issues/63

[2017-04-17 10:58] windale commented on #83
I installed the old SDL2_image and now it builds Amiberry correctly again. I'll have to stick with that until I decide to re-install my whole RetroPie setup. I have no idea what happened. (Love the new icons).

[2017-04-17 12:06] solskogen commented on #78
This also happens on Arch Linux. It's probably a bug in SDL2.

[2017-04-17 19:24] midwan commented on #78
@solskogen
It seems to be. The RetroPie team solved it by patching their mirror of SDL2 and deploying that, but their patch is only for tty0 - so if the service starts the application from another console you still get the bug.

[2017-04-17 19:25] midwan commented on #83
@windale
Ok, good to see that it works for you - strange that you got this problem, but it certainly seems to be an issue related to the environment, not the emulator itself.

[2017-04-17 19:26] midwan commented on #84
@pawelomega
Known issue, as mentioned above by @windale
Tracked in #63

[2017-04-17 19:26] #84 closed

[2017-04-17 19:27] midwan commented on #80
@windale
I've fixed the cutting-off of the fields in all the areas, just noticed that you can't type capitals in the Config field.

I'll try to sort that out.

[2017-04-18 08:41] fogobogo opened #85 "Buffer overflow regarding file paths"
Amiberry, Amiberry SDL2, UAE4ARM, really anything based on the pandora code blows up with a buffer overflow in conjunction with filepaths.

Since archlinux arm ships with a hardening wrapper for gcc / glibc theres also quite a few compile time warnings regarding that.

Looking at the code turns up that MAX_PATH and MAX_DPATH are defined as 256 in sysconfig.h. I presume that is because on the pando

[2017-04-18 08:45] midwan commented on #85
@fogobogo
Thank you for the detailed report. This helps a lot in making things better. :)

I don't have an Arch installation to test with currently, but I'll see if I can set one up for future reference. Meanwhile, I'll definitely look into what you mentioned above and start improving things.

[2017-04-18 08:51] fogobogo commented on #85
Thanks a lot. In fact using the hardening-wrapper should be enough to get the same results. Not sure if DietPi / Raspbian supplies one. apt search might help.

[2017-04-18 10:27] Fourdee commented on #78
@midwan

Unable to replicate this with our non-retropie SDL2 compiled debs:
[code]

That package also contains optional SDL2 with OpenGL and X11 enabled.

[2017-04-18 11:04] midwan commented on #78
@Fourdee
I believe the RetroPie team patched SDL2 to get around this: https://github.com/RetroPie/SDL-mirror/commit/294906558e67f7046b01bb2dc13da6c59a27db44

But their patch only handles tty0 from what I could see.

[2017-04-18 13:56] rabejens opened #86 "How well does Amiberry run on a Pi Zero?"
This is not really an issue. I found a PS/2 keyboard in my "box-o-junk" which could accomodate a Pi Zero W to create an old-school "keyboard-style computer". The first thing I thought about was to emulate a somewhat beefed-up A500 or A1200 with it.

Did anyone already run Amiberry or another Port of UAE4ARM on a Pi Zero and how did the performance turn out? I want to play classic games on it, as w

[2017-04-18 22:28] midwan commented on #86
@rabejens
The short answer is, "it runs, but slowly".

You can get much better performance with any faster Pi model, and in some cases even the Pi 3 struggles to keep up. The code can be further optimized to improve the situation of course, but the Zero will probably be a little slow for some things.

I'd recommend you give it a try and see, some things will be faster than a real A1200 (raw CPU sp

[2017-04-18 22:28] #86 closed

[2017-04-18 23:56] midwan commented on #85
@fogobogo
I've pushed some updates that should fix the buffer overflows. If you could test from your side as well, it would be great.

I'm not sure why there's a MAX_PATH and MAX_DPATH, these two came from WinUAE originally. Even in FS-UAE, there is a size difference between them, MAX_DPATH = 1000 and MAX_PATH = PATH_MAX (from limits.h). I've updated the code in Amiberry to be the same, but if we

[2017-04-19 06:22] fogobogo commented on #85
Well, it dies instantly:
*** buffer overflow detected ***: ./amiberry-sdl2 terminated
Aborted (core dumped)

I'll do a build with debug symbols and see if I can find out more. Still a lot warnings about potential buffer overflows too.

[2017-04-19 07:30] fogobogo commented on #85
Oddly enough, the debug build (DEBUG=1) runs just fine. So I did a build with debug symbols and without striping. ( -g and removing $STRIP ) this had the... uhm, desired(?) result.

Using host libthread_db library "/usr/lib/libthread_db.so.1".

*** buffer overflow detected ***: /home/fogobogo/Builds/amiberry-debug/amiberry-sdl2 terminated

Program received signal SIGABRT, Aborted.
0x768a5a38 in ra

[2017-04-19 09:18] solskogen commented on #85
Probably related:
Adding a directory as a hard drive will crash when the emulator starts.

[2017-04-19 10:01] fogobogo commented on #85
Just tried that, however it dies on me with:

...
processed: 1988487660
IP: 0x7685e9ec [e79e3103] 2730573824
processed: 1988487664
*** stack smashing detected ***: ./amiberry-sdl2 terminated
IP: 0x76f4c4d4 [e592e000] 2730573824
processed: 1995752664
IP: 0x76f4c4f0 [e5123008] 2730573816
processed: 1995752692
IP: 0x76f4c4d4 [e592e000] 2730573824
processed: 1995752664
IP: 0x76f4c4f0 [e5123008] 273057

[2017-04-19 11:11] midwan commented on #85
@fogobogo
Looks like I'll need to setup a similar environment to see all these errors, as it works fine in the systems I've been testing with.

Note: You mentioned you modified the compile flags, to remove gperftools. If you do that, you will also need to remove the line that disables the built-in malloc functions, since tcmalloc would replace them normally.

Perhaps that is related to the errors

[2017-04-19 11:42] fogobogo commented on #85
After looking at the gui code some more I'm semi-tempted to write my own. There's just so much wrong with it.

-Hardcoded values everywhere, e.g. I try to fix a compiler warning about overflowing the buffer, turns out changed_prefs.description is hardcoded to 255. Possibly others too. Fine if the NAME_MAX is 255 in limits.h (which it is, but can potentially blow up and MAX_DPATH is 1000 now.). Als

[2017-04-19 11:48] midwan commented on #85
@fogobogo
I agree that the code could be improved. Much of this has been inherited from WinUAE and the rest from Pandora and I haven't really gone through all of the areas yet. I just started working on the GUI recently, mostly with the aim to enable custom mapping on the controls.

Pull requests are welcome! :)

[2017-04-19 12:05] fogobogo opened #88 "cursor-x2.bmp has no alpha channel"
This looks rather odd. Also, not sure if it's such a good idea to begin with since checking for high-resolutions tells you nothing about the physical screen size.

[2017-04-19 12:10] fogobogo commented on #85
Alright, I commented out that line in the Makefile.

Results so far:

Hard drive folder still crashes. (same error.). Compiler warning about potential buffer overflow shows no changes.

However, I did note some changes (for the better). Floppy creation dialog now asks for a filename, before it wouldn't show up, but crash nothing either. Silent error there.

I completely missed that line. Thanks fo

[2017-04-19 12:20] fogobogo commented on #85
creating a hardfile shows me:
Path: [ #@!#w&@$%^#go/Builds/amiberrry-sdl ]
(something like that. isn't exactly easy to make a screenshot when you can't alt-tab)

Obviously some buffer gets corrupted there or did overflow. I'll have a look later, guess its something hardcoded.

[2017-04-19 12:24] midwan commented on #85
@fogobogo
I'll try to setup an ArchLinux installation tonight to get a first-hand experience on this.
Any details I should go through to get it up to the same level as yours? Or is everything kind of "standard" ?
I haven't installed Arch before so it will be a bit of a learning experience also. :)

[2017-04-19 12:47] fogobogo commented on #85
Oh my, that's a bit of an effort. Arch doesn't come with a neat desktop or anything.

-Most important is probably that I built sdl2 for the pi.
The one from the repos is just bog standard with opengl enabled which doesn't sit so well if you want opengles.
-$PATH must be modified to include /opt/vc.
-sshd must be enabled if you use that. In fact you will want that.
-be sure to change the systemctl

[2017-04-19 12:49] midwan commented on #85
@fogobogo
No worries, I'll give it a try and see how it goes... :)

[2017-04-19 12:52] fogobogo commented on #85
Almost forgot about the AUR. with `abs` (basically an rsync script) you can request any PKGBUILD (bascially a script with build instructions for `makepkg`) from the repos and modify it to your heart's content. `makepkg` will then build you an package out of it.

The AUR on the other hand is where anyone really can dump his PKGBUILDs for otheres to use.

Don't miss out on that on the wiki

[2017-04-19 13:00] solskogen commented on #85
You must compile SDL2 your self, or else the rpi output will not work.
Just add --host=arm-raspberry-linux-gnueabihf to the configure line.

On Wed, Apr 19, 2017 at 2:52 PM, fogobogo <notifications@github.com> wrote:

[2017-04-19 13:01] midwan commented on #85
@solskogen
Thanks, I was compiling SDL2 myself anyway to enable OpenGLES2 support from the console so that shouldn't be a problem.

[2017-04-19 18:05] fogobogo opened #89 "Red and Blue button swapped. maybe."
config.h states:

/*
 * Virtual Key for CD32 Blue button
 * default: END (279)
 */
#define VK_Blue SDL_SCANCODE_PAGEDOWN

/*
 * Virtual Key for CD32 Red button
 * default: PAGEDOWN (281)
 */
#define VK_Red SDL_SCANCODE_END

Not sure if that's intentional.

[2017-04-19 18:26] midwan commented on #89
@fogobogo
It's intentional, to better match the layout of the original CD32 controller:

![image](https://cloud.githubusercontent.com/assets/3877365/25195617/7884d32e-253e-11e7-8bb8-f34b02163d91.png)

[2017-04-19 18:27] #89 closed

[2017-04-19 18:33] midwan commented on #88
@fogobogo
Thanks, this is my bad: I edited the files to clean up the sizes and colors recently, but mistakenly saved the x2 version in 24-bit format instead of 32-bit.

Though ideally we should convert them to PNG to save some space...

[2017-04-19 18:38] windale commented on #74
Hi, I just wanted to make it known what a complete retarded arsehole this guy is, Dom Cresswell alias Horace&theSpider. He has a download link for everyone for a WHDLoad loader program that he uses on Retropie. Inside it contains all the kickstarts. I gave him a heads up about it and he deleted my post and locked the thread like a child ! 2 hours later he came back and said
Quote:
The files that h

[2017-04-19 18:42] #88 closed

[2017-04-19 18:49] midwan commented on #74
@windale Please, let's keep the issue clean of any irrelevant disputes with other users

[2017-04-19 19:52] midwan commented on #85
OK, silly question...

I have Arch up and running, already compiled SDL2, SDL2_image and trying to compile SDL2_ttf (the final piece).
It had a dependency on `freetype2 `which I installed, but now during building it complains that it can't find `-lGL`. I noticed that it's using a `-DHAVE_OPENGL` declaration also.

Did you install OpenGL to get that one to compile or is there a way to configure it

[2017-04-19 20:03] fogobogo commented on #85
I installed libgl and freetype / sdl2_ttf is just the standard from the repo. package name is mesa I think.

[2017-04-19 20:17] midwan commented on #85
@fogobogo
Thanks, with package `mesa `it compiled fully.

Now compiling Amiberry-SDL2 to see how it goes.
Is the hardening wrapper installed with the `base-devel` package or do I have to enable it somehow? I'm not getting any warnings/errors so far (though it's not finished yet).

[2017-04-19 20:27] midwan commented on #85
Compilation finished.

Running Amiberry-SDL2 and testing file / folder requesters:
- Hard drive directory selector: no problem
- Floppy file selector: no problem

Which scenario gives you a core dump currently?

[2017-04-19 20:28] fogobogo commented on #85
Should come as default. Otherwise `hardening-wrapper` is the package name.

[2017-04-19 20:43] fogobogo commented on #85
That was before you upped the defines for MAX_PATH and MAX_DPATH. However, try opening a CD32 image. See you after the reboot.

[2017-04-19 20:49] midwan commented on #85
Thanks, I'll try that

[2017-04-19 21:49] rabejens opened #90 "On non-US keyboards, not all keys produce the correct sign."
I am using a German keyboard with Amiberry. Some keys like the number sign or the less/greater sign don't work correctly. I know the scan codes of AmigaOS and PC keyboards are different, but is any custom mapping for *keyboard* keys (not joysticks) planned or even implemented?

[2017-04-20 06:31] solskogen commented on #85
I use the sdl2 branch (latest and greatest) and it still crashes (Why can't I see the commits done by fogobogo?!)
This is my config https://pastebin.com/NVML73UL

[2017-04-20 08:02] midwan commented on #90
@rabejens
Custom Mapping is currently being rewritten to allow mapping of ANY key to the functions available. It will start with allowing mapping of keyboard keys first, then proceed with controller buttons.

But I suspect that is not what you are looking for? Custom Mapping is for mapping controller actions (specifically, CD32 controller) to keys on the keyboard or buttons on a controller.

If yo

[2017-04-20 09:38] midwan commented on #85
@solskogen
The changes are not merged in yet... :)

[2017-04-20 11:03] rabejens commented on #90
This is exactly what I'm talking about. I can't enter characters like # in a Shell using a German keyboard. E-UAE had the option to specify something like `kbd_lang=de` in the configuration and it remapped some keys to work correctly, but I don't know how hard this is to port over to Amiberry.

I haven't yet had a more in-depth look at the source code, but I suppose UAE4ARM reads raw scan codes fr

[2017-04-20 18:29] rabejens commented on #90
I forked the project and created a quick and dirty hack that at least makes German keyboards work as well as possible. Some compromises had to be made:

 - The backslash key DID work right on US keyboards, this is now dead (on a real Amiga, the "hash" key was also dead when the keymap was set to usa); when the keymap is set to de, using a US keyboard, the backslash key produces a hash (and a circu

[2017-04-20 19:37] rabejens opened #92 "SDL 2 | Segmentation fault when trying to use directories as harddisks"
With the latest state of the SDL2 version built on the Pi3, I get a segmentation fault when I want to use directories as hard drives. The segfault happens as soon as the virtual HDD is accessed.

Steps to reproduce:

- Start with a basic A500 or A1200 configuration
- Add an empty directory as a harddisk and make it bootable
- Start the emulation

Result: You will be dropped out of the emulation wi

[2017-04-20 19:51] pawelomega opened #93 "SDL2 - Menu button - Map to open GUI"
Hello. In latest build from binnary with new corrects i found bug:

- when pressed button from XBOX 360 PAD to assign map to Open the GUI  then each key causing exit from Amiberry.

[2017-04-20 20:04] pawelomega commented on #92
processed: 1989048396
Segmentation fault
and when Segmentation fault then exit from Amiberry and access to keyboard in console is blocked.

This error persits when Amiberry start with attached Amiga hdf .

[2017-04-20 20:05] rabejens commented on #92
Currently I only setup one HDF, I could install Workbench 3.1 with BetterWB on it and it works. But as soon as I add any directories, I get the segfault (and the keyboard stopping working, too)

[2017-04-20 20:34] pawelomega opened #94 "SDL2- JIT"
When JIT is enabled then cause laggy in sound playback in ex. protracker. When dissable JIT then sound playback is without laggs.

[2017-04-20 22:14] tklicki commented on #11
+1

[2017-04-21 08:16] midwan commented on #85
@fogobogo
Merged

[2017-04-21 08:16] #85 closed

[2017-04-21 08:16] midwan commented on #92
Please get the latest changes and test again, after merging #85 this should be resolved

[2017-04-21 08:17] midwan commented on #93
@pawelomega
The code for mapping controller buttons is not 100% working yet, it will be fixed over the next few days hopefully.

[2017-04-21 09:48] Fourdee commented on #94
I found sound is choppy initially in some games, then clears itself.

@pawelomega

Is this also the case with audio emulation + most accurate option?

[2017-04-21 10:03] rabejens commented on #80
Another thing I noticed: The keyboard layout is fixed at US in the GUI, no matter what layout was loaded by the underlying system.

[2017-04-21 10:12] solskogen opened #95 "Cannot use shift"
I can't use shift to write capital letters in the GUI. Capslock does not work either.

[2017-04-21 10:27] pawelomega commented on #94
it doesn't matter. That persist in both option. Only JIT when is dissabled solve problem

[2017-04-21 10:38] midwan commented on #95
This is a dupe of #80

[2017-04-21 10:38] #95 closed

[2017-04-21 11:13] pawelomega commented on #92
Latest build from source and problem persist. Crashing with added HDD DIRECTORY when booted workbench.

[2017-04-21 11:22] midwan commented on #92
@pawelomega
Thanks for reporting, I'll take a closer look later today when I'm back home

[2017-04-21 20:32] #92 closed

[2017-04-21 21:09] rabejens opened #96 "SDL 2 | Path is not correctly applied when selecting a directory as a harddisk"
When selecting a directory as a harddisk, the path is only partly applied. The Volume label however is correctly applied.

Example: I am currently using the SDL2 version as a drop-in replacement for the emulator in Amibian. My virtual hard disks are at `/root/amiga/hdd/dirs/System` and `/root/amiga/hdd/dirs/Work`. When selecting one, the volume label is correctly set to `System` or `Work`, but onl

[2017-04-22 05:45] fogobogo commented on #96
without too much looking I think its currentDir which doesn't get updated to the new value at the proper place.
A somewhat similar issue is with creating hardfiles. I (mostly) ended up with "Unable to create new file." After some state of the art debugging with `printf()'s` I figured out that somewhere in `txtPath.getText()` the path string get mangled.
However that rabbit hole was just too deep.

[2017-04-22 14:16] rabejens commented on #96
This not only applies to hard disk folders; it is also impossible to mount ADFs now, as the path is not correctly applied there either.

[2017-04-22 14:40] midwan commented on #96
Looks like I broke something in the recent updates then, let me see if I can fix it...

[2017-04-22 14:56] midwan commented on #96
Please let me know if you experience the same with the latest commit...

If so, kindly provide a sample path you're using so I can recreate it here, since it seems to work for me at this point.

[2017-04-22 15:09] midwan commented on #63
@windale
All pandora references are cleared now, but if you still have them in your config they will not be deleted. Try creating a new config to test.

There's still something causing duplicate entries for the custom controls settings, I'm working on that.

[2017-04-22 15:10] midwan commented on #48
Given the improvements in the SDL2 version, I think it's best if we focus our efforts there for now.
Putting this on the back-burner, if anyone wants to assist with a pull request they are more than welcome.

[2017-04-22 15:10] #48 closed

[2017-04-22 15:15] midwan commented on #21
@HoraceAndTheSpider
I've added some code in the recent updates that allows custom mapping of any key to any function.
The plan is to use that to allow mapping for any control in the emulator to any key (and eventually controller button, but that's not fully done yet).

It's already active in the Misc menu, to map the functions "Quit" and "Enter GUI" to any key you want. It seems to work well and s

[2017-04-22 15:19] midwan opened #97 "SDL2 | Custom Control config file entries get duplicated"
Some entries are duplicated in the config file every time it's saved:

[code]

they appear above and below the "`host-specific`" section, but they should only appear below it.
Every time the config is (re)saved a new instance of them is inserted above the `host-specific` section.

[2017-04-22 16:48] midwan commented on #63
This should now be fixed, let me know if you have any further issues with it

[2017-04-22 16:48] #63 closed

[2017-04-22 16:48] #97 closed

[2017-04-22 16:49] midwan commented on #75
@loz34
Custom Controls now get saved and loaded properly from the config file.

The next step is to allow any keyboard key or controller button to those functions. Hopefully this will help address this issue as well.

[2017-04-22 16:50] #96 closed

[2017-04-22 18:40] pawelomega opened #98 "Latest git Amiberry-SDL2 directory bug"
Just compiled and tested latest git and new bug:

When "add directory" and I want select path to my harddisk folder then amiberry still remember path saved in adfdir.conf and can't select file from my folder. always remeber and showing this path:

"path=/opt/retropie/emulators/amiberry-sdl2/" (for example).

That same problem persist when select game from folder "/home/pi/retropie/roms/amiga/adf/"

[2017-04-22 22:22] midwan commented on #98
Sorry about this, I completely missed it in my last test as it only occurs when creating a new config.
It should be fixed now.

[2017-04-22 22:22] #98 closed

[2017-04-22 23:09] midwan commented on #80
The capital letters input seems to be a bug in Guisan, since it occurs even with its own examples.
Opened separate issues for that there:
https://github.com/mythsman/guisan/issues/1
https://github.com/kallisti5/guisan/issues/4

[2017-04-23 08:11] solskogen opened #99 "SDL2 | Guisan Makefile improvement"
diff --git a/Makefile b/Makefile
index ad83a91..9730899 100644
--- a/Makefile
+++ b/Makefile
@@ -23,7 +23,7 @@ PROG   = $(NAME)
 all: guisan $(PROG)

 guisan:
-       cd src/guisan && make all && cd ../..
+       $(MAKE) -C src/guisan

 #DEBUG=1

[2017-04-23 08:17] solskogen commented on #99
`diff --git a/Makefile b/Makefile
index ad83a91..9730899 100644
--- a/Makefile
+++ b/Makefile
@@ -23,7 +23,7 @@ PROG   = $(NAME)
 all: guisan $(PROG)

 guisan:
-       cd src/guisan && make all && cd ../..
+       $(MAKE) -C src/guisan

 #DEBUG=1`

This looks perhaps better...

[2017-04-23 08:18] midwan commented on #99
@solskogen
Indeed it does, thanks! :)

[2017-04-23 08:18] solskogen commented on #99
Dammit, it does not.
But I think you've got the idea.

[2017-04-24 14:21] blinkydoos opened #100 "CD32 Low-Res Quickstart Preset Resolution"
Firstly i'd like to say thankyou for your continued updates on this emulator.

I tried the game Pinball Illusions CD32. When the Amiga CD32 logo spins at the beginning the first letter A is off the screen. Then in-game, the right side of the screen where the ball lane is is cut off (about 2cm ?) and a small amount from the top of the screen. When putting the table in hi-res mode with F10 there are

[2017-04-24 14:25] blinkydoos commented on #80
I think the old font looks better as it looks clearer/cleaner. The topaz one looks a bit dark. (Only my opinion :) I can manually change it to the old font).

[2017-04-24 17:35] solskogen opened #101 "Overflow bug?"
g++ `sdl2-config --cflags --libs` -std=gnu++14 -march=armv8-a -mfpu=neon-fp-armv8 -mfloat-abi=hard `xml2-config --cflags` -DARMV6_ASSEMBLY -DAMIBERRY -DCPU_arm -DCAPSLOCK_DEBIAN_WORKAROUND -DROM_PATH_PREFIX=\"./\" -DDATA_PREFIX=\"./data/\" -DSAVE_PREFIX=\"./saves/\" -DUSE_SDL -DARMV6T2 -DUSE_ARMNEON -Isrc -Isrc/osdep -Isrc/threaddep -Isrc/include -Isrc/guisan/include -Wno-unused -Wno-format -DGCCC

[2017-04-24 17:45] midwan commented on #100
@blinkydoos
Thanks for the feedback and welcome to Github! :)

The CD32 didn't have any "special" resolutions AFAIK, it was the same as the A1200 in that respect. It did have an extra chip named "Akiko", which was responsible for chunky-to-planar conversions, but no new resolutions.

This is most likely a bug regarding drawing of sprites, perhaps related to #64

(regarding the labels, only authors

[2017-04-24 17:48] midwan commented on #101
I saw these when testing it under Arch, but it is most likely a "false alarm" in the sense that it's possible you might get an overflow, if you used the maximum values of those types, but the code doesn't actually do that.

This piece of code (JIT) is coming from the Aranym (https://github.com/bobek/aranym-debian) project actually.

Unless you actually got an overflow exception while using the emu

[2017-04-24 18:31] fogobogo commented on #101
Thats no overflow. That is just abusing C/C++ a bit. Not uncommon for emulators.

[2017-04-24 20:06] midwan commented on #101
@fogobogo
Thanks for confirming :)

[2017-04-24 20:06] #101 closed

[2017-04-24 20:55] #99 closed

[2017-04-24 22:27] blinkydoos commented on #100
I checked the Android version of UAE4Arm and the CD32 preset is set at 384x256. It fits the Amiga CD32 logo nicely on the screen but the resolution seems like a custom lores. Maybe TomB used it for speed reasons ?

[2017-04-25 19:51] rsn8887 opened #102 "Allow custom mapping for more than one controller"
Currently, there is no way to custom map additional controllers for three or four player gameplay. It would be nice to allow any controller input to be custom-mapped to any amiga side keyboard keys or joystick input.

A proposed solution would be to add one drop down selector to the custom controls menu that allows selection of which controller to custom map.

After selection of which controller t

[2017-04-30 04:25] ransom1122 commented on #17
Can I use a PS3 Controller with Amiberry to play CD32 games or not?

[2017-05-05 06:06] ukshark opened #103 "WHDLoad Turrican II"
Turrican 2 had glitches in the graphics so i changed gfx_framerate=0 and cachesize=0 which fixed the glitch, now it crashes after a few mins of play.
Same problem every time, go left from start smash the hidden block above head far left.
Head right for 2 seconds and the game returns to menu.

This is on a Raspberry Pi 3, latest Retro Pi, Amiberry built from source Using RetroPi build script.

[2017-05-05 06:20] HoraceAndTheSpider commented on #17
Yes, since my original post, PS3 has a specific hard-coded  routine for cd32 mapping that I added... just set ye joystick input type to cd32joy :)

It's just ever other pad that needs the work now ;)

[2017-05-05 08:33] GreenRebel commented on #103
Same issue for me on Pi3 recently (2 weeks ago) built with latest retropie image and installed Amiberry from source option. Graphical artefacts were cured for me by unselecting JIT but the game crashes after performing exact same moves mentioned above.

[2017-05-05 08:50] midwan commented on #103
Thanks guys, I'll take a look and see if I can catch the crash with a debugger to see why it's happening

[2017-05-05 09:23] ransom1122 commented on #17
Great excellent! One other question where do we post issues with games? I cant get Turrican II Working, it plays for about 5 seconds then quits back to emulation station. Can't work out what type of config would make it work with gui settings?

[2017-05-05 09:24] midwan commented on #17
The issue with Turrican II is already reported here: #103

[2017-05-05 09:28] ransom1122 commented on #17
OH right, Thanks doesn’t look like a fix has been made. I will try and reconfigure the game with all sorts of settings to get it to work.

From: Dimitris Panokostas [mailto:notifications@github.com]
Sent: Friday, May 05, 2017 7:24 PM
To: midwan/amiberry
Cc: ransom1122; Comment
Subject: Re: [midwan/amiberry] SDL2 | Various Control Mapping Issues (including CD32) (#17)

The issue with Turrican II is

[2017-05-05 09:28] ransom1122 commented on #103
Is it safe to say this game is not working at the moment?

[2017-05-05 09:29] midwan commented on #103
@ransom1122
I didn't have time to test this yet, so I can say for sure. I hope to know more after the weekend, when I can spend some time on it.

[2017-05-05 11:47] blinkydoos commented on #103
I can also confirm the WHDLoad version crashes. I've noticed this on a few WHDLoad games that just crash the emulator. The ADF version of Turrican II works perfect.

[2017-05-05 11:54] ransom1122 commented on #103
Agree. Adf works. But i will try and make whdload version work tomorrow

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: blinkydoos <notifications@github.com> Date: 5/5/17  9:47 pm  (GMT+10:00) To: midwan/amiberry <amiberry@noreply.github.com> Cc: ransom1122 <lenalouie01@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [midwan/amiberry] WHDLoad Turrican

[2017-05-06 04:13] ransom1122 commented on #103
I figured it out gents, after messing with different configs until I found a working one. I have included working configs for both Turiican II & Turrican II Demo WHDLoad as both of these crash.

On the other hand Turrican II CDTV Version seems to work without any modification of the config file.

[Turrican 2.TXT](https://github.com/midwan/amiberry/files/980672/Turrican.2.TXT)
[Turrican 2 (Demo).TX

[2017-05-06 09:15] blinkydoos commented on #103
So what was the actually solution so people can add it to there own config file (and Midwan will know the cause of it) ? The emulator crash happens on some other games as well (one of the Alien Breed games on CD32 and First Samurai/Second Samurai). It also happens on SDL2.

[2017-05-06 09:31] ransom1122 commented on #103
Cant remember Now, I think AGA was selected, and fast copper removed. There was another thing, but you can check the CFG I attached. its all in there. Game defenitly works though.

[2017-05-06 09:33] midwan commented on #103
Has anyone tried this on Amiberry-SDL2? There's a chance it might work directly there for example.

FYI: Fast Copper is a "dirty hack" and it has been removed in the SDL2 version altogether.

[2017-05-06 10:09] blinkydoos commented on #103
It happens in SDL2 as well, I did say in my post above :) What's strange is that the ADF version of Turrican 2 work fine on 68000 but if you change it to 68020 then it crashes the emulator in the same way as described.

@ransom1122 It was Alien Breed Tower Assault CD32 that I was thinking of but it doesn't crash, it just doesn't load.

[2017-05-06 10:22] ransom1122 commented on #103
@blinkydoos Leave the cd32 stuff with me, I am in the process of testing every CD32 game .

[2017-05-06 11:09] ransom1122 commented on #103
**Alien Breed - Tower Assault (1994)(Team 17)[!]** [ISO/CUE] - Works fine.  Intro & Ingame. Both Tower Assault & Alien Breed II Work fine.

**Alien Breed Tower Assault [CD32]** [WHDLoad Version] - Works after changing the cfg as mentioned above.

I have attached both working CFG Files

[Alien Breed - Tower Assault (1994)(Team 17)[!].txt](https://github.com/midwan/amiberry/files/980865/Alien.Breed.

[2017-05-06 11:31] ransom1122 commented on #103
After a short config battle with WHDLoad versions of First Samurai & Second Samurai ECS & AGA, I can confirm they all work fine, Here are my working configs
[First Samurai.txt](https://github.com/midwan/amiberry/files/980876/First.Samurai.txt)
[Second Samurai.txt](https://github.com/midwan/amiberry/files/980877/Second.Samurai.txt)
[Second Samurai [AGA].txt](https://github.com/midwan/amiberry/files

[2017-05-06 12:11] blinkydoos commented on #103
I'll write the actual solution so @midwan can quickly see the problem :) . You need to have '24-bit addressing' ticked and Turrican 2 WHDLoad works fine. If it's unticked then it crashes the emulator if you perform the steps listed in the OP. This also fixes First Samurai. So a problem with no 24-bit addressing ?

[2017-05-06 12:13] blinkydoos commented on #55
You need to have '24-bit addressing' ticked and the games don't crash (Second Samurai has graphic and sound errors). If it's unticked then it crashes the emulator.

[2017-05-06 12:17] blinkydoos opened #104 "Alien Breed Tower Assault CD32 - 'More compatible' & '24-bit addressing' bug"
If '24-bit addressing' is ticked then the CD doesn't boot. If you turn the option off then it boots fine. There must be something wrong with '24-bit addressing' as the CD32 has a 68EC020. (Tested on SDL2 version).

[2017-05-07 00:13] ransom1122 commented on #103
It does seem '24-bit addressing' fixes a lot of issues. There are always other options that can change the outcome of a game which makes it trial and error really.

Looks like Flink CD32 may have issues emulating though, from glitchy graphics to stuttering audio. Fast Copper fixes the audio issue though, can't work out how to get a stable picture though?

[2017-05-07 11:39] ukshark commented on #103
Sorry even with brand new PI and amiberry install it still happens with your config.
This doesnt happen if I just use keyboard as controller, but always crashes the whole system if i use ANY controller (XBOX, USB, PS4, generic USB)

I cant get it to work using 68000 or 68020

[2017-05-07 12:33] blinkydoos commented on #103
It's best to use your own config as the ones Ransom posted have the games and kickstarts paths in weird places. You need at least 68020 selected for WHDLoad (and 3.1 A1200 kickstart ROM) and just make sure '24-bit addressing' is ticked and the game works fine even if you go left at the beginning of the level.

[2017-05-07 13:09] ransom1122 commented on #103
I use a ps3 controller through bluetooth. As for my configs im not expecting you to carbon copy them as naturally paths will be all over the place. They're there to match and compare to non working configs.

As blinkydoos says though 24 bit addressing seems to fix a lot of issues anyway.

[2017-05-07 13:14] ukshark commented on #103
Yeah sorry, I changed the paths to match my setup (and controller settings), i took that as presumed which is my fault. I will try a bluetooth controller to rule out USB issue.

[2017-05-07 14:44] GreenRebel commented on #103
Turrican 2 works for me now by generating a new uae, then only changes are: selecting '24-bit' but de-selecting 'JIT'.

[2017-05-07 15:20] starcube75 commented on #94
Same problem here and without JIT emulation is really slow by my side.
When i change the resolution with PAL: Super-High Res there are any problem with laggy sound playback.

[2017-05-07 16:17] ukshark commented on #103
Works a treat after doing the above :) thanks all

[2017-05-08 17:50] CypherXG commented on #104
Sry, works by me without any Problems... (SDL1 Version)
I see all, the Intro and the Game....
CPU 68020
FPU none
Speed 14Mhz
Chipset AGA
Blitter normal
Fast Copper off
Collisionlevel Sprite vs Sprite

24-bit adressing ist on
JIT is off or on....no matter
Chipmem 2MB all other memory off....

[2017-05-09 10:18] blinkydoos commented on #104
I looked into this some more and there are more strange things happening. If you load the built-in CD32 config, the option 'More compatible' is ticked but this option is only available on 68010 and less. CD's boot fine with this config though (except Alien Breed Tower Assault, I had to turn off 24-bit addressing and it booted).

If you load Amiberry and manually setup a CD32 config and 'More compa

[2017-05-09 15:15] Voljega commented on #55
Thank you for the tip but 24-bit adressing is greyed out for me how to ungrey it ?

[2017-05-09 16:34] blinkydoos commented on #55
'24-bit addressing' is only greyed out when the CPU is set at 68000 or 68010. You only need to tick '24-bit addressing' for the WHDLoad version of First Samurai. The ADF version works fine on 68000. Second Samurai OCS/AGA doesn't really work properly on UAE4Arm/Amiberry (yet).

[2017-05-10 07:57] kenjara commented on #11
I would like to see this too.

I miss those sounds while waiting for my games to load. :)

Thanks!

[2017-05-12 01:38] ransom1122 opened #105 "Flink [CD32] Version - Glitchy"
Hi,

I cannot create a decent config for this game. Can anyone help please?

- The game has background graphic glitching with fast copper "on".
- When fast copper is removed game runs way too slow.
- Circle button on the PS3 Controller moves the screen up and down and gfx glitch again.

Long story short, I dare say this game has issues with this emulator? Can anyone else check it please?

[2017-05-12 02:33] ransom1122 commented on #17
Has there been any advancements in cd32 mapping for ps3 controllers?

It seems that directions work, also BLUE/RED/PLAY work
Mapped buttons are;
Square = PLAY
X = RED
O = BLUE

Where is yellow, green Forward reverse? I have tried sutom controls and allocate Yellow or green to another button on the ps3 controller but it doesnt work?

[2017-05-12 02:38] ransom1122 commented on #17
[quote]Yes, since my original post, PS3 has a specific hard-coded routine for cd32 mapping that I added... just set ye joystick input type to cd32joy :)

It's just ever other pad that needs the work now ;)[/quote]

Which part below do i type "cd32joy"

joyport1=joy1
joyport1autofire=none
joyport1mode=djoy
joyportfriendlyname1=PLAYSTATION(R)3 Controller
joyportname1=JOY1

input.1.joystick.0.friendl

[2017-05-12 05:11] osvaldolove commented on #17
Change this one:
joyport1mode=djoy

On 12 May 2017, 03:38 +0100, ransom1122 <notifications@github.com>, wrote:

[2017-05-12 06:53] ransom1122 commented on #17
@osvaldolove Does this allow all cd32 buttons functions to work with a ps3 Controller? I will try it tonight :)

[2017-05-12 07:03] osvaldolove commented on #17
Should do!

From: ransom1122
Sent: 12 May 2017 07:53
To: midwan/amiberry
Cc: Oliver Ainger; Mention
Subject: Re: [midwan/amiberry] SDL2 | Various Control Mapping Issues(including CD32) (#17)

@osvaldolove Does this allow all cd32 buttons functions to work with a ps3 Controller? I will try it tonight :)
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Gi

[2017-05-12 07:16] ransom1122 commented on #17
OK That did the trick, I am able to play Arabian Nights CD32 perfectly now. BUT when I did I ran the AmigaCD32test.adf I am missing the BLUE Button?? How can I add the blue button in? Previous config with joyport1mode=djoy BLUE = CIRCLE Button. But now CIRCLE Button shows no Function with the CD32ADF Tester?

SQUARE = GREEN
TRIANGLE = YELLOW
X = RED
L1 = REWIND
R1 = FF
START = PLAY

[2017-05-12 07:55] HoraceAndTheSpider commented on #17
There was a "hack" in place to fix the blue button. I assume this has been left in.

Second button and blue are not the same in the Amiga hardware so possible the tester is reading the wrong one (or midwan removed the hack) .... are you using my tester  from above?

[2017-05-12 08:11] ransom1122 commented on #17
@HoraceAndTheSpider
Yes I used your cd32 tester adf all is working except for CIRCLE Button which is supposed to be cd32 blue button?

use any cd32 game with the config "cd32joy" added. try the cd32 adf tester and you will see blue button / PS3 CIRCLE Button doesnt work?

[2017-05-12 08:13] HoraceAndTheSpider commented on #17
As I said it could be the tester.

Try Cannon Fodder Cd32 and see if you throw grenades (I have done this and it worked ok, using PS3 pad)

[2017-05-12 08:14] osvaldolove commented on #17
@HoraceAndTheSpider Wasn't your hack only in the SDL1 master branch, don't think it was pulled in to the SDL2 branch but could be wrong.

[2017-05-12 08:28] ransom1122 commented on #17
No it does not throw bombs, Circle Button Shoots the guns?

Dam Cover Scraper has ruined all my game listings, showing covers for games that are incorrect. I have about 10 covers for battlechess, and they are all different games.

[2017-05-14 05:43] ransom1122 commented on #17
Can anyone verify if Cannon Fodder CD32 version (not the whdload CD32 - Blue Button working with grenades after editing the cfg;

joyport1mode=djoy
to
joyport1mode=cd32joy

It seems cd32joy activates all cd32 button presses except for Blue button which should be circle button.

[2017-05-14 07:43] CypherXG commented on #105
I've testet the Controllerbuttons with a PS3 Controller.
In the Src Code there must be a Bug, because when i test the Controller with Linux all the Buttons are correct with the Source Code.
But Yellow, Green, Select etc. are not reconized.
Only Red, Blue, Digital Left, Right, Up, Down, the analog Directions and Play are working.

[2017-05-14 09:05] ransom1122 commented on #105
with this in the config **joyport1mode=cd32joy** Everything works expect blue (Circle button on PS3 controller)

with this in the config **joyport1mode=djoy** only 3 colored buttons work.

[2017-05-14 09:33] HoraceAndTheSpider commented on #17
right, so i have just tested this with the Amiberry i built from source (From RetroPie menu) and i can confirm everything works *correctly* on PS3 pads in CD32 mode.

The way to demonstrate this in Cannon Fodder CD32: (it does not matter if this is WHDLoad CD32 or not - the joypad input routine is the same!)

set: joyport1mode=djoy

Both buttons should work (Cicle to walk, X to fire) *however* to

[2017-05-14 10:00] ransom1122 commented on #17
OK, very strange, I cannot test Cannon Fodder now, due to my covers downloading.. I Will try it again later.

but I did test my Bitmap Brothers Collection [OCS] (CD32) Twice. On the menu You cannot press the Blue button to choose the game that represents Blue. (And this is with **joyport1mode=cd32joy** included the cfg.

[2017-05-14 10:28] HoraceAndTheSpider commented on #17
Is that an unofficial collection? It is possible they are detecting 'second fire' instead of 'blue', which would cause the problem.

[2017-05-14 10:33] ransom1122 commented on #17
I am not sure. I will confirm the Cannon Fodder CD32 issue tomorrow. Thanks

[2017-05-14 10:36] HoraceAndTheSpider commented on #17
I have just seen that the CD32 tester above is the old one. I have updated the link.

THis will show 'blue' operate correctly, and if 'second fire' is used instead of blue (e..g where  joyport1mode=djoy is set) then 'all buttons' (except red) will appear to have been pressed.

[2017-05-14 10:46] ransom1122 commented on #17
Thank you for your quick response and your dedication with this project :)

[2017-05-14 15:10] blinkydoos commented on #17
@ransom1122 what version are you testing this on ? I have a feeling you're using SDL1 judging by your other posts that mention 'fast copper', but this thread is labelled SDL2 version. It's a bit confusing.

[2017-05-14 15:13] HoraceAndTheSpider commented on #17
I am pretty sure @midwan tagged the thread SDL2 in relation to the original request (as it would be easier in that version) , but the PS3 / cd32 testing will indeed related to the main released version.... no idea if the code is still present in the SDL2 code

[2017-05-14 19:32] ransom1122 commented on #17
Latest version .05

[2017-05-15 07:51] ransom1122 opened #106 "Adding ADF to the Database?"
Hi,

I was wondering if ADF games can be added to the database of games along with the WHDLoad & CD32?

It would be great if we can add the odd game or two that that don't have a WHDLoad version. If it can be done, how? I am assuming a folder like Games_ADF would be needed?

[2017-05-15 11:15] ransom1122 commented on #106
What I meant was HoraceTheSpiders whdload games that launch from emulation station via amiberry. Can we also launch adf games as well?

[2017-05-15 11:17] a7mag3ddon commented on #106
They already do.

[2017-05-15 11:17] osvaldolove commented on #106
Hi - this is more a question for the UAEConfigMaker project, it's not a
part of Amiberry :)
Try logging your question here:
https://github.com/HoraceAndTheSpider/UAEConfigMaker

On 15 May 2017 at 12:15, ransom1122 <notifications@github.com> wrote:

[2017-05-15 12:28] HoraceAndTheSpider commented on #106
Adf's are supported in the RetroPie Amiberry install through a "base config".

The UAE config maker does not support generating .uae files for ADFs, no.

[2017-05-15 14:51] CypherXG commented on #105
There is somthing wrong in the Src Code.
I try to found the Error... because with some modification i can use Select etc. but not all Buttons...

[2017-05-15 18:33] Voljega commented on #55
@blinkydoos sorry long time without responding but I beg to differ, my 24-bit adressing thing is clearly greyed out while using 68040 CPU
http://imgur.com/a/aW5Ek

Maybe it's a issue with my uae ? So I included some other screens for debug and here is the pastebin of my uae : https://pastebin.com/QGVRubfZ

For the record i'm using amiberry v2.1 last release on Pi2

[2017-05-15 18:51] blinkydoos commented on #55
Yeah, I just checked and it's only available on 68020 on Amiberry/UAE4Arm (on WinUAE it's available on 68000-68030). You'll have to switch to using 68020 (which is recommended anyway). According to TomB who did the original port of UAE4Arm, 68030 and 68040 are not fully implemented yet.

[2017-05-15 21:52] Voljega commented on #55
OK but as you can see in my UAE I try to keep my configuration as simple as possible (I do'nt know much about amiga hardware) so in there I only said I'm using an AGA chipset, CPU as been set automatically to 68040 by Amiberry.

Is it normal ? Shoudl I force in the UAE the CPU to 68020 while keeping an AGA chipset ?

[2017-05-15 22:17] blinkydoos commented on #55
The Amiga is quite a complex machine that can use many different configurations. For WhdLoad games my defaults would be :-

68020
24-bit addressing ON
JIT OFF
14 MHz (or more depending on the game)
AGA
2 mb Chip Ram
8 mb Fast Ram
ROM kickstart 3.1 (A1200)

[2017-05-16 13:04] Voljega commented on #55
Thank you i'll try that as soon as I can

[2017-05-18 12:33] blinkydoos opened #107 "CPU Speed 'Fastest' (and JIT combinations) don't work properly"
When setting the CPU Speed to 'Fastest' and running the program SysInfo and doing a speed check it's detected as 7MHz. (JIT OFF).

With JIT ON, 7, 14 and 25MHz are all clocked at 7MHz (approximately 1279 Dhrystones).

[2017-05-20 00:15] ransom1122 commented on #106
So then is it possible to manually add a new config for an adf game, so we can launch that adf from emulation station?

I am not sure what you mean by "base config" Quickstart A500 and insert adf in df0: ?

[2017-05-20 09:26] blinkydoos commented on #106
If you're using the latest Retropie then selecting a ADF or ZIP from emulationstation should automatically start it. It will even detect mutilple adf's inside zip files (if they have Disk1, Disk2 or something similar in the filename) and insert them. If the file has AGA in the filename then it will run it as an A1200 configuration. If you open the GUI you will see the two RetroPie config's, one fo

[2017-05-20 09:59] ransom1122 commented on #106
What folders do the adfs or zips go that emulation station can detect?

Can we also download covers for these adf games like horaces whdload_games covers from openretro?

[2017-05-20 10:16] blinkydoos commented on #106
They should be in roms/amiga (the same way all roms should be placed 'roms/[system name]'). I have no idea about scraping though.

[2017-05-20 10:28] HoraceAndTheSpider commented on #106
No, my Amiga cover scraper only looks for .uae files in roms/amiga , it doesn't scrape ADFs because the Common TOSEC naming converntion is horrible to work with.

[2017-05-20 10:35] ransom1122 commented on #106
Would it be possible to somehow manually add covers to the games with missing covers or adf games?

[2017-05-20 10:38] HoraceAndTheSpider commented on #106
I have answered about missing games covers on the UAGS GitHub already?

To "manually" grab covers you need to add an entry to the XML and the artwork folder.

[2017-05-21 10:58] ransom1122 commented on #17
Nope..?
I am still unable to get the blue button to work. A Simple Official CD32 game to test.
**Big 6, The (CD32)** On the menu You have RED button to select a game from the list. and BLUE button for instructions. Red works and Blue does not? (I am using the **"joyport1mode=cd32joy"** in the cfg

Likewise with the new ADFTester every button works except for BLUE

Cannon Fodder Blue button does no

[2017-05-21 11:07] HoraceAndTheSpider commented on #17
Blue would be on circle. red is on X.

What does happen when you press Circle on the new cd32 tester? Can you screenshot?

Did you install amiberry from source or binary? I would try installing from Source to see if that helps.... I can point you to the line of code that maybe isn't in the built version.

I am assuming you are using genuine Sony PS3 pad etc.

[2017-05-21 11:10] HoraceAndTheSpider commented on #17
pandora_input.cpp

`		setid(uid, num, ID_BUTTON_OFFSET + 1, 0, port, port ? INPUTEVENT_JOY2_2ND_BUTTON : INPUTEVENT_JOY1_2ND_BUTTON, gp);`

[2017-05-21 11:10] HoraceAndTheSpider commented on #17
This can be set to "blue" but then doesn't work correctly (which is what I suspect yours is)

[2017-05-21 11:15] ransom1122 commented on #17
Correct

Nothing. No input. all the rest yellow, red, play, green, rew, ff, direction arrows work with other buttons.

Source. I followed your YT Tutorial Step by Step. :)

Correct.

Can you please send me your Cannon Fodder CD32 Config so I can see if there is a difference at my end.

[2017-05-21 13:54] CypherXG commented on #107
My Test without JIT and fastest etc... Running on my Pi3, not overclocked
![dsc_0045](https://cloud.githubusercontent.com/assets/7895130/26284498/29b0fc38-3e3d-11e7-8c20-678d3c4c69e1.JPG)

![dsc_0046](https://cloud.githubusercontent.com/assets/7895130/26284502/2f1a203c-3e3d-11e7-8644-fe67d4fc09f0.JPG)

My Test with JIT and fastest etc... Running on my Pi3, not overclocked
![dsc_0047](https://cloud

[2017-05-21 16:57] blinkydoos commented on #107
Not sure why you have 68040 selected as it's not properly implemented yet. Your results say 68040 7MHz when you have JIT and Fastest selected, and why does your FPU say 'Not in Use' when you have it set at 'CPU internal' ? It seems to give different results on 68040. Could you try the test again with 68020 selected ?

@midwan Can you confirm any of this. I am using SDL2 version. I checked the Andr

[2017-05-21 17:46] HoraceAndTheSpider commented on #17
I am running it from Whdload (but the cd32 version) - that wouldn't affect the input device though.

I did ask if you installed from Source or binary though?

[2017-05-21 21:29] ransom1122 commented on #17
I installed it from source?

[2017-05-21 23:16] ransom1122 commented on #17
Here is a screenshot of my **input** tab that I use when i load a cd32 config, with **joyport1mode=cd32joy** Is this similar to yours?

[2017-05-22 00:08] ransom1122 commented on #106
I looked at the **gamelist.xml** file which was located in **/opt/retropie/configs/all/emulationstation/gamelists/amiga** file size is only 37KB, upon opening it with notepad++ I noticed it only had 511 lines and no where near the full amount of games that are present in Emulation Station?

In regards to adding an ADF, Do i just copy paste for example everything in the red box, and change the deta

[2017-05-22 01:38] ransom1122 commented on #106
I added Tunnles of Armageddon entry in the gamelist.xml with notepad++ like this;
![1](https://cloud.githubusercontent.com/assets/28079950/26289299/38aae0e6-3ee2-11e7-8e0a-fdfd3036c9d0.jpg)

The path for this game is the a1200 config. I changed it via emulation station to boot from a1200 not a500, as the a500 config causes graphic problems. All the rest looks fine, pictures manually scraped from o

[2017-05-22 15:54] CypherXG commented on #107
Oh yeahh..there is an error.
Is that what u are writing the Speed behind the CPU on the right side?

Everytime i do a "Hardreset" with uae4arm and boot from ADF Disk Sysinfo without any Workbench etc.
Here are my results with all possible variants:
Have fun.... :-)

![grafik](https://cloud.githubusercontent.com/assets/7895130/26317392/9fb85eb4-3f17-11e7-9dfe-c644771d23d6.png)

Best regards...

[2017-05-22 16:07] HoraceAndTheSpider commented on #107
Just from playing whdload games I am finding I am having to switch the cpu down to 7mhz on amiberry (it came from the desert, New Zealand story) when they should run fine on fast cpu's.

I am using 020 and "real" speed iirc. JIT seems to make no difference, although I often leave it on by default.

Also adding frame skip has no "throttling" to maintain a genuine speed.

[2017-05-22 17:08] blinkydoos commented on #107
@CypherXG
Thanks for the extensive list. As you can see there seems to be a lot more problems than I originally reported !!

My first guess would be that it's relying on 'Cycle-Accuracy' code which TomB never added to the emulator (and is sorely needed in a lot of games to stop them playing at turbo speed).

[2017-05-23 16:32] CaelThunderwing commented on #77
been getting this Issue w/ latest Amiberry on the Pi3 as well, its not present in uae4arm but Does infact warn me about the RTG lib  version

[2017-05-24 19:42] blinkydoos opened #108 "SDL 2 | CD32 Blue Button doesn't work."
I'll close this as CD32 buttons only work with the PS3 pad anyway (except 'proper' blue).

[2017-05-24 20:33] blinkydoos commented on #17
@HoraceAndTheSpider I think @ransom1122 could be right. All the CD32 buttons work fine on your CD32 tester in the OP but the blue button doesn't seem to work in games. I even tried adding your fix to the SDL2 version and it didn't work. Below is a link to an absolutely awesome Amiga tester that tests everything, keyboard, sound, video, and joystick/cd32 pads etc. The blue button doesn't work on th

[2017-05-24 21:02] HoraceAndTheSpider commented on #17
@blinkydoos I assume are you using a PS3 Controller also, only you dont say?  The fix i made is only for PS3 pads which come up as "Sony PLAYSTATION(R)3 Controller" or "PLAYSTATION(R)3 Controller" - i know some pads show up differently still! (just to make things more confusing, though these are usually fakes)

It would be sort-of 'normal' behaviour for blue not to work on the non-fixed (non-ps3)

[2017-05-24 21:04] HoraceAndTheSpider commented on #17
(apologies for accidentally hitting 'close'!)

[2017-05-24 22:22] blinkydoos commented on #17
Sorry I forgot to say, yes I am using a PS3 pad and tested on Amiberry SDL1 and SDL2. I don't have Custom Controls ticked on SDL1 (and midwan completely disabled them on SDL2). I changed the config joy1 to cd32joy. I used your tester that you posted and all buttons seem to respond (including blue) but in some games the blue button does nothing. I tried the Codemasters Big 6 that ransom tried, it s

[2017-05-25 08:21] ransom1122 commented on #17
I still have no joy with the blue button with Cannon Fodder CD32 with the controller setup as "PLAYSTATION(R)3 Controller" input. Tried everything, removing custom control option. etc

Cedric And The Lost Sceptre [CD32] - Blue button seems to work on the main menu to select English language, but I think this game is not an official CD32 game anyway.

I can't figure out why most cd32 games won't al

[2017-05-25 08:38] ransom1122 opened #109 "CarlLewisChallenge WHDload is missing from Emulation Station?"
Hi,

I am comparing my games folder with the games listed in EmulationStation and have noticed that **CarlLewisChallenge** is missing from the list. No idea why?

The game is located on the pie's sdcard here
/home/pi/RetroPie/roms/amiga-data/Games_WHDLoad/CarlLewisChallenge

Config file is located here;
/home/pi/RetroPie/roms/amiga/Carl Lewis Challenge.uae

I renamed the uae file to CarlLewisChall

[2017-05-25 08:56] ransom1122 opened #110 "gamelist.xml - is mine corrupt / How to edit manually?"
When I quit Emulation Station I get this error;

![1](https://cloud.githubusercontent.com/assets/28079950/26443394/85455e40-417b-11e7-9bdf-0e5199e4731e.jpg)

My gamelist is located here;

**/opt/retropie/configs/all/emulationstation/gamelists/amiga/gamelist.xml** - File Size (37,480kb)

Also if you view gamelist.xml in a text editor should I be seeing all game entries shown in Emulation Station?

[2017-05-25 09:07] ransom1122 opened #111 "International Karate + / Graphic Issues"
Hi,

This game has constant Graphic problems on the players shadows and lower part of the screen when players fall. Can anyone see if they can figure out a working config for this that may fix this issue please?

It was hard to take a photo as the glitch flickers very fast. but here is it;

![3](https://cloud.githubusercontent.com/assets/28079950/26443839/587349e8-417d-11e7-9b0e-79cdaf9433f1.jpg)

[2017-05-25 10:23] #108 closed

[2017-05-25 10:29] blinkydoos commented on #100
It seems that the resolution needs to be increased for CD32 games (and possibly in general).

AMIBERRY SDL2
![cd32 amiberry sdl2](https://cloud.githubusercontent.com/assets/27903587/26446706/23bd38b6-413d-11e7-99fa-72d5bdb6f871.png)

UAE4ARM / AMIBERRY SDL1 (704x262)
![cd32 uae4arm 704x262](https://cloud.githubusercontent.com/assets/27903587/26446717/2fed61ce-413d-11e7-8fd6-7b0a93e4811d.png)

AMIB

[2017-05-25 10:34] blinkydoos commented on #64
I checked this and it has nothing to do with the resolution. It seems some code was removed that enabled this, not sure why ?

AMIBERRY
![banshee amiberry](https://cloud.githubusercontent.com/assets/27903587/26446879/e20e7eba-413d-11e7-8a3d-5f5403c73625.png)

UAE4ARM
![banshee uae4arm](https://cloud.githubusercontent.com/assets/27903587/26446890/f07ef6b4-413d-11e7-84e2-7673b0c74458.png)

NOTE : Th

[2017-05-25 10:36] blinkydoos commented on #109
This isn't related to Amiberry.

[2017-05-25 10:36] blinkydoos commented on #110
This isn't related to Amiberry.

[2017-05-25 10:38] blinkydoos commented on #17
I tried Super Stardust CD32 and all buttons work except the BLUE one.

[2017-05-25 10:43] ransom1122 commented on #109
@blinkydoos, Where do we post these topics then?

[2017-05-25 10:43] ransom1122 commented on #110
@blinkydoos Where do we post these issues then?

[2017-05-25 10:47] blinkydoos commented on #111
The latest WHDLoad version of IK+ (v1.7) seems to work fine set at 25MHz, no graphic glitch but no sound on the bonus stage. If you change the MHz then the sound keeps cutting out.

[2017-05-25 10:51] blinkydoos commented on #109
I'm not sure. It looks like you're using some custom loader judging by the paths.

[2017-05-25 11:26] ransom1122 commented on #109
I used Horaces youtube tutorial downloaded all games from his site. All scanned except for this game. So i added it in manually. But no game description?

[2017-05-26 08:17] ransom1122 commented on #111
That did not work for me, but i tried 7MHz, and that works perfect. No graphic glitches, and also has sound in the bomb bonus stage.

[2017-05-26 09:22] blinkydoos commented on #111
Out of interest, what version does it say your IK+ is ? That graphic glitch that you showed happens on the old version. It doesn't do that on mine.

[2017-05-26 11:02] ransom1122 commented on #111
Cant check at the moment.  But these are the whdload games downloaded from Horaces whdload set games on his site.

[2017-05-26 11:22] blinkydoos commented on #111
No worries, let me know when you have the time. Just curious, because as I said before, that graphic glitch happened on an older version which probably means there are a lot more outdated versions in his "pack". I use the collection from Retroplay's folder which is fully up to date and he corrected a lot of errors.

[2017-05-26 12:19] ransom1122 commented on #111
Can retroplays games just overwrite horaces without causing complications? Ill let you know if I had the old version tomorrow thx.

[2017-05-27 06:56] ransom1122 commented on #111
@blinkydoos The version I had was IK+ v1.5.

Now I am debating wether I should update the game to the latest v1.7 because 1.5 is working perfect at 7MHz. And what you say v1.7 has sound issues on the bonus stages.

Did you manage to get a stable config on IK+ v1.7?

[2017-05-27 09:20] blinkydoos commented on #111
I thought I recognised the glitch. v1.5 came out in 2001 and wasn't updated to v1.6 until June 2016 so I imagine you have a lot of outdated games.

If v1.5 works great for you then I would keep it, I've only quickly tried v1.7 and 7MHz seemed to work also for the bonus stage but when I started a new game the sound kept cutting out. There is an option to completely skip the bonus stages though.

[2017-05-27 09:25] ransom1122 commented on #111
Ok, interesting...

All the whdload games were from horaces download collection. So I guess it would be wise to replace all the games with Retroplays newer versions at some stage anyway. Thx for testing :)

[2017-05-27 09:27] blinkydoos commented on #111
I have been playing some more and it seems that at 25MHz the sound starts cutting out as well after a while. The latest version definitely needs cycle accuracy.

[2017-05-27 09:29] ransom1122 opened #112 "Xenon 2 2Disk WHDLoad"
I cannot seem to get past the screen after you press fire on the title screen, it says Loading game.. and freezes/stops on a blak screen. You can quit to gui, but thats a bout it..

 Can anyone check this please to see if the game is working on Amiberry?

[2017-05-27 09:35] blinkydoos commented on #111
The ADF version on A500 works perfect. And if you notice the WHDLoad version intro the multi-coloured guys fighting around the IK+ logo etc. are going warp speed, it works correctly with the ADF, and also the stars around the sensei.

[2017-05-27 10:09] blinkydoos commented on #112
Correct, this version doesn't work. The WHDLoad 1Disk version works fine and still contains the music intro.

[2017-05-27 10:21] ransom1122 commented on #112
Thanks I will replace the 2disk with the 1disk. Thanks

[2017-05-28 01:26] ransom1122 commented on #112
I used **Xenon2_v1.9_1Disk_2234** WHDLoad and it freezes at the same stage of the 2disk version, after the title screen where it says loading games. Messing with various configs, It will either stay frozen there, or go black screen after the loading game prompt at the title screen.

What is your config for this game?

[2017-05-28 01:56] ransom1122 opened #113 "War Zone (Core Design) - Graphic Problems"
This game has major graphic problems. The barrels at the start have black backgrounds, when you shoot, the bullets create a path of black graphic box images across the screen.

I have tried several version of both WHDLoad and ADF's

WarZone_v2.0_CoreDesign_0598.lha
WarZone_v1.0_Core_0598.lha

War Zone (1991)(Core Design)[cr FLT].adf
War Zone (1991)(Core Design)[cr FLT][f AGA Galahad].adf

And they

[2017-05-28 09:44] blinkydoos commented on #112
Works fine on mine. Did you copy the 1disk version over the top of the 2disk version ? If so, you will have 2 slave files and probably causing conflict. Try deleting the 'Xenon22Disk.Slave' and the 'Disk.2' file.

[2017-05-28 10:46] ransom1122 commented on #112
My bad, i forgot to change the config from Xenon22Disk to Xenon21Disk.

All good working perfectly now. Thank you

[2017-05-28 11:02] HoraceAndTheSpider commented on #111
The download collection I provided is the RetroPlay packs btw. They just are 18 months old or something now, so some games need updating.

[2017-05-28 11:09] ransom1122 commented on #111
Thanks for the info

[2017-05-28 11:34] CypherXG commented on #110
This is Retropie....

[2017-05-28 11:39] CypherXG commented on #111
Runs bei me with full speed.
With Jit off runs without GFX Errors.
With Jit on i have the same Errors.

[2017-05-28 14:57] blinkydoos commented on #111
@HoraceAndTheSpider Retroplay remade them all a couple of months ago and apparently corrected a lot of tooltype errors etc. Before I think they were made by KillaGorrila ? and from the WHDowload site (don't quote me on that though :) )

@CypherXG There are no graphic errors on v1.7 only some sound issues (depending on the speed you set). It probably needs cycle exact as most people use these on a

[2017-05-30 19:26] thewarroom opened #114 "Dragonrise USB encoders not working properly"
Hi Guys,
running amiberry on a pi3b, retropie 4.2
usb encoders are detected however the up-down directions on the joystick won't work, left-right and buttons work fine. Any advice appreciated.
Also exactly the same issue on UAE4ARM

[2017-05-31 07:34] ransom1122 commented on #113
Anyone tried this game yet?

[2017-06-02 18:01] thewarroom commented on #114
is there a different type of usb encoder i can use if this issue cannot be solved?

[2017-06-02 18:01] thewarroom commented on #114
i believe the dragonrise encoder is very popular with cabinet builds?

[2017-06-03 05:44] ransom1122 opened #115 "Multiple ADF Inside ZIP - Is it working?"
Hi,

I have multiple ADF game Shadow of the Beast II inside a ZIP file, Emulation Station picks it up and allows me to launch it. But it will only play the first #1 ADF.

After the intro it asks to switch ADF #2 into DF0, The only way this is possible is if the 2 ADF's are extracted out of the ZIP, then PRESS F12, and manually select Disk #2 into DF0:  This works but it defeats the purpose of havi

[2017-06-03 09:20] blinkydoos commented on #115
I haven't really used this emulator for a while now and i'm not even sure it's still being worked on (I recently bought a mini PC that's smaller than the original XBOX for dirt cheap (£90) and it runs WinUAE with full Cycle Accuracy perfectly, Core i3) . Your problem is again with Retropie and not Amiberry. Shadow of the Beast II only accesses DF0: The multiple disks in zips is only useful on game

[2017-06-03 10:19] ransom1122 commented on #115
I was dreading that.
What exact model is your mini pc?
Can you hide disk 2 or disk 3 entries in emulation station if you had multiple entries of the same game?

[2017-06-03 13:57] blinkydoos commented on #115
It's only a refurbished Dell ex-business. Core i3-3225 (3.3GHz), 8 GB Ram, Intel HD4000 Graphics. It's very small and runs great on the highest accuracy settings.

I don't know much about Retropie's ADF detection script, I know it's only basic though. I know it looks inside zip files for multiple ADF's but like you say, if the game asks you to insert the next disk into DF0: then you can't. You cou

[2017-06-04 04:51] ransom1122 opened #116 "Amiberry & CDTV Images"
Hi,

Finally got some time to check out CDTV game images and Amiberry, and for the life of me I cannot get them to boot? When I launch it from ES, It remains on the Kickstart v1.3 Kick screen. Seems to be a kickstart problem?

Game in question is Wrath of the demon which is located in this folder

**/home/pi/RetroPie/roms/amiga-data/Games_CDTV/Wrath of the Demon (CDTV)**

Wrath of the Demon (USA).