[2018-01-11 12:24] blinkydoos opened #204 "Quickstart and Immediate blitter"
Currently all Quickstart configs have Immediate Blitter turned on but in WinUAE it's only turned on with faster CPU's 68020 and above.

[2018-01-11 14:55] blinkydoos commented on #194
There is a big problem now i'm afraid, i'm not sure what commit it was (maybe https://github.com/midwan/amiberry/commit/409df536feb654e3563b90d668a28d62fddb0be6) but now if you are in-game and go to the GUI it resets the options or something, so you can't go back to the game.

[2018-01-11 15:07] blinkydoos commented on #194
Unfortunately, there is a big problem now. I don't know if it was this commit https://github.com/midwan/amiberry/commit/409df536feb654e3563b90d668a28d62fddb0be6 but if you are in-game then go to the GUI it resets the settings or something, and you can't resume the game because it resets.

[2018-01-11 15:51] blinkydoos commented on #198
Another thing that i've been trying to report but Github stopped working ! When selecting Quickstarts, I think it's working fine now when selecting with the mouse but when using the keyboard/joystick it doesn't.

[2018-01-11 15:54] blinkydoos commented on #194
Another thing that i've been trying to report but Github stopped working ! When selecting, I think it's working fine now when selecting with the mouse but when using the keyboard/joystick it doesn't.

[2018-01-11 16:11] CypherXG commented on #69
In the actually Version it was fixed.
But i read that the Keyboard LED's only working when u start the emulator without root rights.
It is not easy to geht all dirs, functions with the pi if you are not root.

About the onscreen LED's. Can you add a CD and a Audio Buffer LED?
I tried to make that but i can not see it on the Screen. It made some mistakes.. :-)

[2018-01-11 21:09] #203 closed

[2018-01-11 21:10] midwan commented on #204
Actually, that's not correct...
All Quickstart options have "Wait for blitter" enabled by default, not Immediate.

[2018-01-11 21:18] midwan commented on #194
@blinkydoos I don't see the problem you mention with Quickstart, using the keyboard it does change the settings correctly here.
What did you check and didn't get updated?
The only scenario I found was that the ROM would not be updated for A1200, if there wasn't one for that model in the list (I had a kick3.1 for A2000). After placing a proper ROM in there, and Rescanning, it worked.

[2018-01-11 21:21] midwan commented on #204
Also, in WinUAE all Quickstart options above A1200 have "Wait for Blitter" enabled by default.
The A500/A600 configuration does not, if you have set it to "Best compatibility" (Cycle-exact). We don't have that mode, so it goes to "Wait for Blitter" as well (same as WinUAE does if you set it to Best Performance).

[2018-01-11 21:21] #204 closed

[2018-01-11 23:14] blinkydoos commented on #204
Sorry, I got Immediate & Wait mixed up. Thanks for the explanation.

[2018-01-11 23:30] blinkydoos commented on #194
I'll have to get back to you tomorrow about this because I'm out at the moment. The problem I noticed was when loading the Retropie configs with the joystick. For instance, I pressed fire on the rp-a500 config then pressed fire on the Load button. If I then selected a different config and pressed Load the Processor and Chipset etc were still set at the previous config. It worked fine when selectin

[2018-01-11 23:52] midwan commented on #194
@blinkydoos Yes, the bug with applying the Quickstart settings every time you opened the GUI is now fixed :)

In the tests I made I can't recreate the issue you mentioned above, so please let me know if you still have it when you test it again with the latest updates?

[2018-01-12 08:31] jarokuczi commented on #77
Where I can download latest "dev" version?

[2018-01-12 09:33] midwan commented on #77
@jarokuczi Currently you can only compile it from source, there's no binary available yet.
We will release a new binary when this version is stable enough, and it will be moved to the master branch also at that point.

If you want to compile it from source, you'll have to clone the "dev" branch of this github repo locally, then follow the instructions in the README. Otherwise, I'd recommend you wa

[2018-01-12 10:58] blinkydoos commented on #194
I built the latest, the problem still occurred after messing with some options but I can't reproduce it ! Let's forget about this one as it's giving me a headache :)

Regarding the new 'Set Configuration' button, when selecting a quickstart from the list it still changes to the settings. I thought the settings would only change when you pressed the 'Set Configuration' button ?

[2018-01-12 12:12] midwan commented on #194
@blinkydoos
The Set Configuration re-applies the selected config, but the dropdown will also apply what you selected (same as WinUAE does in this respect). This is by-design. :)

[2018-01-12 12:22] blinkydoos commented on #194
But the version of WinUAE that I have (v3.6.0 beta) it doesn't apply the chosen quickstart until you press the 'Set Configuration' button. There doesn't seem to be any point for the 'Set Configuration' button if it applies the settings anyway (probably WinUAE 3.5.0 and below).

[2018-01-12 12:26] jarokuczi commented on #77
tried to compile dev branch by myself but got [https://pastebin.com/h8Nj3FnP](error). I assume that there is some dependency problem but i installed every package listed as required in readme.

[2018-01-12 12:27] midwan commented on #77
@jarokuczi hmm, page not found on the link you posted?

[2018-01-12 12:32] jarokuczi commented on #77
shame on me, entered link as name and name as link. Correct link in updaded comment.

[2018-01-12 12:36] midwan commented on #77
@jarokuczi Almost there, the link you have above ends with a dot (".") which should not be part of it (otherwise it doesn't exist as well). But I managed to see it now :)

First of all, it looks like you cloned the "master" branch, not the "dev" one. The references to "pandora" are no longer there in the "dev" branch. Try this:
`git clone https://github.com/midwan/amiberry -b dev`

Then it looks l

[2018-01-12 14:30] blinkydoos commented on #155
I just moved these two posts here as they were in an unrelated thread that is closed anyway (just in case there are any changes). I also updated the first post.

[2018-01-12 16:06] blinkydoos commented on #81
Now the builds have been merged this also happens on SDL1. When going back to the file requester, the previously selected file is off screen (sometimes several pages).

[2018-01-12 18:49] jarokuczi commented on #77
After solving dependency problem, new issue appears [https://pastebin.com/TriYprPq](https://pastebin.com/TriYprPq)

[2018-01-12 19:12] midwan commented on #77
@jarokuczi Thanks for the feedback. Those errors are related to the known issue I mentioned above, about including the "arm_helper.s" file because the neon_helper includes instructions that cannot be compiled on the Pi 1/Zero processor. :)

I'll get that fixed a bit later today I believe...

[2018-01-12 19:42] midwan commented on #155
@blinkydoos
I believe that the role of the button, is to apply the settings "manually" if one wishes to do so. An example usage scenario would be the following:
- You have loaded a custom config already, perhaps you are already emulating as well. You enter the GUI. You want to apply the currently selected Quickstart menu.

Before, you'd have to change the dropdown option to something else, then sw

[2018-01-12 21:07] blinkydoos commented on #155
OK, got ya. I'll close this.

[2018-01-12 21:07] #155 closed

[2018-01-12 22:21] midwan commented on #77
@jarokuczi it should be fixed now (I tested a compile for rpi1 myself) :)

Please let me know when you get a chance, so we can close this issue if nothing else is wrong.

[2018-01-13 13:29] midwan commented on #77
@jarokuczi That's strange, it says it can't find bcmhost...

Do you have the following paths in your system?
[code]

They are standard paths for Raspbian distros, which contain the Broadcom headers (to use Dispmanx). Are you running another distro?

[2018-01-13 13:32] jarokuczi commented on #77
i am using chrooted Raspbian installed via debianbootstrap on AMD64 PC.

[2018-01-13 13:35] midwan commented on #77
You'll need those headers and the library, if you want to use Dispmanx.
If you have them in another path, you can update the Makefile for your target accordingly.
If you don't have them, then you can't use Dispmanx, the only alternative would be to build the SDL2 target for RPI1 (which means you'll have to install SDL2 first).

[2018-01-13 14:03] midwan opened #205 "SDL2/Dispmanx: the full screen is not cleared when emulation starts"
### Expected behavior
The screen should be cleared to black when starting the emulation, so we don't have any previous contents showing behind

### Actual behavior
If started from the GUI, the screen is cleared as expected. If started from the console without the GUI (e.g. by specifying a config directly) the screen is not fully cleared, we have the left/right portions showing whatever was there b

[2018-01-13 22:12] ransom1122 opened #206 "Amiberry Android & UAE files"
Hi

The big question on everyone's lips is...

1. Does anyone know when the android port of Amiberry will be released? Who is working on it?

2. Wil UAE files from older version of Amiberry on Raspberry Pi or UAE4ARM (Android) work on the new version of Amiberry on Android?

If not... Would it be possible to batch edit uae config files from a previous Amiberry version with a text editor for compat

[2018-01-13 22:28] midwan commented on #206
@ransom1122
There is an Android target already in the Makefile, both for SDL1 and SDL2. I tested compiling it all the way to an .apk and wrote a guide about that, but I haven't run more tests with it yet.
This is certainly something that needs a bit more attention, before the next release (the aim is to release binaries as well, so they should be working as expected).

Regarding the config files,

[2018-01-13 22:32] thatman84 commented on #206
FYI I know it's a bit early for an Amiberry compatibility sheet but I am preparing one in readiness as there is plenty to fill out in the mean time for Hyperspin related stuff. It would be a Shield TV focussed sheet but I can test on an S7 also.

It would be awesome to collaborate and have maybe a second page for the Pi compatibility also. Keep everything in one place.

No pressure here UAE4arm an

[2018-01-13 22:33] midwan commented on #206
I have a Shield TV and a few Android platforms to test with here, as well.

[2018-01-13 22:40] thatman84 commented on #206
I recently started to learn a bit of Android Studio when an OpenBOR issue popped up.

I intend to continue learning Android development in the futire for emulator purposes but all the guides and stuff are geared at making new apps :(

What build environment do you use for this project?

[2018-01-13 22:41] ransom1122 commented on #206
Can we test out the alpha apk on our Shields at all? Possibly testing out the transition of raspberry pi configs to android?

Where is this guide you wrote about?

There are more then enough people to help test out this alpha apk and submit issues for you if required..

[2018-01-13 22:55] midwan commented on #206
I'll post the guide to a page in the Wiki, where it belongs :)

I used a Linux VM (Ubuntu-based, 64-bit) to install the JDK and Android Studio, then compile the emulator and use Android Studio to build the apk...

[2018-01-13 23:13] blinkydoos commented on #206
I'm also interested in this Android version mainly because of the huge speed advantage and it can be made portable to some extent. I know the "old" Android version had a basic built-in keyboard, I assume this will no longer be a feature ?

[2018-01-13 23:14] midwan commented on #206
@blinkydoos All of the extra features from Lubomyr's version are included actually. :)

[2018-01-13 23:22] blinkydoos commented on #206
That's great to here. It would be even better if the built in keyboard had the same keys and layout as a real Amiga because I remember there being a lot of keys that weren't even needed and you had to hunt out the exclusives like 'Help' and the 'Amiga' keys but this is way into the future !

[2018-01-13 23:30] ransom1122 commented on #206
@midwan
Thanks for the reply you have many people excited for the release. All the best..

[2018-01-13 23:33] thatman84 commented on #206
Great stuff @midwan

Hope the release goes smooth for you.

So VM is next on my hit list for tinkering :)

[2018-01-14 11:40] tukicat opened #207 "Amiberry does not recognise retroarch.cfg for IPAC (keyboard encoder)"
I have compiled the dev version (SDL1) from the source and have it running on my retropie setup. However, one issue I am having is with the controls. I have placed a retroarch.cfg (attached) in the following directory - /opt/retropie/configs/amiga/amiberry/conf/. However, when I run Amiberry and select "Retroarch Keyboard as Joystick" there is no response from the joystick or buttons.

Raspberry P

[2018-01-14 11:55] blinkydoos commented on #207
This may be due to this issue I reported https://github.com/midwan/amiberry/issues/199

[2018-01-14 11:57] midwan commented on #207
@blinkydoos that issue is about the fire buttons only though, the directional do work...
If I understand this issue correctly, none of the controls work?

[2018-01-14 12:37] tukicat commented on #207
I have retested and I can confirm the the directional buttons do work, just not the firebutton. However, input_player1_x = "space" appears to be working as fire button one on my setup.

As I understant a "r" should appear next to the controller description under the custom controls menu, which indicates the retroarch config is being used. This is blank on my setup which I assumes means it is not r

[2018-01-14 12:39] midwan commented on #207
@tukicat thanks for confirming, in that case it seems it's the same bug as mentioned in #199.
This will be fixed shortly I hope. :)

[2018-01-14 12:56] tukicat commented on #207
No, problem and thanks, that's good to hear.

[2018-01-14 13:53] HoraceAndTheSpider commented on #207
FYI custom remapping currently does not support keyboard controls as joystick - planned for future release

[2018-01-14 13:54] HoraceAndTheSpider commented on #207
It will  Not operate as a normal joystick/cd32 controller at the moment

[2018-01-14 14:12] jarokuczi commented on #77
Today tried to build on rpi1 with latest raspbian image. Still no luck :(
[https://hastebin.com/ikufocapaj.sh](https://hastebin.com/ikufocapaj.sh)

[2018-01-14 14:37] midwan commented on #77
@jarokuczi Thanks, that's something I found myself yesterday. I fixed it locally, but haven't committed the changes yet (I was testing some more stuff). I'll do so a bit later today.

[2018-01-14 23:04] midwan commented on #77
@jarokuczi The a98d8bf2e2ea70fab45a49701420af6d8dd687ef commit should have fixed the issue for you, please give it another try when you can?

[2018-01-15 08:59] jarokuczi commented on #77
Finally It's alive 😄. Compiled it just now, will test it later today.

[2018-01-15 09:48] midwan commented on #77
Glad to hear that! I'm closing the issue for now, let me know if you have any problems and we can revisit it.

[2018-01-15 09:48] #77 closed

[2018-01-15 20:16] #201 closed

[2018-01-16 07:54] midwan commented on #77
@jarokuczi If you're on Stretch, try using the fkms driver instead of the Legacy one.
They changed some things there with the Legacy driver, and sdl1 apps won't show correctly (only a black screen) if started from the console. With the "fkms" driver however, they work.

Performance will be much better if started from the console, instead of X11... ;-)

[2018-01-16 08:03] jarokuczi commented on #77
How to use this driver in stretch? Do i need to compile it again?

[2018-01-16 08:10] midwan commented on #206
Sorry this is taking longer than expected :)

I have been checking the different ways of doing it, so we can document the preferred/best way depending on complexity, ease of use, etc.

The "classic" approach of using the instructions from Lubomyr's repo, does work with his source code.
There are other ways to do it also:
- Using just the command line on a Linux VM, following SDL2's Wiki official i

[2018-01-16 08:36] midwan commented on #77
@jarokuczi No need to re-compile anything, just use "raspi-config" to select the "Fake KMS driver" in the GL Driver options (under Advanced)

[2018-01-16 08:37] thatman84 commented on #206
Thanks for the update and no need to apologise it's good to know the Android side is coming along.

I am quickly realising I have a lot to learn!

3 evenings trying to get the java path to stick may give you an insight to my skill level!

I will try your other linked solutions but I expect I will need a specific Amiberry guide in the end.

Once something is fleshed out I will be a good dummy teste

[2018-01-16 08:49] ransom1122 commented on #206
If Android Studio is most appealing & Visual Studio is where your most experience then its probably best you stick with only these two for now to avoid complexing things.

Thanks for the update midwan. Things are definitely looking positive going forward.

There is so much excitement in the air about this release. You should be one proud man. 👍

[2018-01-16 15:34] ghost opened #208 "Keyboard bug after booting from UAE file"
As an example, if you set a A1200 quickstart and load the attached file. It says press HELP to switch NTSC/PAL. I pressed HELP and it automatically changed the resolution to 640x200 and was 60Hz according to the Status Line, but looking in the GUI, NTSC is not on. I switched it on and off again and resumed but it locked up with a black screen.

While in NTSC, pressing -

Z also presses SPACE at th

[2018-01-16 15:37] ghost opened #209 "Can't select previous files from drop down lists"
If you click on a previously loaded file from one of the drop down lists (under DF0: etc. in floppy section and quickstart section) it doesn't do anything.

[2018-01-16 15:57] jarokuczi commented on #77
@midwan After switching to fake kms driver gui showed up, emulation started, emulation is faster (4.8 MIPS) but there are no rtg (uaegfx) modes available in screenmode despite of rtg ram set to 16 megs.

[2018-01-16 17:27] midwan commented on #209
I noticed that also the other day, it's a bug.

[2018-01-16 17:28] midwan commented on #208
The key behavior was supposed to be fixed, I'll check if we brought it back by mistake...

[2018-01-16 17:30] midwan commented on #77
Hm, I'll give it another test tonight on a Pi Zero to double check...
I did test the binary for RPI1 on my RPI3, and it worked normally (including RTG modes) the other day, so just to make sure I'll double check with the actual hardware and get back to you.

[2018-01-16 18:30] jarokuczi commented on #77
@midwan Checked showconfig output and it seems to register some card with mem size equal to rtg setting.
[https://imgur.com/HQ3IijS](https://imgur.com/HQ3IijS) maybe there is some problem with proper detection of rtg mode available?

[2018-01-16 18:40] midwan commented on #77
@jarokuczi Certainly nothing that would be triggered by starting it from the console though... Is this the same system you tested with P96 (and worked) under X?

I assume you have the Picasso96 package installed?

[2018-01-16 18:53] jarokuczi commented on #77
this is exactly same system with same configuration file just amiberry launched from shell without X11.
Here is picture of amiberry launched from X [https://imgur.com/a/q0Igm](https://imgur.com/a/q0Igm)

[2018-01-16 20:44] midwan commented on #77
Just tested it on a Pi Zero here...
Picasso modes do work normally, though i had to open ScreenMode and select one (even though the .hdf I provided already had a Picasso mode saved in the prefs).

Could you please check if
1) You can see Picasso96 modes in ScreenMode
2) You can select and Test/Save one, and it's applied

Perhaps it's that simple.. :)

[2018-01-16 21:05] jarokuczi commented on #77
There is no picasso modes at all, only PAL modes available when launched without X. When launching from X system boots up in picasso mode already and i can select from multiple picasso (uaegfx) modes.

[2018-01-16 21:32] jarokuczi commented on #77
@midwan it looks like problem with mode detection in my case. When I manually add mode in Picasso96Mode it showed up in screenmode prefs. Here is movie showing issue:
[the issue](https://photos.google.com/share/AF1QipMPgb3KeRzDZAgPDVXsBUD5DFo2okQebqWSKmWRW7QdB3Bt3z7j1X2yrakmBgSnKQ?key=QnNIVUtHX29DN0JnRlQ3dk9uU1NDR3pMUTFaV1hn)

[2018-01-16 21:40] midwan commented on #77
@jarokuczi that's interesting...
It might be related to the Picasso96 driver in use, because the resolutions are saved in that (the file under DEVS:Monitors/).

The installation I used to test with comes with Amiga Forever, and it's the Workbench 3.xx system. It has Picasso96 pre-installed with the "uaegfx" driver, and the resolutions are listed in Screenmode (although the saved one did not get lo

[2018-01-16 21:43] jarokuczi commented on #77
I am using Picasso96 from [here](http://lilliput.amiga-projects.net/Picasso96.htm)

[2018-01-16 21:49] jarokuczi commented on #77
Tomorrow I will try with Cloanto Workbench 3.X instead of H&P 3.9 maybe this will work. Strange thing is that when i start amiberry from X11 there are many modes available.

[2018-01-16 21:54] midwan commented on #77
@jarokuczi Well, it makes some sort of sense:
- Before listing the available modes, we test that they are valid as Hardware Surfaces on the host system.
- Obviously, the system is reporting different things when running under X11 or from the console.

This is only an issue with SDL1, as in SDL2 the mechanism is different and we don't have that problem.
You could try building the "rpi1-sdl2-dispman

[2018-01-16 21:56] midwan commented on #77
@jarokuczi I can probably push a small fix that might help with this on SDL1 also..

[2018-01-16 22:22] midwan commented on #208
@blinkydoos
The keyboard input bug is fixed already, I just double checked both SDL1 and SDL2 builds... Maybe you need to do a make clean first? :)

[2018-01-16 23:00] alerinoreis opened #210 "[SDL2] Building fails on Orange Pi PC (Allwinner H3 CPU / Mali400 GPU)"
Hello midwan,
apologies if i'm posting in the wrong place, i couldnt find a forum where i could discuss this before stating it's an issue, because maybe it's not supported at all. Trying to compile the SDL2 flavor in an Orange Pi PC (CPU Allwinner H3/ GPU Mali400), it seems to build OK until the end, when i get this: https://pastebin.com/raw/ucTPEVgp . I used the rpi2 target, which is very similar

[2018-01-16 23:08] midwan commented on #210
@alerinoreis
Hello, and thanks for the feedback!
The errors seem to indicate problems while compiling the processor-related parts (JIT).
Did you pick the right branch? From the log it would seem you're trying to build the version from the "sdl2" branch, which is quite old and deprecated now. If so, please try the "dev" branch instead.

The old branches are kept for a bit more, just in case we need

[2018-01-16 23:10] blinkydoos commented on #208
Make clean ? I have been building SDL1 by following the instructions and typing `make all` for Pi 3, then replacing the amiberry file (and data folder if needed). What am I missing ?

[2018-01-16 23:12] midwan commented on #208
@blinkydoos If you have an older build still in place, a "make clean" will remove old object files and the next "make" will rebuild them. If there are changes to header files, they are not picked up automatically if you just recompile on top of an older build ;-)

[2018-01-16 23:13] midwan commented on #210
@alerinoreis That being said, I don't have an OrangePi here to test with... but let's see how it goes

[2018-01-16 23:15] alerinoreis commented on #210
thanks for the quick response! I'll let you know soon.

[2018-01-16 23:16] blinkydoos commented on #208
When you say 'recompile on top of an older build', I always delete the old amiberry-dev folder before cloning the new one.

[2018-01-16 23:21] midwan commented on #208
@blinkydoos OK, that's a bit... overkill :)
You could do a "git fetch && git pull" to get the latest changes only.
Or a "git fetch && git reset --hard origin/dev" if you want to wipe out any local changes and sync with the latest from the repo.

Anyway, I can't recreate the keyboard input problem you mentioned. This was fixed in an older commit, and I just tested several different version in diffe

[2018-01-16 23:27] blinkydoos commented on #208
I'll try this tomorrow and let you know.

[2018-01-16 23:30] blinkydoos commented on #208
Just out of interest, what will those commands do compared to cloning the full fresh amiberry-dev directory and 'make all' ?

[2018-01-16 23:37] midwan commented on #208
@blinkydoos they should do the same, this is just me being paranoid...

[2018-01-17 00:19] alerinoreis commented on #210
Good progress! Thanks for the heads up!
Now it builds fine:
pi@RetrOrangePi:~/amiberry-dev$ make all PLATFORM=rpi2-sdl2
make -C src/guisan
make[1]: Entering directory '/home/pi/amiberry-dev/src/guisan'
make[1]: 'lib/libguisan.a' is up to date.
make[1]: Leaving directory '/home/pi/amiberry-dev/src/guisan'

 but then, running the binary from the source folder...

pi@RetrOrangePi:~/amiberry-dev$ ./am

[2018-01-17 06:33] Voljega commented on #210
do you have the controller.png file ? and the data directory under the exec file ?

[2018-01-17 08:24] midwan commented on #210
@alerinoreis
The custom cursor thing is easily fixed, we had the same issue on the XU4 so I'll work on a solution that makes things work regardless of you have support for that or not.

Regarding the missing png file, that is included in the repo under the "dev" branch, so please make sure you got all the files from there?

[2018-01-17 11:18] blinkydoos commented on #208
I did some more testing and it seems it's nothing to do with NTSC. It only happens when I boot directly from one of Horace's UAE files made with his ConfigMaker. I select the UAE file which boots into the game, go to the GUI, change to a quickstart config, then in emulation the keys do what I showed above. I've attached one of his config's, maybe you could have a quick look to see if anything jump

[2018-01-17 12:10] midwan commented on #208
@blinkydoos Thanks for testing further!
I'll take a look at this tonight and see if I can recreate it.
Stay tuned... ;-)

[2018-01-17 13:21] alerinoreis commented on #210
A bit of info: i'm running this on a RetroPie fork for Allwinner H3 devices, so i had to make some minor tweaks to the install script (enable mali, change branch to dev, change require name to amiberry-rpi2-sdl2-dev instead of amiberry) and it built just fine.

Running the result binary from retropie installation returned the same error, but the good news now is that running the retropie script (a

[2018-01-17 13:26] midwan commented on #210
@alerinoreis
Thanks for the update!
The cursor problem will only show in the GUI, because it's only used there. If you skip the GUI and load some config directly, it will launch without it.

The current implementation of SDL2 can be further optimized also, it's slower on the Pi as well compared to the SDL2/DispmanX approach (that's why we still have Dispmanx targets, for both SDL1 and SDL2). If we

[2018-01-17 14:24] alerinoreis commented on #210
In fact i still cannot open the GUI. Running amiberry.sh without parameters results in the same error as before. Ingame, pressing F12 quits to EmulationStation.

The distribution (RetrOrangePi) has Mali r4p0 enabled for the framebuffer and the X11 as well. The SDL2 is the RetroPie version compiled with enable-video-mali and disable-video-x11.

In the first build attempt i added  '-L/usr/include/SD

[2018-01-18 06:08] jarokuczi commented on #77
@midwan Yesterday I compiled SDL2 and amiberry with "rpi1-sdl2-dispmanx" as a platform. RTG mode are working good even when I launch it from console. But way to achieve it working is hard, maybe you could try to static link amiberry with proper compiled SDL2 on release?

[2018-01-18 07:51] midwan commented on #77
@jarokuczi static linking is considered a bad idea, especially since different systems may have different configurations, the library might be updated in the future, etc.
Building SDL2 is a one-time task, and some systems provide easy ways of getting it in place (e.g. RetroPie has a script). It's unfortunate that the default binary bundled with Raspbian is a) an older version and b) doesn't have t

[2018-01-18 13:21] HoraceAndTheSpider opened #211 "Feature Request: LHA/ZIP support for WHDLoad"
This can currently be done through launch scripting, but native support for pre-installed WHDLoad games, in similar fashion to FS-UAE, as discussed.

This will take advantage of exisitng code within amiberry for LHA unpacking.

A file is parsed into the command line. e.g. `amiberry DDay_v1.1_Impressions_0455.lha`

- Clear any old content for `/dev/shm/whdload_temp/`
- Check file exists
- Check spa

[2018-01-18 14:05] blinkydoos commented on #211
Like the sound of this. @midwan Could you also add the ability to mount archive's as Hardrive's like WinUAE does ? That way you can load a Workbench or ClassicWorkbench etc. and mount an LHA file in DH1: This way you can read the Manual, Tips and Readme's in the files for all WHDLoad files, Games, Demos and Magazines. And appreciate the nice icons !

[2018-01-18 14:09] HoraceAndTheSpider commented on #211
I would think that effectively that would just mean triggering the following steps when a ZIP/LHA is attached as a hard-drive:

- Unpack contents to /dev/shm/whdload_temp/ - this will contain a sub-folder for the game e.g. /IK+/ (create whdload_temp folder if not existing)
- Mount /dev/shm/whdload_temp/ as DH1

Which we should be able to do.

If worked on further, I may look to add reading of Manu

[2018-01-18 14:15] blinkydoos commented on #211
I assume this would be a lot easier to add as the code has been in WinUAE for several years. I'm not even sure if WinUAE extracts the archive as i'm able to mount some of the 'Extract on Amiga' WHDLoad games without any problems occurring.

[2018-01-18 14:25] HoraceAndTheSpider commented on #211
WinUAE still has to unpack the files according to it's website; http://www.winuae.net/features/

**File support**
`Transparent decompression of popular compression formats, supported by all file types, including disk and CD images (zip, 7zip, lzx, lha, lzx, rar)`

If it works like FS-UAE (highly likely as the codebase for FS is from WinUAE)  then it will use extraneous data to ensure support of 'd

[2018-01-18 14:42] blinkydoos commented on #211
From what I read in FS-UAE, it creates its own 'bootable' directory by extracting the game, some files from a workbench disk and the WHDLoad program similar to what you described in the first post. I'm not sure how WinUAE does it, you obviously need a boot disk like workbench but all the suspect files seem to work and display correctly in DirectoryOpus. Hope @midwan can explain how it does this (b

[2018-01-18 20:24] HoraceAndTheSpider commented on #211
As i said, FS gets around this using extraneous data files (.uaem) which cover the difficult areas - i.e. it 'changes' names on the host OS (as you noted) but reports the 'correct' names back to the emulated Amiga.

The problem is mostly related to Windows anyway, so not particularly relevant for Amberry's target plaforms (Primarily Linux based systems) at the moment, but must have to do the same,

[2018-01-19 10:23] ghost opened #212 "'Start in Quickstart Mode' option has no effect"
The GUI always starts in Quickstart mode whether this option is on or off.

I had some good news a couple of days ago and it's just been confirmed so this will be my last report. I'm moving on. Thanks for all the updates. Good luck, bye!!

[2018-01-19 19:20] midwan commented on #210
@alerinoreis I made some changes regarding the custom cursor handling in the GUI, perhaps this fixes the problem you're facing also. Could you please give it another try (remember to fetch the latest!).

[2018-01-19 19:37] #212 closed

[2018-01-19 20:16] #209 closed

[2018-01-19 20:40] alerinoreis commented on #210
Running the binary directly with no parameters or omitting -G from binary/amiberry.sh leads to the same error described in the previous posts:
INFO: Could not create color cursor: Cursors are not currently supported
Unable to load image file: data/controller.png

with -G , success :)
http://www.retrorangepi.org/amiberry.png (actual 720p screenshot)

[2018-01-19 20:47] HoraceAndTheSpider commented on #210
Controller.png and now also the logo files possibly?

[2018-01-19 20:50] alerinoreis commented on #210
all files seem to be there :/
pi@RetrOrangePi:/opt/retropie/emulators/amiberry$ ls -l data/
total 296
-rwxr-xr-x 1 root root   1406 Jan 19 20:06 35floppy.ico
-rw-r--r-- 1 root root 143648 Jan 19 20:06 amiberry-logo.png
-rw-r--r-- 1 root root   1406 Jan 19 20:06 amigainfo.ico
-rw-r--r-- 1 root root  31724 Jan 19 20:06 AmigaTopaz.ttf
-rwxr-xr-x 1 root root    318 Jan 19 20:06 chip.ico
-rw-r--r-- 1 r

[2018-01-19 20:52] midwan commented on #210
@alerinoreis
Where did you start the emulator from? How did you start it (using a script, or directly calling the binary?)
It's going to expect a data/ folder right where it's started from, perhaps it doesn't find it?

[2018-01-19 21:21] alerinoreis commented on #210
Always running from /opt/retropie/emulators/amiberry where binary is and data/controller.png exists. Would file/folder ownership affect this?

[2018-01-19 21:30] #199 closed

[2018-01-19 21:33] midwan commented on #210
@alerinoreis
It should be readable, and I see above that it is.
Strange, I don't see the same error in Retropie if I launch the emulator manually from there...
Let's fix the cursor issue and we'll see about this one after then.

[2018-01-19 21:41] midwan commented on #171
This has been fixed now

[2018-01-19 21:41] #171 closed

[2018-01-19 22:01] midwan commented on #210
Could you please post "amiberry.sh" here, so I can take a look?

The INFO message about the cursor is not blocking or crashing the emulator, it's only FYI because the cursor could not be created in your system. The failure to load data/controller.png however, is fatal and will exit out. I'd like to find out why it happened there...

[2018-01-19 22:17] #208 closed

[2018-01-19 22:31] alerinoreis commented on #210
the amiberry.sh is the same used in standard retropie, there is only an additional line to run qjoypad in X11 so its possible to map keyboard/mouse to gamepad buttons
https://github.com/retr0rangepi/RetroPie-Setup/blob/master/scriptmodules/emulators/uae4arm/uae4arm.sh

running the binary directly has the same effect

[2018-01-19 22:49] HoraceAndTheSpider commented on #210
how were the extra files copied on? Could there be a problem with the user permissions on the image files?

All those listed seem to say 'root' but you are possibly rnning as user 'pi' ?

[2018-01-19 22:51] alerinoreis commented on #210
chowning the folder amiberry to user pi did not change

[2018-01-19 22:52] HoraceAndTheSpider commented on #210
I assume that was `sudo chown -hR pi:pi amiberry/ ` to include recursive scanning?  Shame :/

[2018-01-19 22:55] alerinoreis commented on #210
yes yes, exactly. I'm still confident we'll find a solution :) thanks guys for all the help.

[2018-01-20 09:15] midwan commented on #72
@Voljega
Coming back to this after a long time... :)

Do you have a text-based list of dependencies that I could use? The two links above point to the same image, which is a jpg file.
Since we now have a Wiki page, we could add them in a special section there.

[2018-01-20 09:16] #61 closed

[2018-01-20 09:24] midwan commented on #69
OK, let's close this issue then to avoid confusion (since the LEDs do work).
Regarding the Audio Buffer LED, we can open that up separately and discuss it there, OK?

[2018-01-20 09:24] #69 closed

[2018-01-20 09:26] Voljega commented on #72
Sadly I have none but I'm willing to type it if you need it on your wiki if
younpoint me toward the page tonuse or I can send you that as a text file

Le 20 janv. 2018 10:15, "Dimitris Panokostas" <notifications@github.com> a
écrit :

[2018-01-20 09:27] midwan commented on #137
@fingertrouble
We now have SDL2 targets that use Dispmanx (like the SDL1 does), to get the best performance out of it until we find a way to optimize and make the SDL2/KMS combination as fast. You can make them using "PLATFORM=rpi3-sdl2-dispmanx" for example.

I believe that should address the immediate problem at least, so we can close this issue for now...

[2018-01-20 09:27] #137 closed

[2018-01-20 09:27] midwan commented on #72
@Voljega
Sure, the wiki is at https://github.com/midwan/amiberry/wiki or you can attach a file in this issue page if you prefer that.

[2018-01-20 09:30] midwan commented on #19
@HoraceAndTheSpider
Any luck with this? :)

[2018-01-20 09:32] HoraceAndTheSpider commented on #19
No, the PiGrrl has been a pain but I have a new Freeplay CM3 arriving soon.... should be the same size of display :)

[2018-01-20 11:22] solskogen opened #213 "Switching to A1200 emulation freezes on Arch"
### Expected behavior
Be able to start a A500, go back to the config panel GUI and switch to A1200, and start that.
### Actual behavior
Black screen, not able to go back to the config panel.

### Steps to reproduce the behavior
On Arch Linux (does not seem to happen on Raspbian)
Start amiberry, without any config at all, but with kickstart roms in kickstarts/ (sdl1 or sdl2, does not matter) start

[2018-01-20 11:26] midwan commented on #213
Note to self: check if uae_restart can be avoided in this scenario

[2018-01-20 12:01] CypherXG commented on #69
Ok :-)

[2018-01-20 13:34] midwan commented on #20
Update: this still seems to be an issue with the current dev beta (v2.8b)

[2018-01-20 17:09] rsn8887 commented on #20
This comment from Toni Wilen might be relevant: http://eab.abime.net/showpost.php?p=1131223&postcount=12

[code]

[2018-01-20 17:16] midwan commented on #20
@rsn8887
Thanks, I suspected something like that actually, but WinUAE seems to work with them (I created a 3GB hdf for testing this).

[2018-01-20 22:24] Voljega commented on #211
This seems heavily dependent on the mentioned folders existing and having the right users, won't be the case on some distributions

[2018-01-21 07:37] Voljega commented on #72
Here they are :

[dependencies.txt](https://github.com/midwan/amiberry/files/1649595/dependencies.txt)

[2018-01-21 07:56] Voljega opened #215 "Question about jstest"
Hello I just wanted to know if the new controller mapping uses `jstest` behind the scene as the wiki seems to suggest it ?

(reason why I ask is this may lead to some trouble for me/us on Recalbox)

[2018-01-21 09:35] HoraceAndTheSpider commented on #215
No, Amiberry doesn’t use it directly, but you can use it for verification as to what is available on the system!

Maybe I need to re-word it slightly then... what do you use to check input devices on recallbox?

[2018-01-21 09:42] Voljega commented on #215
I'm not sure exactly bu I do know we used to use `jstest` and that know we use `sld2-jstest` because 'it is more close to what Emulation Station is detecting' so this seems to mean that those two commands don't exactly output the same results...

One thing I know for sure for instance is that the controller string ouput by the Emulation Station of Recalbox (which isn't the same as Retroprie and is

[2018-01-21 10:23] HoraceAndTheSpider commented on #215
There is no need to worry :)

The file name simply has to match what is stated in Amiberry’s drop down, which you has already mentioned how to find after -p1name , so I can clarify that.

[2018-01-21 10:37] Voljega commented on #215
Ah ok good to know ! Thank you :)

[2018-01-21 11:22] ransom1122 commented on #206
@midwan
I read on facebook page that the emulation core has been updated to winuae 3.6.0 core which is amazing.
Does this mean that the Android port of Amiberry will include this as well when released?

[2018-01-21 11:42] midwan commented on #206
@ransom1122
Yes, of course. The codebase is the same across all targets ;-)

[2018-01-21 11:55] HoraceAndTheSpider commented on #215
Some controller's (even Sony PS3 pads) do differ slightly depending on the model, and the ones in the Wiki are only as an example. :)

I have added clarification, so please let me know if it makes more sense now.

[2018-01-21 16:43] #215 closed

[2018-01-21 16:43] midwan commented on #188
@Voljega
I trust that the information that is there now is enough? We can always enrich it more going forward of course... :)

[2018-01-21 16:43] #188 closed

[2018-01-21 23:56] JaseDaMase opened #216 "WHDload Batman the movie - file not being identified"
### Expected behavior
Game to boot
### Actual behavior
WHDload files not being identified for this game
### Steps to reproduce the behavior
Renamed the uae file to match the name of the whdload folder and slave/info file but still doesn't recognise it

[2018-01-22 08:26] solskogen commented on #213
Yes, that fixed it!

[2018-01-22 08:26] #213 closed

[2018-01-22 08:27] solskogen opened #217 "Crash when deleting a config file in GUI"
### Expected behavior
The selected config is deleted

### Actual behavior
The gui freezes (but I can move the mouse) - the delete button is darker.

### Steps to reproduce the behavior
Start amiberry, selected a previous config, press delete.

[2018-01-22 08:44] HoraceAndTheSpider commented on #216
Please post a copy of your .uae Config file, and the folder structure where you have the game stored.

Thanks

[2018-01-22 20:38] #217 closed

[2018-01-24 06:19] ransom1122 commented on #206
@midwan With the recent addition of the ASUS Tinker Board will this delay the release of the Android port at all?

[2018-01-24 08:10] midwan commented on #206
@ransom1122
No! :)
The Tinker port is done by another person, although I am helping along.
I'll try to do another test with Android Studio today and see where we are with external dependencies.

[2018-01-24 08:33] midwan commented on #210
@alerinoreis
There's a chance that your SDL2 framework is not built with PNG image support, and that's why it fails to load the file.
To test this theory out, I've made a small modification to the `main_window.cpp` file (replaced the controller.png with joystick.ico), which I'm attaching below. Please put this one in place, replacing the original, and recompile.

However, I've left the "savestate.

[2018-01-24 11:14] retr0rangepi commented on #210
I reached this conclusion a couple of days ago, when i edited the code (commented one of the .png lines), and boom, the error skipped to the next png.

My guess, however, is not SDL2, maybe it's the PNG framework itself. A package in my system, which i dont recall now, requires libpng 1.7, because of that, had to keep both versions in the OS (maybe not a wise decision :/ ). Default debian libpng12

[2018-01-24 11:15] retr0rangepi commented on #210
this is our official github account :)

[2018-01-24 11:38] midwan commented on #210
@retr0rangepi
Thanks for the info! At least we know where the problem comes from now.
All instances of `<SDL/SDL_ttf.h>` in the code are behind an `#ifdef USE_SDL1` so it shouldn't be a problem. Did you find something that wasn't or did you not include `-DUSE_SDL2` in your target?

[2018-01-24 11:46] retr0rangepi commented on #210
i'm running 'make PLATFORM=rpi2-sdl2' so i assume everything is fine, as -DUSE_SDL2 is used and i get a working binary at the end. Only problem is the GUI not being correctly built. I will report back as soon as i try it in latest Armbian.

[2018-01-24 18:43] solskogen opened #219 "Find out why we need the fix from #142"
### Expected behavior
The fix that was proposed (and commited) in #142 is really a workaround.
Find out the real fix.

### Actual behavior
Crash, if not the workaround exists. But's the workaround is a bit dirty.

### Steps to reproduce the behavior
Remove the workaround, and amiberry will either crash or produce a black screen (saving config will also crash amiberry)

[2018-01-24 20:31] midwan commented on #19
Tested with SDL2, works on any display size you have. You can even have the window as resizable if running on the desktop (coming in a new version) and scale it up/down any way you want.

[2018-01-24 20:31] #19 closed

[2018-01-24 20:45] HoraceAndTheSpider commented on #19
My new CM3 unit is currently sitting in customs.... :(

[2018-01-25 08:40] ransom1122 commented on #206
@midwan excellent work 👌

With the Nvidia Shield being way more powerful then a raspberry pi 3. Do you think new version of Amiberry on Android will have better performance over pi on games that require higher cpu performance?

[2018-01-25 09:21] midwan commented on #206
@ransom1122
I am sure of it, and that's something I'm eager to test. :)
As I also have an Nvidia Shield at home, I'll probably be the first to test it on it...

[2018-01-25 09:47] ransom1122 commented on #206
@midwan..

Cool keep us updated..

[2018-01-25 22:30] vretro opened #221 "Full screen output (no borders)"
Will it be possible in Amiberry in future to adjust the screen output to remove the black borders for a full height 4:3 display, or a full width 16:9 image, as seen in this handy WinUAE tutorial video by Lemon Amiga?:
https://m.youtube.com/watch?v=IiOzfYHvkWY

Thank you for the fantastic work on this project

[2018-01-25 23:50] midwan commented on #221
@vretro
We already have full screen mode, if you don't care about aspect ratio (i.e. it will be stretched). Otherwise the screen is resized to fill your entire resolution, but keeping the correct aspect ratio.
This is controller by an option in the GUI (Correct Aspect Ratio).

This feature is only available in "dev" currently, but this branch is expected to be merged back into master soon...

[2018-01-25 23:52] midwan commented on #221
@vretro
What we don't have currently is support for filters though, if you mean that.
The custom zoom to fill the screen can be achieved with the latest versions of SDL2 that are still in development, but we haven't tested that yet.

[2018-01-27 09:34] midwan commented on #72
@Voljega
Thank you! I've added this page https://github.com/midwan/amiberry/wiki/Full-list-of-dependencies-(SDL1-version)

Closing this issue for now then...

[2018-01-27 09:34] #72 closed

[2018-01-27 22:14] retr0rangepi commented on #210
So , had some spare time to test it and... success!

What i did:

1. tried a previous version of RetrOrangePi, but i think it will work just fine on the latest one as well.
2. compiled SDL2 v2.0.7 with Mali backend (from retropie)
3. compiled both SDL2 ttf and image from sources to the same prefix
4. added the cppflag "-I/usr/local/include/SDL2" to the Makefile
5. small tweaks to amiberry scriptmo

[2018-01-28 16:10] Fourdee opened #222 "DietPi v6.0 + AmiBerry image update"
@midwan

As mentioned earlier: https://github.com/Fourdee/DietPi/issues/1410#issuecomment-360883774

We've updated the AmiBerry existing image to DietPi v6.0. Please update https://blitterstudio.com/amiberry/ with the following changes (items changed highlighted in **bold**)

1. Download the image: **http://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Jessie_AmiBerry.7z**
3. Plug in the Ethernet c

[2018-01-28 16:50] midwan commented on #222
Thanks for the update!
Links and instructions are now updated!

[2018-01-28 16:50] #222 closed

[2018-01-28 22:13] midwan commented on #210
@retr0rangepi
That's great news!
Regarding the cursor, I just pushed a workaround for Mali GPUs - you'll need to define "MALI_GPU" for your target in the Makefile, but hopefully it will work for you.
While you're at it, try defining USE_RENDER_THREAD and see if it works for you. It works on the Tinker board (Mali GPU as well) but not on the Pi, unless it's running under x11. You'll see a nice perf

[2018-01-29 14:07] #210 closed

[2018-01-30 21:23] midwan commented on #166
@CypherXG
Which scenario did you test with CDDA audio to check please?
When you did that, did you only change `SNDBUFFER_LEN `or did you also change `CDAUDIO_BUFFER_LEN` with it? I think they should be the same size...

[2018-01-31 04:55] CypherXG commented on #166
I tried both scenario.
When u change the SNDBUFFER_LEN you get lower latency.
When you change CDAUDIO_BUFFER_LEN the CDDA Audio will begin to crackle, but it run to fast like double speed.
I tried to change SNDBUFFER_LEN and find the problem to correct this, but i found nothing to fix this.

[2018-01-31 09:51] midwan commented on #166
@CypherXG
Did you test this with a specific game? Or multiple?
Could you please give me some examples of titles/software you used?

[2018-02-01 05:03] CypherXG commented on #166
Tested with CD32 Games which are using CDDA Audio and with Workbench 3.9 CDDA Player.
You can use also the CD32 Kickrom CDDA Audio menu too. It's all the same

[2018-02-01 13:19] thatman84 commented on #206
Sorry for this stupid question but it affects how I spend my evenings.

Just wondered if you could give a conservative guess at the time frame for a test apk?

If you think it could be a month or 2 I will probably find other things to work on as I could learn enough to help out. But if its more like 6 months i could probably get somewhere with it.

I know its a how long is a piece of string questi

[2018-02-01 13:42] midwan commented on #206
@thatman84
Obviously it's not easy to give a proper time estimation, but if I had to guess, I'd say certainly less than 6 months ;-)
It's a slow process mostly because there's not enough free time per day. If I could spend a week of 8-hour-per-day on it, we'd be done already... But we're getting there.

[2018-02-01 13:54] thatman84 commented on #206
Thanks @midwan yeah I knew its a tough one. So many things to do and so little time :) thanks for the stab. Certainly getting there....keep it up. 👍

[2018-02-01 14:07] midwan commented on #216
@JaseDaMase
Could you please post the requested information also, so we can look into this further?

[2018-02-01 14:09] midwan commented on #193
The next official release will be the last one that supports SDL1, so we can clean up the code and focus on utilizing SDL2 only.
We can look into this as well at that time (i.e. after the next release, due shortly)

[2018-02-01 14:12] midwan commented on #161
This should be already fixed in SDL2 (regarding the key input).
The dropdowns not getting handled correctly was fixed several commits ago also.

Closing it for now, but we can re-open it if we find something here that is not resolved.

[2018-02-01 14:12] #161 closed

[2018-02-01 14:14] midwan commented on #149
@bspinner
Did you get a chance to test with the latest improvements?
We had a chance to test it on the Tinkerboard also, and it works correctly there as well...

[2018-02-01 14:35] midwan commented on #130
@Uukrull I'll be taking a look at this over the next few days, if all goes well it will be merged in.

[2018-02-01 20:45] bspinner commented on #149
Hey,

nice to come back to this repo and see a lot of changes. Thanks for your hard work! :)

See !223 for problems I'm currently experiencing.

[2018-02-01 21:32] midwan commented on #149
@bspinner
Thanks for the feedback! Will look into the problem and respond there.

[2018-02-01 22:08] midwan commented on #149
@bspinner
Thanks for the #223 PR! :)
Now that it's running again, please let me know if it works as expected or if you find anything out of the ordinary?

[2018-02-01 22:16] midwan commented on #149
@bspinner
Also, you might have improved results if the render thread works for you in SDL2 (not sure the SDL1 target even makes sense on the XU4, since we don't have hardware acceleration there).

Try adding `-DUSE_RENDER_THREAD` in the Makefile and test if it works? If you get a black screen after the GUI, then it doesn't work, but if it DOES work, you'll see a nice performance boost.

[2018-02-01 22:19] bspinner commented on #149
Well, acutally atm I get a crash without the flag.

gdb output, segfault again:
[code]

Will rebuild with `-DUSE_RENDER_THREAD` flag right now.

[2018-02-01 22:27] midwan commented on #149
@bspinner
Did you build SDL2 from source or did you use binaries provided by the repo?
Which version of SDL2 are you running? What repo is the XU4 using?
What's the output of `gcc -v` ?

[2018-02-01 22:30] bspinner commented on #149
- from source as provided by retropie
- `sdl2-config --version` outputs `2.0.7`

[code]

[2018-02-01 22:35] bspinner commented on #149
Something else I noticed: the GUI isn't scaled to fullscreen anymore. Is that on purpose?

[2018-02-01 22:37] midwan commented on #149
@bspinner
Since the crash seems to occur in `libSDL2`, it might work better with a self-compiled version from SDL2's sources. I'm not sure what flags RetroPie used when configuring SDL2 on the XU4...

On the RPI, there's the notion of different gfx drivers (Legacy, fkms, full KMS). Depending on which one is enabled, and what configuration options you provide in SDL2 before building it, the behavio

[2018-02-01 22:42] midwan commented on #149
@bspinner
If running SDL2, the screen should scale to full-screen size, but it depends on the SDL2 backend used.
In SDL1, there's no hardware scaling.

[2018-02-01 22:42] bspinner commented on #149
[code]

[2018-02-01 22:44] midwan commented on #149
@bspinner
OK, no KMSDRM support from what it seems... Do you have `libgles2-mesa-dev` and `libgbm-dev` installed? I believe those are a requirement for KMSDRM...

[2018-02-02 07:43] solskogen commented on #149
and pkg-config!

On Thu, Feb 1, 2018 at 11:44 PM, Dimitris Panokostas <
notifications@github.com> wrote:

[2018-02-02 12:21] tukicat opened #224 "Amiberry - virtual keyboard"
I have complied the "dev" version and I am doing a little testing with my my rpi3 and IPAC so I can provide a couple of Retroarch.cfg for IPAC users for your wiki.

I just wondered.......does Amiberry have a an option to display a virtual keyboard on screen?

[2018-02-02 12:30] midwan commented on #224
@tukicat
Not yet, but it's planned to be added in the near future. We already have sample code for it, but we haven't had time to implement it in Amiberry yet.

[2018-02-02 12:37] tukicat commented on #224
Great thanks for the info. A while ago I helped Chui with virtual keyboard gfx for the UAE4ALL port for the Dingoo A320, I would be happy to help if there is anything you need for Amiberry.

[2018-02-02 12:39] midwan commented on #224
@tukicat
Fantastic, help in the project is always welcome! :)
For now, the main focus is get things in order for the next stable release, so we can finally merge "dev" back into "master". Once that is done, we can start adding new features into "dev" again, so this will be one of them.

Let's keep this issue for future reference, and revisit it after the new version is out.

[2018-02-02 12:41] tukicat commented on #224
No problem, happy to help when you are ready.

[2018-02-02 20:46] rsn8887 commented on #224
ScHlAuChi also made some great keyboard images I used in UAE4All2 for Vita. If you are interested, here are the images:
https://drive.google.com/open?id=1W9GCWUZl_cDjMFsUnLja5VTaNZLKPMv1

Here is an example of one of the keyboard images in use:
![Screenshot of UAE4All2 Vita_mod](https://s13.postimg.org/9r9hi62mf/uae4all-vita.jpg)

[2018-02-03 12:32] ZappaUtopia commented on #224
That keyboard looks awesome! Hopefully it can be used (and with a bit of transparency so you can see what's going on). I also hope this can replace the Android one. Good job.

[2018-02-03 12:36] ZappaUtopia commented on #206
@midwan Hi, just a quick question, will the new Android version be released at the same time as the Raspberry Pi version ?

[2018-02-03 12:40] ZappaUtopia commented on #130
This will be a great addition !

[2018-02-03 17:50] rsn8887 commented on #224
The archive link I posted also includes a version with Shift depressed (capital letters etc) and versions for uk and German keymaps :)

[2018-02-03 17:54] HoraceAndTheSpider commented on #224
we do already have a gfx in mind, but maybe it is something that could have several options (if the layout can be tabled in some way)

www.djcresswell.com/amigaonline/AmigaKeyboardPSP.png

[2018-02-03 18:10] ZappaUtopia commented on #224
I think @rsn8887 's would be better IMHO as it's clearer and can still be seen clearly with some transparency which will be vital when selecting keys as you can see the image underneath. That cropped photo of the Amiga keyboard looks curved at the left and right sides, you could have at least used a straight picture :)

[2018-02-03 18:16] HoraceAndTheSpider commented on #224
The transparency would be added by the graphics drawing routine - should be no need to have it on the picture itself. (otherwise, what would you do, dither every other pixel?)

Used this one for years on another popular Amiga emulator, so no problem with the curve.
Not being rude, but I really dont think the other one looks very Amiga. It has more of an 8-bit feel.

As i said, it may be possible t

[2018-02-03 19:04] bspinner commented on #149
Rebuild SDL2 with kmsdrm support, still not working.
Old version, compiled in November 2017, is still starting and running fine.

[2018-02-03 20:56] #205 closed

[2018-02-03 21:14] midwan commented on #206
@ZappaUtopia probably not, unless we delay the release more.
The android version is not ready yet...

[2018-02-03 21:17] midwan commented on #149
@bspinner
I've written a small test program, to try out SDL2 and the different backends. Could you try it and tell me what it reports?

Once you run it, it will display an image. You can quit from it with the "Q" button on the keyboard.
It's located here: https://github.com/midwan/SDL2_performance_test

[2018-02-04 03:11] rsn8887 commented on #224
The 8bit feel of ScHlAuChi's keyboards I uploaded came from necessity: The image was made to fit into a 320*200 minimum screen resolution (the smaller the screen resolution, the faster the emulator).

[2018-02-04 09:59] bspinner commented on #149
[code]

[code]

[2018-02-05 02:35] ransom1122 commented on #216
There is a recent new slave for Batman the Movie. Are you using the latest version?

[2018-02-05 02:39] ransom1122 opened #225 "Updating Amiberry on Rpi3"
Hi midwan.

Congratulations on the release of Amiberry v2 for the pi3.

When updating an existing image with Amiberry.. do i simply delete the adfdir.conf file then update via emulation station?

Is this the method for updating safely?

Kind Regards
ransom

[2018-02-05 03:19] ransom1122 commented on #225
Also do you have changelog for v2?

[2018-02-05 07:29] midwan commented on #225
@ransom1122
For RetroPie, the distro will provide an upgrade path itself soon.
You can do it manually if you want also, by:
- Placing the new binary in the same location (rename it accordingly): /opt/retropie/emulators/amiberry/
- Placing the contents of the data/ folder in the same location as the old
- Deleting the adfdir.conf file and allow it to be recreated (by clicking on Rescan Paths for ex

[2018-02-05 07:29] #225 closed

[2018-02-05 07:30] midwan commented on #206
Now that the new version is out, I can finally focus on the Android version properly. :)

[2018-02-05 07:49] ransom1122 commented on #206
Hooray. Thanks for the announcment 😎

[2018-02-05 07:56] ransom1122 commented on #225
When you mean Rescan Paths for example). You mean inside of amiverry gui yeah?

[2018-02-05 07:56] thatman84 commented on #206
:) :)

[2018-02-05 07:57] midwan commented on #225
@ransom1122
Yes, inside the GUI, in the Paths Panel. That button will trigger a scan for ROMs etc. which will in turn (re)generate the adfdir.conf file, to contain a cached version of what it found. ;-)

[2018-02-05 08:28] ransom1122 commented on #225
I am getting a write permission error when tensferring files the old data folder.
How do i enable writing persmissions. Sorry for the questions but I am not knowledgeable with linux/commands etc.

[2018-02-05 08:30] midwan commented on #225
Try `sudo <whatever command you tried>` and that should give you access ;-)

[2018-02-05 08:34] ransom1122 commented on #225
I did not try any commands. Nor do i know what the command is? I got the write permission error when transferring files from Amiberry2.zip into the old data folder of my pi3 using a ftp client.

[2018-02-05 08:38] midwan commented on #225
OK, you probably can't do a `sudo` over an FTP client...

The best would be to copy them to a place you have access first (like /home/pi), then use an SSH session and from within that do something like:

`cd ~` (that will get you to /home/pi/)
`sudo cp data/* /opt/retropie/emulators/amiberry/data/` (to copy all files under data/ to the destination directory mentioned)

That is assuming that the `d

[2018-02-05 08:50] pawelomega opened #226 "SDL1 2.12 menu key assign problem"
Hello.

I'm not sure what's wrong with my Retropie or Amiberry SDL1(2.12).
I setup menu key to F10 and save config. Amiberry start with new config and my choice (F10) but still is F12 as quit to menu  Gui showing F10.

Thanks ;)

[2018-02-05 09:12] ransom1122 commented on #225
OK I got it updated thanks for your helpfull guide im sure it will help a lot of people down the track.

Where do we submit bugs etc for Amiberry2 Do you have a spot for bugs/issues.

I tried to play T-Zer0 which mounts HDF as primary and cd image as secondary and it is not picking up the cd image cue file. Did this issue get fixed in Amiberry 2?

[2018-02-05 09:17] midwan commented on #225
The Issues page is the usual spot for reporting any problems ;-)

[2018-02-05 09:26] ransom1122 opened #227 "Amiberry v2 cd mount fixed?"
Has mounting a cd image been fixed in Amiberry v2?

I am trying TZer0 Gamr HDF combined with mounting a bin/cue cd image. Ive ticked tge cd drive opened the cue. But the game will not recognize the cd for producing the cd audio ingame. There is nothing wrong with the game as it works in winuae perfectly.

[2018-02-05 09:30] ransom1122 opened #228 "Amiverry v2 custom controls explained"
Hi.

After updating to amiberry v2 it seems the fire buttons are not working like they did in v1 input PLAYSTATION(R) 3 Controller?

Can you please explain custom controls

1. What is North/South/East/West What should they assign to?
2. Why is Select/L&R Shoulder unselectable?
3. Which configuration do I ammend for primary joystick fire button?

[2018-02-05 09:44] ransom1122 commented on #228
Can you please provide a default working config all Amiga models.. it seems all my configs are messed up. Fire button is SELECT on the ps3 pad. And i cant reconfigure buttons.

CD32 Controls I cant get working at all.

I think with a working uae config for each model ie 500 1200 cd32 i should be abke to adjust all my 2000 game configs to be compatible with amiberry v2

[2018-02-05 09:49] Honosuseri commented on #206
Congrats on the release Midwan. I was very happy to inform my friends the day we had long been waiting for, had finally come this weekend! Thank you for all the hard work you put into this project.

We are very excited about the Android version of Amiberry. The Amiga is one of the most viewed topics in the Android section of the Hyperspin (frontend) forum. We are doing our best to do the Amiga jus

[2018-02-05 10:32] midwan opened #229 "Some Configurable keys work only in SDL2"
### Expected behavior
When a user configures a custom key for Open GUI, Quit Amiberry, Open Action Replay and Toggle Fullscreen, those keys should be used instead of the defaults.

### Actual behavior
The above only works in SDL2 for now, SDL1 versions use the default values.

### Steps to reproduce the behavior
* Change the default value for Open GUI, Quit, Open Action Replay or Toggle Fullscreen

[2018-02-05 10:33] ZappaUtopia commented on #206
Gongrats on the release and another +1 for the Android version ! This will be a great portable Amiga that I can use on my GPD XD handheld when on travels. On the current Android version there is some dodgy mouse movement especially when using a joypad, it sort of gets stuck and stutters. I think this is due to SDL on Android though as it also happens a bit on SCUMMVM. I don't think SDL get's updat

[2018-02-05 13:57] pawelomega opened #230 "Amiberry SDL-2 libpng16.so.16"
Hi.

When want to execute Amiberry SDL-2 I still have error: error while loading shared libraries: libpng16.so.16: cannot open shared object file: No such file or directory. How to resolve it ? thanks

[2018-02-05 18:32] ZappaUtopia opened #231 "Request: Warp mode"
Now this emulator is progressing, my most wanted feature apart from IPF support is 'Warp mode'. I'm not a big fan of WHDLoad and prefer to use the original and best disk method (not to mention most compatible). Some games can take a while to load or if you just want to hurry through an unskippable intro, warp mode is extremely useful (a single configurable button). You can then also leave the flop

[2018-02-05 18:46] HoraceAndTheSpider commented on #228
To confirm : “select as fire” is expected behaviour for a PS3 pad which has not had a controller map set up, since “select” is button 0.

You would need to create a controller map for this , or set the controller path to that of an existing file (produced by RetroPie / RetroArch)

Details on the wiki page:

https://github.com/midwan/amiberry/wiki/Setting-up-Input-Controllers

These even includes a

[2018-02-05 21:22] ransom1122 commented on #228
Understood... to make it clear.. *all* configs will work on one custom controller mapping?

Do you need a 2nd for player 2?

[2018-02-05 21:28] HoraceAndTheSpider commented on #228
No, Custom mapping is saved on a game-by game basis.

The general controller mapping (which re uses the retroarch map) is universal. So once you have your PS3 pad mapped, Cd32 controls (for example) will work the same on every game.

Regarding other players, you effectively do custom mapping on any of the 4 input ports.

This means you can use port  3 (which by default is the parallel port) to be

[2018-02-05 21:32] midwan commented on #227
I believe this is a dupe of #37, so closing this one and we can move the discussion there...

[2018-02-05 21:32] #227 closed

[2018-02-05 21:46] ransom1122 commented on #228
Understood. I will give it a go later today.

[2018-02-06 00:10] vretro commented on #221
@midwan appreciate the responses, thank you. From the YouTube video yes, it’s specifically the filter: ‘Automatic scaling’ in conjunction with ‘Point/Bilinear = 1’ that i’d request, so that the output image is automatically filling the viewport. Attempting to adjust the output manually takes lots of tweaking with the multitude of resolutions that different games/programs output. Sounds like the SD

[2018-02-06 02:19] ransom1122 commented on #37
As the above comment above. Was cd mount issue fixed for a1200 config in Amiberry version 2?
You can test with T-Zer0 AmigaCD made by DamienD. It has HDF & CD image combined. I cant get the cd image mounted.. once you load tzer0 HDF after you skip cracktro with left mousebutton it shows on the screen cd failed to mount & there is no ingame audio because of it.

[2018-02-06 02:25] ransom1122 commented on #228
Thought came to mind. It appears wether a PS3 Controller is connected via bluetooth or wired the connection name is different although its the same controller.

Does this mean you need 2 configs for both wired and wireless for it to always work on both wired and bluetooth wireless play?

[2018-02-06 08:30] ransom1122 commented on #228
I test custom mapping and it seems to work. Thank you

[2018-02-06 08:31] #228 closed

[2018-02-06 08:33] midwan commented on #231
IPF support is coming, and probably very soon also.. (see relevant issue #130).

Warp mode will be added in the list of Todo, but we'll have to see how feasible it is for our target platforms.
I would consider it low priority for now however...

[2018-02-06 08:37] ransom1122 commented on #228
When I try and save a config after adjusting all the cd32 controls in custom controls gui.
I click configuration tab.
Type a name of a new config.
Click save.
And it quits back to emulation station.

Amiberry v2 is not allowing me to save any new configs? Why?

[2018-02-06 08:45] ransom1122 opened #232 "Amiberry V2 saving new configs"
When I try and save a config after adjusting all the cd32 controls in custom controls gui.
I click configuration tab.
Type a name of a new config.
Click save.
And it quits back to emulation station.

Amiberry v2 is not allowing me to save any new configs?

[2018-02-06 08:46] HoraceAndTheSpider commented on #228
Two Separate issues here I think.... firstly, need to check - why are are setting cd32 controls in the custom panel?

There is a drop down in the input panel for standard mouse/joystick/cd32 modes. This should make it much easier for you!

Regarding the crash - do you have rights permissions to save to the selected Configurations path?
I.e can you save to that location (or create a blank text file

[2018-02-06 09:00] ransom1122 commented on #228
I tried copying a file via ftp to /home/pi/RetroPie/roms/amiga and it does work. So I am guessing I have permission. This folder path was used in my previous amiberry v1 image before I updated.

In regards to saving a config i just used that as an example.

Input port 1 PLAYSTATION (R) Controller CD32 is selected.

I cant start a cd32 game
 It seems the path to my bios is correct. But it defaults

[2018-02-06 09:14] ransom1122 commented on #228
Could you please attach a standard quickstart cd32 uae config?

I want to see if I can launch from one thats come from you.. as i cannot save a new cd32 quickstart config in my image

[2018-02-06 09:16] midwan commented on #228
@ransom1122
Did you try deleting the `adfdir.conf` file?
What path settings do you have in the Paths Panel?

Also, the new version is not "v2" exactly, it's v2.12. The older one was v2.1, so it's been in v2.x for quite a while already.

[2018-02-06 09:25] ransom1122 commented on #228
Yes I did and when I rescanned paths it created another adfdir.conf file
[Img]https://i.imgur.com/nTZMPwW.jpg[/img]

Some seems weird. I can never match the cd image after enabling quickstart cd32?

In the quickstart tab section cd drive. I click select image. (Choose a cd32 game cue file)

Then in harddrive/cd tab. I cannot select the same cue as above. It always remembers the previous used cue f

[2018-02-06 09:27] midwan commented on #228
@ransom1122
The path to your Config files is set to "/", and that's probably why it can't save them.

That's the root folder in your disk, only "root" has access there.

[2018-02-06 09:34] ransom1122 commented on #228
Changed it to the roms/amiga folder. Now I can save but it takes about 7 seconds everytime you press F12 because I have 7,800 UAE configs there. It never used to do this in Amiberry 1. Yes I am on Amiberry v2.12

[2018-02-06 10:16] ZappaUtopia commented on #231
Nice one. I think it will be a great addition for all types of users. Would it even speed up rendering ? I saw your FPU tests on your Facebook page :)

[2018-02-06 12:22] midwan commented on #232
Closing this one since saving configs does work, if you have permissions to write in the directory (as we discussed on #228)

[2018-02-06 12:22] #232 closed

[2018-02-06 12:24] midwan commented on #228
@ransom1122
This is a separate problem then, I think.
Let's move it to another issue to avoid losing track of it, this issue is marked as resolved. ;-)

Also, there wasn't an "Amiberry 1", the previous version was Amiberry v2.1. It might be confusing for people visiting, so let's try to keep it accurate please? :) Thanks!

[2018-02-06 18:42] bspinner commented on #149
@midwan Any other ideas? Is KMS/DRM actually neccessary to use amiberry now?

[2018-02-06 18:49] midwan commented on #149
@bspinner
Sorry for the delay, got caught up with other things here.
No, KMSDRM is not required of course. Any display driver will do, as long as SDL2 supports it.
KMSDRM allows for fullscreen application to launch from the console, which is why it's preferred (to keep the overhead low).

Are you trying to launch it from the console or under X11?
How did you run the performance test I mentioned ea

[2018-02-06 18:57] bspinner commented on #149
@midwan
I've started it plain from console, no X11 running. As I did before with previous amiberry versions a lot of times.

[2018-02-06 18:58] midwan commented on #149
@bspinner
When you say previous versions, did you try SDL1 or SDL2 versions earlier?
Just trying to understand what fails exactly, since I don't have such a board to test with here...

[2018-02-06 19:07] bspinner commented on #149
@midwan
I've used (and contributed to) the SDL2  version only so far :)
Never touched SDL1 on the xu4.

Is there some way to get more info out of SDL/amiberry than just a crash?
The gdb backtrace isn't helpful :(

[code]

Do I have to compile SDL with debug symbols or something like that?

[2018-02-06 19:11] midwan commented on #149
@bspinner
Yes, try enabling the `WITH_LOGGING` define in the Makefile. That will generate a log file while the emulator is running, and might indicate a bit more (at least we'll know how far it got until it stopped).

The only recent change I made regarding graphics in SDL2, was the option to use Fullscreen or Windowed mode. But with the latest updates, it tries to detect if it's running under "`x

[2018-02-06 19:55] tukicat commented on #224
Hi, I am glad that there are some options for virtual keyboards on Amiberry. As I say a while ago I did the virtual keyboard for Chui's Dingoo A320 port of UAE4ALL, I believe it may also have been used for the Pandora port.

Completely by chance I was at friends and noticed he had an Armiga and the virtual keyboard on this is the same one I produced for the A320.

The virtual keyboard has a keyboa

[2018-02-06 19:58] bspinner commented on #149
Summary:
- I start amiberry from console, no X11 running.. so start from prompt after boot
- GUI comes up.. After pulling in the latest changes from git, it's fullscreen (it wasn't at the weekend, see [my question](https://github.com/midwan/amiberry/issues/149#issuecomment-362425191))
- As soon as I hit *Start* amiberry crashes silently (no changes made, default config)

Log:

[code]

[2018-02-06 20:08] HoraceAndTheSpider commented on #149
That Config file is full of a lot of old info. It should be replaced with a fresh own starting from the QuickStart option as the base.

Delete the uaeconfig.uae file first of all I think!

[2018-02-06 20:11] midwan commented on #149
That's worth a try for sure, also if you have an older `adfdir.conf` file, please remove that and allow it to be regenerated by the emulator.

I originally suspected the JIT FPU code, but with the above log it seems you haven't JIT enabled, so it can't be that...

[2018-02-06 20:20] bspinner commented on #149
Still crashes. :(

[code]

[2018-02-06 20:26] bspinner commented on #149
So, the crash moved from sdl's library to `libc.so`... 😄
gdb output:

[code]

[2018-02-06 20:26] midwan commented on #149
@bspinner
Could you try experimenting with some of the compiler flags I changed lately, just in case?
Try removing `-frename-registers` first. If that doesn't help, try changing `-Ofast` to `-O2`.

You'll need to do a `make clean` in between these tests to clear out any compiled objects.

[2018-02-06 20:36] bspinner commented on #149
I've changed the noted below lines and recompiled by `make clean && make -j8 PLATFORM=xu4-sdl2`. Unfortunately it still crashes. But hey, the xu4 can handle `-j8` without overheating... ;D

[code]

[2018-02-06 20:39] midwan commented on #149
@bspinner
OK, thanks.
You mentioned an earlier version still works? Which version is that (datestamp?).
We could check what changes were committed since then and we'll eventually find what caused this.

[2018-02-06 20:43] bspinner commented on #149
I don't know the commit hash, but binary's timestamp is `Nov 11 01:23`.
Are you fluent in bash script so we can use `git bisect run` for this?

[2018-02-06 21:22] midwan commented on #149
@bspinner
Ouch, there's a lot of stuff added since November...
I haven't used `git bisect` yet, but this seems like the perfect opportunity to learn about it.
However, it's probably you who has to try it, since I cannot test it here anyway without a board. :-/

[2018-02-06 21:30] bspinner commented on #149
@midwan hmm.. I think this will be straight forward.. I'll try myself to come up with a little hacky script :)

[2018-02-06 22:51] ransom1122 opened #233 "[Amiberry v2.12] long wait time with lots of uae configs"
Hi

I have currently 7,800 uae configs in my path folder for uae configs.

When you enter the gui it takes about 7 seconds to open the gui. It seems to always be loading the huge amount of configs. This never used to happen in previous versions of Amiberry.

Could this be fixed? In the meantime I have changed paths away from my 7800 configs to eliminate the 7 second wait.

[2018-02-06 23:28] bspinner commented on #149
@midwan Weeeell, bisect result is either `d2c43c114` or `709244ad9` ... Huge commits. I'll investigate further in the next couple of days.

[2018-02-07 05:11] CypherXG commented on #233
OMG. Do you really need all these configs? I think u use one for each game, or? Are you really playing all these 7800 Games, Programs..?

[2018-02-07 05:22] ransom1122 commented on #233
Yes.

I have been making a 128gb Solo Amiga build for over a year now. The idea is to have every amiga related game in one image. No I dont play them all. But I do have all of the games available for me with a single press of a button.

I dont intend to use my Amiga image externally. When I finish this image I should easily have over 10k amount of games. 👌

[2018-02-07 08:27] midwan commented on #233
@ransom1122
Thanks for opening this up as a separate issue.

Could you please attach a zipped archive of those configs, so I can test it here?
Does it also take 7 seconds the first time you run the emulator, before showing the GUI?

[2018-02-07 08:28] midwan commented on #149
@bspinner
Thanks for the help! I'll take a look at those from my side also.

[2018-02-07 08:53] ransom1122 commented on #233
It happens anytime/all the time when you open the GUI...

rename the TXT to RAR on the attachment..

[7800 configs.TXT](https://github.com/midwan/amiberry/files/1702319/7800.configs.TXT)

[2018-02-07 09:23] midwan commented on #149
@bspinner
I don't think anything in 709244ad9 could have broken it, it's mostly corrections and GUI related stuff (which works for you). Probably something in the previous one then...

[2018-02-07 18:17] CypherXG opened #234 "Found some Bugs and needed enhancements"
Version: 2.12
Compiled for RPi3 SDL1

**BUG**: When u start in Picasso Mode the Screen Hz are 60 Hz. This is correct. When you enter the GUI and you go back to the Emulation the Hz switches to 50. Than the Audio is lagging again. Thats again a poblem like [Issue #190 ](https://github.com/midwan/amiberry/issues/190)

**Bug**: When u activate the CPU Turbo option the Hz. are in NTSC 59Hz and in Pal

[2018-02-07 18:23] midwan commented on #234
@CypherXG
OK, it's better we split these in separate issues so we can handle them properly.

The JIT FPU bug(s) is known, and will be fixed in upcoming versions.

[2018-02-07 18:36] CypherXG commented on #234
:-)

[2018-02-07 20:15] Fable-Son opened #235 "Won't remember button assignment in "Cabal""
In Cabal you have to press F1 or F2 for 1 or 2 player. So in "Input" I set the shoulder buttons to F1 and F2, and then continue. And they Work great. But if I exit, and start up the game Again. The new button mapping is gone :/

[2018-02-07 20:17] Fable-Son opened #236 "Cannon Fodder mouse problems"
In Cannon Fodder, when in "Input" I set Port 0 (Mouse) to my joypad, the game works perfektly. Eksept the exit (Select + Start) dosent work any more. Why is that?
Tried to set the Mouse Stick 0 and 1 to left or right, when the Port 1 (Joystick) is set to my joypad.
That won't make the mouse arrow move. But now my exit Works :D

[2018-02-07 20:26] ransom1122 commented on #235
Have you saved the config?

Save it.. quit and try it again.

[2018-02-07 20:37] midwan commented on #233
@ransom1122
From what I can see, the same behavior was there (scanning for Configs when opening the GUI and when refreshing the Config Panel) since 2016 at least (maybe even older). Which version behaves differently as you mentioned?

[2018-02-07 21:08] midwan commented on #233
Note: this is caused by the routine that opens each config file found to fetch the Description.
If we have thousands of configs, it takes a long time to go through all of them.

Possible solution: Disable Description fetching as an option (defaulting to OFF, I believe most people don't have thousands of config files there?). That should be saved outside the emulator, perhaps in `adfdir.conf`

[2018-02-07 21:21] Fable-Son commented on #235
I could not find a save button. Only a folder where I could save in the game. So I just thought that it saved the changes automatic?
Sounds like I missed a button 😁

[2018-02-07 21:41] midwan commented on #233
New option added in `adfdir.conf`: `read_config_descriptions`

It accepts a string value of either `yes` or `no` and controls the automatic loading of the config's Description which requires opening the file (and it's an expensive operation).

Example configuration:
`read_config_descriptions=no` - This will **disable** automatic loading of config Descriptions
`read_config_descriptions=yes` - This

[2018-02-07 21:43] pawelcracow opened #237 "SDL2 problem w"
Hi.

When want to execute Amiberry SDL-2 I still have error: error while loading shared libraries: libpng16.so.16: cannot open shared object file: No such file or directory. How to resolve it ? thanks

[2018-02-07 21:44] #233 closed

[2018-02-07 21:46] midwan commented on #237
This seems to be caused by an older version of libpng, which is included in Jessie.
Stretch includes a newer version of the library, and SDL2 seems to require that newer version.

Are you running on Jessie? If so, I'd recommend you upgrade to Stretch and it should work.
Alternatively, try the SDL1 version. Performance-wise, they are the same on the RPI.

[2018-02-07 21:48] pawelcracow commented on #237
Yes. Im running from Retropie (latest udpate). SDL-1 working without problems.

[2018-02-07 21:49] HoraceAndTheSpider commented on #236
This won’t work because you are trying to use a controller directly as a mouse, which therefore does not have retroarch mapping. (Since otherwise real nice may not be correctly supported)

You need to set the input to continue as a joystick (Not mouse) and then use the mouse stick option. (Left or right or both)

Potentially the application of this can be improved to correctly “interpret” a contro

[2018-02-07 21:51] midwan commented on #237
RetroPie is still on Jessie, and so the best option for that system currently is the SDL1 + Dispmanx.
When RetroPie moves to Stretch in the future, things can change. :)

[2018-02-07 21:51] #237 closed

[2018-02-07 22:15] ransom1122 commented on #233
I dont recall the last version. It would have been the latest version prior v2.12.

I have updated my image to v2.12 now, cannot re test it.. i do recall I was able to use gui without wait times.. oftenly saving cpnfigs via the gui to the /amiga folder without this wait time whilst all configs were shown in the gui.

[2018-02-07 22:16] ransom1122 commented on #235
No you must save the config if any changes are made... Has it worked now?

[2018-02-07 22:18] bspinner commented on #149
Didn't have much time on my hands for this today. But at least I can be sure that the bug we're looking for didn't start at `709244a`, since `949018a` does start properly. I'll refine my test script.

[2018-02-07 22:42] midwan commented on #206
It's a start at least... :)

![amiberry_android](https://user-images.githubusercontent.com/3877365/35945449-94e3c4ee-0c60-11e8-83c2-3e6ba0291154.JPG)

[2018-02-07 22:46] ransom1122 commented on #206
That's just teasing now.... 😉

[2018-02-07 22:48] midwan commented on #206
@ransom1122 that's the point...

[2018-02-07 22:50] ransom1122 commented on #206
@midwan As long as you get a smile then thats alright. 😁

[2018-02-08 05:05] Fable-Son commented on #235
Sounds like I need glasses 😁 Next time, I will try and find the save button. But as I remember, there is only "Quit" "Restart" "Continue" and something else, in the bottom of the GUI screen. Where is the save button? It's embarrasing if the button is right in front of me. So I hope it's hidden? 😊

[2018-02-08 05:07] Fable-Son commented on #236
I will try that. Thanks 😊

[2018-02-08 06:19] ransom1122 commented on #235
https://i.imgur.com/Js6uspF.jpg

Dont forget to turn Autofire Rate OFF. By default Amiberry has it on Medium.

It's found in Input Tab im Amiberry GUI.

[2018-02-08 06:28] ransom1122 opened #238 "Request: Disable autofire by default"
Hi.

It seems all quickstart settings have autofire rate = medium. In my opinion I believe this should be off. It causes major problems to games that require the button to be pressed down.

Cabal - Character cant stay still and shoot.
Lotus - acceleration goes up and down

Any many more...

If autofire is required for shootemup games then it shouldbe optional for the user to ammend it in input tab

[2018-02-08 08:21] midwan commented on #200
@pawelomega
This has to do with the detection of keys. Are you using the SDL1 or SDL2 version for this test?
They use different detection code internally, since they are different frameworks...

I could create a small tool to detect the keycodes/scancodes of keys, so we can see how those LAmiga, RAmiga and Ctrl through Keyrah v2 are seen in the SDLx framework. Then it's easy to capture them for a

[2018-02-08 08:23] midwan commented on #238
I agree, autofire should be off by default I think.
I'll make the change in the `dev` branch and eventually merge it back into master with everything else that is being fixed there...

[2018-02-08 08:24] midwan commented on #236
@Fable-Son
When you get a chance to try it, could you please just mention if it works for you, so we can close the issue?

thanks!

[2018-02-08 08:26] midwan commented on #235
@Fable-Son
Settings such as this are saved in Configs, which can be specific to the game you want to play (or more generic, such as a config for all your AGA games for example, it's up to you).

Don't forget to load the config the next time you want to use the same kind of mapping! :)

[2018-02-08 08:26] #235 closed

[2018-02-08 08:27] midwan commented on #230
`libpng16` is included with Stretch, but Jessie has an older version - `libpng12` which is not supported by SDL2.

You'll need to use Stretch (or newer) for this to work.

[2018-02-08 08:27] #230 closed

[2018-02-08 08:28] midwan commented on #226
This is a dupe of #229

[2018-02-08 08:28] #226 closed

[2018-02-08 08:33] midwan commented on #93
I believe this is now resolved with the addition of the Retroarch-style mapping

[2018-02-08 08:33] #93 closed

[2018-02-08 08:35] midwan commented on #33
I believe this is now resolved also...

[2018-02-08 08:35] #33 closed

[2018-02-08 08:37] midwan commented on #44
@pawelomega
Is this still an issue with the latest updates? We've improved compatibility in several places, so perhaps it's fixed (didn't have time to test it myself yet).

@bspinner
We have made some internal tests with Cycle-Exact mode, but the Pi3 wasn't fast enough to handle it and keep at 50 FPS currently. We'll see if we can optimize it any further and make it possible...

[2018-02-08 08:54] Fable-Son commented on #236
It might take a while. Ain't that often that I have a opportunity to play with my Pi3.
So you can just close it now,  if you like 😊

[2018-02-08 08:57] midwan commented on #236
@Fable-Son
Ok, closing it for now but feel free to report back if it's still an issue and we'll re-open it then.

[2018-02-08 08:57] #236 closed

[2018-02-08 09:39] Voljega commented on #238
Rick Dangerous is also a good test case, the actions (like UP + fire to shoot pistol) are close to impossible to do with autofire activated

[2018-02-08 09:52] ransom1122 commented on #238
There is a lot of games that are affected. Turrican's laser cannon
Any game that requires acceleration Supwr Hang On. Etc etc

[2018-02-08 10:05] #238 closed

[2018-02-08 10:40] bspinner commented on #44
@midwan I could try and see whether it runs fluently on odroid xu4 (as soon emulation starts on xu4 again :D)

[2018-02-08 11:23] RetroD opened #239 "Very sensitive menu controls with gamepad"
### Expected behavior
Pushing up or down with a dpad should take you to the next menu option

### Actual behavior
Pushing up or down with a dpad skips a few menu options

### Steps to reproduce the behavior
Launch amiberry 2.12 from retropie (rpi3).
Once on the amiberry menu, use the dpad (or the analogue stick) to navigate to see the erroneous behaviour. This was tested with an official xbox 360

[2018-02-08 11:55] HoraceAndTheSpider commented on #239
Can you post script of your pad cfg file so I can see how it is set up please

[2018-02-08 12:09] RetroD commented on #239
Hi, sure. Hopefully I have done it the correct way and it's the file you are after :) (only started using the rpi very recently - lots to learn!)
PS: congrats for the amazing work on this guys. I have been waiting for a long time for something like this since I got my shield portable years ago.

[Microsoft X-Box 360 pad.cfg.txt](https://github.com/midwan/amiberry/files/1706935/Microsoft.X-Box.360.

[2018-02-08 12:17] RetroD commented on #239
By the way, just tested it with an XBOX One controller and it works fine. Pretty sure I set both controllers in the same way though.
See the attached config. seems exactly the same to me.

[Microsoft X-Box One pad.cfg.txt](https://github.com/midwan/amiberry/files/1706965/Microsoft.X-Box.One.pad.cfg.txt)

[2018-02-08 20:23] pawelomega commented on #200
Thanks. Where I can download your program ?

[2018-02-09 16:55] #229 closed

[2018-02-09 16:59] midwan commented on #200
@pawelomega
Actually, there's a way to do that without an extra tool.
Try this:
- Go in the GUI, Misc Panel.
- Click on one of the configurable buttons (e.g. Quit Key, FullScreen, Action Replay or Open GUI), to assign a new key to them.
- Press each one of the keys you use from Keyrah v2 in turn, and take notes on what string value comes back.
- Paste those string values here, so we can see how th

[2018-02-09 17:04] midwan commented on #130
I will look into adding this before the v2.13 release, due for this weekend. :)

[2018-02-09 17:28] bspinner commented on #149
Unfortunately it's not *that* easy to create a proper test script due to the many changes made to the Makefile, UAE config structure etc.

@midwan I've started over with latest dev commit and this was the output

[code]

Made with `make -j8 PLATFORM=xu4 WITH_LOGGING=1 DEBUG=1`

log

[code]

[2018-02-09 17:30] midwan commented on #149
@bspinner
Thanks, I think I know the problem then... :)

If it's what I think it is, it's related to the new FPU JIT code and specifically the part trying to save the registers. We are using assembly to do that, but perhaps that doesn't work on the XU4.

I'll update that part with C++ code instead to see if it works for you.

[2018-02-09 17:34] Fourdee opened #240 "RPi 1 builds for SDL2 both fail ```rpi1-sdl2``` ```rpi1-sdl2-dispmanx```"
@midwan

RPi 1 builds for SDL2 both fail ```rpi1-sdl2``` ```rpi1-sdl2-dispmanx```

#### Required Information:
- DietPi Version | v6.2
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | make -j 4 all PLATFORM=rpi1-sdl2-dispmanx
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title |

#### Expected b

[2018-02-09 17:39] midwan commented on #240
@Fourdee
Thanks, I'll take a look at it

[2018-02-09 18:00] midwan commented on #240
It's not for SDL2 only, it affects all RPI1 versions. However, it may be related to GCC 6.3 as it did build in GCC 4.9 (on Jessie).

I'll check what it's complaining about.

[2018-02-09 18:16] midwan commented on #240
Nope, not related to the compiler.
It's related to the recent JIT FPU fixes, some functions cannot be resolved on the RPI1.

[2018-02-09 18:17] midwan commented on #240
**Actual errors:**

[code]

[2018-02-09 19:23] pawelomega commented on #200
Hello.

Ok Open GUI for ex.

Amiga Kbrd (via KEYRAH2)  = Assign key in GUI (Amiberry 2.12)
--------------------------------------------

Left Amiga = LEFT ALT
Right Amiga = LEFT ALT
Left Alt =  Left Alt
Right Alt = Right Alt
CTRL = CTRL
Capslock = Unknown Keyboard
Delete = Delete
HELP = Insert

Hope You find solution ;)

2018-02-09 17:59 GMT+01:00 Dimitris Panokostas <notifications@github.com>:

-

[2018-02-09 19:31] midwan commented on #149
@bspinner
I've made some changes regarding this, but since I don't have a XU4 board to test here, I'm not sure if they would help. The RPI runs fine with these changes.

I'm attaching a modified version of newcpu.cpp, could you place this into your src/ directory and recompile, then test it?
[newcpu.zip](https://github.com/midwan/amiberry/files/1712190/newcpu.zip)

[2018-02-09 19:59] bspinner commented on #149
It works! Awesome 👍

[2018-02-09 20:00] midwan commented on #149
Excellent, I'll add that in the dev branch and it will get merged into master eventually.

I'll also follow a similar pattern for the other assembly functions, that might cause problems like this on other platforms.

[2018-02-09 20:20] bspinner commented on #149
@midwan

Observations:
- Improvement: A4000 Kickstart screen comes up with JIT enabled
- Lotus Turbo Challenge II AGA mod does not start with A1200 config (works with A4000 default config)

[code]

[2018-02-09 20:37] bspinner commented on #206
@midwan FYI: One thing to be considered when developing close to metal for mobile CPUs is the possibility of different cache sizes of cpu cores. The Mono/Xamarin Team had a lot of *fun* due to this.. :)
http://www.mono-project.com/news/2016/09/12/arm64-icache/

[2018-02-09 20:47] midwan commented on #206
@bspinner holy sh*t! That's really messed up if you get into it...

[2018-02-09 20:58] bspinner opened #241 "Android native UI for configuration"
Instead of using the guisan GUI optimizied for use with mouse/keyboard/directional keys,
it would be nicer for Smartphone users to have an native UI for configuring things.

The native UI could start the amiberry uae core with parameters, similar to providing an uae config via `-config` argument (and skip the guisan gui).

I'd actually be able to contribute code to this (finally :))

# TODOs
- a l

[2018-02-09 21:03] midwan commented on #241
@bspinner
Not a bad idea!
Can you help with the GUI part on Android then?

For simplicity, I'm testing things "as-is" for now, trying to get things to work properly first, then improve on that. And it's also a learning experience for me (haven't deployed C++ code to Android before, using external libraries like this).

[2018-02-09 21:09] pawelomega commented on #200
Found a solution for bug:

Right Amiga (Amiga kbrd - keyrah) should be mapped to Windows "MENU" but is mapped as "LEFT ALT". PC Kbrd resetting Amiberry via LEFT CTRL + LEFT ALT + WINDOWS KEY .

[2018-02-09 21:14] bspinner commented on #241
Yup.

[2018-02-09 23:49] #130 closed

[2018-02-11 10:14] midwan commented on #202
If anyone has specific examples of this, please submit them so we can fix them.

[2018-02-11 10:14] #202 closed

[2018-02-11 10:15] midwan commented on #90
Could anyone please test the situation with the latest release, and see if things have improved now?

[2018-02-11 11:51] midwan commented on #200
@pawelomega
This seems like a bug in SDL1 actually, as those keys are incorrectly detected.
Do you have the possibility to test this on a Stretch distro, using SDL2? I suspect the problem will not be there.

I cannot test it myself unfortunately, since I don't have the hardware you're using.

[2018-02-11 12:57] CypherXG commented on #130
I'll tested the IPF support, but it is not working.
When i add different IPF Files in DF0/DF1, the IPF Files are not regonized
like an ADF or Zip etc. by the Emulator.

[2018-02-11 12:57] midwan commented on #130
@CypherXG Did you follow the steps indicated in the Wiki article about this?
https://github.com/midwan/amiberry/wiki/Enabling-IPF-support

[2018-02-11 12:58] CypherXG commented on #130
Ups.....^^

[2018-02-11 13:10] ZappaUtopia commented on #130
Just out of interest, why do we have to do this optionally ? Will it be included in the next binary release ?

[2018-02-11 13:12] #81 closed

[2018-02-11 13:16] midwan commented on #130
@ZappaUtopia
Because it requires an external library to be in the same location as the Amiberry binary (which complicates the delivery), and I suspect that many people may not require it.

Those that want it, can follow the extra steps (once) and just place the lib in the same directory.
Those that do not care about IPF support, can just continue upgrading as previously with no changes in the work

[2018-02-11 13:22] ZappaUtopia commented on #130
OK thanks.

[2018-02-11 15:09] rabejens commented on #90
I'm currently in the progress of setting up an image with Amiberry and giving it a shot.

[2018-02-11 15:10] midwan commented on #90
@rabejens
Thanks for the feedback! Which distro did you pick for this?
It would help if I can run similar tests from my side on the same once you got it ready.

[2018-02-11 15:12] rabejens commented on #90
I want to try Retropie first, on Facebook they said I could install a recent version using the setup script.

[2018-02-11 15:13] midwan commented on #90
@rabejens
Yes, that's correct. If you update the RetroPie-Setup script you can get the latest from source (master branch)

[2018-02-11 15:14] rabejens commented on #90
Does this pull the version from your repository so we are talking about the same one, and which one does it use? SDL1 or SDL2?

[2018-02-11 15:15] midwan commented on #90
@rabejens
It pulls the master branch from the repo, and on RetroPie we use the SDL1 version (because it's still based on Jessie).

[2018-02-11 15:15] rabejens commented on #90
Then I'll try that first, and after that, get Amibian and compile the SDL2 version from source.

[2018-02-11 15:20] rabejens commented on #90
Addendum: What about SDL2 on Retropie? Do I still have to compile it from source there or can I use the one that is included there? I remember earlier versions of Amiberry used SDL2 from Retropie.

[2018-02-11 15:24] midwan commented on #90
@rabejens
We used the SDL2 packages from RetroPie on other distros in the past, to make it easier to compile, but since RetroPie is still running Jessie and using the Legacy driver, using Amiberry with SDL2 + Dispmanx on it is problematic.

We run into the following issues:
- Jessie comes with an older version of libpng (v1.2 vs 1.6 on Stretch) and SDL2 has a requirement on the newer version. At l

[2018-02-11 15:26] rabejens commented on #90
Then I think I'll go with Amibian right from the start as I reckon this being the better choice for an Amiga emulation machine.

[2018-02-11 15:29] midwan commented on #90
@rabejens
Last I checked Amibian was also on Jessie however, I'm not sure if Gunnar managed to upgrade it and publish a new image yet... ;-)
You can also test on DietPi and a stock Raspbian Stretch.

[2018-02-11 15:29] rabejens commented on #90
Ah OK. Yes I remember Amibian being on Jessie, too.

[2018-02-11 16:08] rabejens commented on #90
First progress: Using DietPI, I compiled SDL2 from source. I ran into two dependencies not listed [on the Wiki page](https://github.com/midwan/amiberry/wiki/Compile-SDL2-from-source):

[code]

Now, Amiberry is building.

[2018-02-11 16:09] midwan commented on #90
@rabejens
Thanks, those were not listed because the tests are usually made on a stock Raspbian system, which includes them. I'll add them to the Wiki page.

[2018-02-11 16:14] rabejens commented on #90
DietPi is also missing bcm_host.h and I don't know how to get it. Trying to update the firmware from dietpi-config seems to just get stuck. Trying the official Raspbian now.

[2018-02-11 17:05] rabejens commented on #90
Okay, so far I compiled everything, but I get "SDL_Error: No available video device".

I have no X installed, and I want it to run without X. I followed all steps in the Wiki. What am I missing?

[2018-02-11 17:09] AndrewReidNZ opened #244 "Controller config files do not work with controller names containing a /"
### Expected behavior
Retroarch seems to strip "/"'s from the controller name when naming its controller config files

### Actual behavior
1. It is not possible to create a config file of the same name as a controller if the controller name contains a "/".
2. Amiberry does not find the retroarch controller config file because it has the "/" removed from the file name.

### Steps to reproduce the b

[2018-02-11 17:10] rabejens opened #245 "SDL_Error: No available video device on RPi3 with the SDL2 Dispmanx build"
### Expected behavior
Amiberry should start up as normal

### Actual behavior
Error message:
[code]

### Steps to reproduce the behavior

- Start with Raspbian Stretch Lite
- Install SDL2 as per the [instructions in the Wiki](https://github.com/midwan/amiberry/wiki/Compile-SDL2-from-source)
- Install the [Prerequisites](https://github.com/midwan/amiberry/wiki/First-Installation)
- Build amiberry w

[2018-02-11 17:13] AndrewReidNZ opened #246 "GUI working incorrectly when setting up multiple drives for a multi-disc game"
### Expected behavior
Should be able to set up a multi-drive config for a game that uses multiple disks.

### Actual behavior
When multiple drivers are selected and assigned a adf file, the GUI sets the adf file name on all of the drives to the last adf file that was chosen.

### Steps to reproduce the behavior
Choose a multi disc game.
Assign DF0 to game disk 1
Assign DF1 to game disk 2
   notice

[2018-02-11 18:41] solskogen commented on #245
Post all lines in /boot/config.txt that is not commented out, please.

On Feb 11, 2018 18:10, "Jens Rabe" <notifications@github.com> wrote:

[2018-02-11 18:43] rabejens commented on #245
I only have these in there:

[code]

[2018-02-11 18:48] midwan commented on #245
@rabejens
You'll need to enable the `fkms` driver using `raspi-config`, in order for SDL2 to be able to open a screen using `KMSDRM`.

[2018-02-11 18:49] rabejens commented on #245
I'll try this later, currently not near my RPi.

[2018-02-11 18:54] pawelomega commented on #200
Actually Im working outside my coutry about 3 weeks. So early in March I
can do this.

2018-02-11 12:51 GMT+01:00 Dimitris Panokostas <notifications@github.com>:

--
Best Regards
Paweł "Paul" Majchrowski

[2018-02-11 19:37] rabejens commented on #90
OK, first impressions:

- The special characters still can't be correctly input on a German keyboard - pressing the "#" key still yields the backslash
- In the configuration dialog, it's still not possible to enter capital letters - press Shift-S, get "s"
- The combobox for the disk selection for DF0 and DF1 shows the wrong disk. Insert, e.g., "Install 3.1" in DF0 and "Locale" in DF1, the combobox

[2018-02-11 20:48] rabejens commented on #245
With the "Fake KMS" setting, it works. With the "Full KMS" setting, the config GUI works but as soon as starting the emulation, the screen goes black.

[2018-02-11 21:22] Fable-Son opened #247 "Open GUI menu in game"
### Expected behavior
Pressing F12 normally opens the menu.
### Actual behavior
After the v2.13 update, it's stopped working. I tried accessing the menu by selecting it in the games menu in ES, to change the key to a nother.
But chat just made the menu freeze up. And then it crash
### Steps to reproduce the behavior
-Press F12 in a game....
-Change the key to something else in the menu

[2018-02-11 21:42] midwan commented on #245
@rabejens
That is expected behavior, since the "Full KMS" disables Dispmanx. If you use "Full KMS", you cannot use the Dispmanx versions, only pure SDL2 targets (which for the RPI, are slower at the moment).

[2018-02-11 21:42] #245 closed

[2018-02-11 21:42] midwan commented on #247
@Fable-Son
Thanks for reporting this. Which version are you testing with (SDL1 or SDL2?), and on which distro please?

[2018-02-12 05:06] Fable-Son commented on #247
Damn. I don't know 😟
But it's a Pi3. And I updated it through Retropie menu, and installed from source 😊
Is it good enauh, or is there somewhere that it can se what you can use as info? Is it written in the menu, if it's SDL1 or 2?

[2018-02-12 08:34] midwan commented on #247
@Fable-Son If it's RetroPie, then it's SDL1.
I have confirmed that the emulator works as expected regarding this, so it must be something with your configuration file(s).

Some users reported that UAE Config Maker caused such problems because of incorrect values in the config, so I'm discussing this with @HoraceAndTheSpider to find a solution.

[2018-02-12 09:29] Voljega commented on #90
Hello sorry, I am not able to test at the moment, I don't really know ho to compile, and I could try it, but as my platform is Recalbox, I'm not sure I wouldn't be missing any new library

[2018-02-12 09:33] Voljega opened #248 "Thank you :)"
As of friday, Amiberry is now integrated officially in Recalbox, an important thing for me and for our users as it is a two years work (started on UAE4ARM) and my first contribution to an open source project.

https://www.recalbox.com/blog/en/post/blog-2018-02-09-amiga/

Thank you for all your help, for now we are using a dev build from mid-december, but I soon as possible I will work on updating

[2018-02-12 09:34] midwan commented on #248
@Voljega
Awesome! Thanks for the feedback! :)
If you need any help integrating the latest version, let me know...

[2018-02-12 09:34] #248 closed

[2018-02-12 09:46] MarcoVer77 opened #249 "Request - acces save states with controller"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2018-02-12 09:48] MarcoVer77 commented on #249
Emulators on retropie have the option to save states by pressing select+left trigger. Is it possible for Amiberry to have that also?

[2018-02-12 10:02] HoraceAndTheSpider commented on #249
I will be adding this after I overhaul the controller mapping again (only internally) but it won’t be soon

For now you can access the gui and load save states using the controller already ( I do this daily!!)

[2018-02-12 10:05] MarcoVer77 commented on #249
What button combination do you use to access the gui? Is that configured manually?

[2018-02-12 10:09] MarcoVer77 commented on #249
Oh wait i can change that in the hostconfig.uaetemp right?

[2018-02-12 10:46] Naviara opened #250 "[WHDLoad issue] Dungeon Master"
In Dungeon Master, you can save your actually game. You can press "save game" and then it just saves it,
but actually when you want to save a game in Dungeon Master, the screen becomes black and nothing more happens. When you afterwards want to reload the game, the WHDBooter comes up finding an error, deleting your WHDLoad slave file and creating a new one, of course saving don't work there either

[2018-02-12 11:59] #247 closed

[2018-02-12 12:40] Naviara opened #251 "General Controller issue or just PS3 controller related?!"
**### Expected behavior**
On the Input page I choose my PS3 controller on the first slot and then from the pull down menu next to it the "mouse" option, now I can move the mouse with my left analog stick and mouse clicks are on the PS3 action buttons. Exit buttons to quit the emulator configured in RetroArch should exit the emulator. Also the mouse speed should change within how far I press the an

[2018-02-12 13:01] midwan commented on #246
Thanks for reporting this, we'll get it fixed.

[2018-02-12 13:38] midwan commented on #246
Fixed in the dev branch, will get merged into master on the next update!

[2018-02-12 13:38] #246 closed

[2018-02-12 19:29] CypherXG commented on #244
Rename the file it to PLAYSTATION(R)3 Controller.cfg
I had the same Problems with my Shawan Wireless PS3 Contoller in #151

[2018-02-12 21:23] HoraceAndTheSpider commented on #244
Does it show a `/` inside Amiberry , on the input panel?

[2018-02-12 21:47] HoraceAndTheSpider commented on #250
Sounds more like a Whdload / uae Config Maker (and booter) problem than Amiberry’s

What is the Whdload error that comes up on reloading? Clearly the saving has caused a problem which is then displayed on the next load and it would be useful to know what that error said.

Thanks

[2018-02-12 21:48] HoraceAndTheSpider commented on #250
A simple work around is to use Amiberry’s save states for your game saving until a permanent solution is found.

 Also could you please say what Whdload slave version you are using?

[2018-02-12 21:51] HoraceAndTheSpider commented on #247
UAE Config Maker has been updated to fix the default values, but you should check your hostconfig file value for these as it may need updating to say “F12” etc as this file is not automatically updated

[2018-02-12 21:52] HoraceAndTheSpider commented on #249
HotKey + menu button depends on your retroarch controller Config

No longer needed in the hostconfig file since the latest version.

[2018-02-13 03:11] ransom1122 opened #252 "Quit & Back to GUI Mapping"
Hi.

In previous versions of Amiberry I had my uae configs configured in a way where the PS button on a PS3 controller Quit Amiberry & Start Button went back to Amiberry GUI.

After updating to v2.12 this configuration with the same uae config file does not work. Simple question

How can I reconfigure QUIT AMIBERRY & QUIT to GUI on my PS3 controller?

I have tried custom controls. In the Quit opti

[2018-02-13 04:55] Fable-Son commented on #247
Thanks. I will try that.
Just to make shure. Where are the files located, that you want me to look at?
I tried earlier to look in some of the files. But I was unsure of wich ones to look in 😊

[2018-02-13 08:43] ransom1122 commented on #252
It seems SELECT & START Quits & SELECT & Triangle goes back to GUI by default... All is good now. ✌️

[2018-02-13 08:44] #252 closed

[2018-02-13 08:44] #251 closed

[2018-02-13 08:54] midwan commented on #234
@CypherXG
Regarding the things you mentioned above:

1) I haven't seen this problem yet, I'll try to recreate it some more just in case. Any special details that I should be aware of? What resolution / Hz are you running your monitor in? What configuration do you use in Amiberry?

2) The Turbo mode setting is not meant for games/demos, but for desktop usage where you might need the maximum amount

[2018-02-13 09:39] AndrewReidNZ commented on #244
Yes in Amiberry it is listed as "Shanwan PS3/PC Gamepad".
The retroarch .cfg file is Shanwan PSCPC Gamepad - hence amiberry cant match it up.
I cant create a custom .cfg file with a / in the name...

@CypherXG  - i dont think renaming the cfg file it as you suggested will help - Amiberry wont't match it up.

The best solution would seem to be to duplicate what retroarch does and strip any "/" char

[2018-02-13 09:49] midwan commented on #244
@AndrewReidNZ
I've found the place in the code that tries to fetch the filename, and it is indeed looking for something with the controller name + ".cfg".

I'll add a filter that strips out any invalid filename characters there. If we have a link to what retroarch is doing exactly, it would be nice, so we can follow the same pattern. But either way, it's not too complicated to add.

[2018-02-13 09:57] midwan commented on #239
@HoraceAndTheSpider
Have you been able to recreate this yet?

I have an X-Box One controller here that seems to work correctly last time I checked.

[2018-02-13 10:30] Voljega commented on #250
I thought save state in amiberry weren't compatible with WHDLoad ? I tried it but it didn't work

[2018-02-13 10:44] HoraceAndTheSpider commented on #250
Save states work fine with Whdload as long as you have a specific .uae file for that game.

The issues that can occur are only with games that constant write saves to the drive as you play (auto saving) and if your state is out of sync with those changes

[2018-02-13 10:46] HoraceAndTheSpider commented on #239
I have a similar issue with a PS4 control pad so I need to check if it’s AXIS specific
(I also need to try the latest source)

[2018-02-13 11:04] Voljega commented on #250
What do you mean by specific uae ?

Le 13 févr. 2018 11:44, "Horace And The Spider" <notifications@github.com>
a écrit :

[2018-02-13 11:16] midwan commented on #250
@Voljega
I believe he means a specific config file for the game...

[2018-02-13 11:20] RetroD commented on #239
@midwan
Just to be more specific, xbox one controller is fine for me too. Is the 360 version that has the problem

[2018-02-13 13:00] Naviara commented on #250
Horace / midwan you're right, it seems like a WHDLoad issue, nothing wrong with Amiberry - tried the same with WinUAE on my PC now and got the same result.

Error:

DOS-Error #202
(object is in use)
on preloading file "whdscript_debug"
File "Disk.2" is compressed using XPK but not cached.

adding this XPK libraries to WHDLoad_Booter libs dir doesn't change.

sorry for opening this issue .. you can

[2018-02-13 13:01] midwan commented on #250
@Naviara
Thanks for confirming! :)

[2018-02-13 13:01] #250 closed

[2018-02-13 13:07] Voljega commented on #250
For the uae file, I just wanted to know what exactly 'specific' file means.

In my case the uae for any whdload game is entirely generated in the ./conf/ directory of amiberry, with a plain dumb never changed name, not related to the name of the game.
amiberry is launched with plain './amiberry"

So in that case save state doesn't seem to work for WHDL, what am I missing ?
Naming the uae file like

[2018-02-13 13:29] deVolff opened #253 "Chaos Engine CD32 ISO: no video"
Hi, first of all let me thank you for all your great work on this project. Amiberry is an awesome emulator, and I continue to be impressed by it. I've dabbled in Amiga emulation on PC for years, but only recently discovered the Pi+Amiberry, and since day 1 I thoroughly enjoy it on an almost daily basis. Thanks a million, and please keep up the good work!

### Expected behavior
Chaos Engine CD32 (I

[2018-02-13 13:33] midwan commented on #253
@deVolff
Thanks for the kind words and for reporting this.
I'll try to recreate it and see where we are.

[2018-02-13 13:55] Naviara commented on #250
@HoraceAndTheSpider

yes I can do this, where do you want me to send it to?

[2018-02-13 16:29] Voljega commented on #250
@HoraceAndTheSpider Ok so it may simply work if the generated uae has the same name than the game, I will try it

[2018-02-13 17:03] ZappaUtopia commented on #231
Hi, i've yet to try the new version as my Pi is in storage. I've seen screenshots of a Turbo mode option, does this work like the Warp mode I requested and if so could it be mapped to a button ?

[2018-02-13 17:05] midwan commented on #231
@ZappaUtopia
The CPU Turbo mode changes the time we devote to CPU vs Chipset during emulation, giving the maximum time to CPU and minimizing the Chipset timing. It's good for certain kinds of usages (e.g. desktop stuff that depend on the CPU mostly, like Lightwave rendering), but not good for games/demos etc.

[2018-02-13 17:10] CypherXG commented on #234
To Question 1:
Pi Resolution 1080p 60Hz.
Amiga Resolution 1024x768 32Bit
Config:
CPU 68040/FPU Intern JIT/CPU Speed fastest or turbo does no matter
Chipset AGA/Extra Chipset CD32/Blitter Normal/Copper Fast Copper/Collision Sprite vs Sprite
Kickrom CD32/Ext. Rom CD32
RAM: 8MB Chip, Slow OFF, 24Bit Fast OFF, 32Bit Fast 128MB/RTG 16/A4000 OFF/A4000 CPU OFF

Here you can see the 50/60Hz Bug:
https://w

[2018-02-13 17:45] ZappaUtopia commented on #231
Oh, not what I was thinking then ! I never noticed this option in WinUAE. Wouldn't Warp mode do the same thing and be more beneficial ?

[2018-02-13 18:13] ZappaUtopia commented on #150
I read somewhere a few months ago (maybe Facebook ?) that TomB was testing 68000 Cycle Accuracy code . Is this still on-going or was the idea scrapped ? I know that the Pi won't be fast enough for the majority of stuff but the future Android version will run it with ease. Not really bothered about 68020+ Cycle Accuracy as it still isn't accurate on Windows due to lack of documentation, just Toni W

[2018-02-13 18:14] HoraceAndTheSpider commented on #250
@Naviara my username here @ hotmail dot com

Thanks :)

[2018-02-13 18:35] Naviara commented on #250
Done.. I also attached a disk combo, wich works perfect in Amiberry with shared Savegame Disk for DM & CSB (import DM Save, DM savegame and CSB savegame all working on the same Savegame Disk in DF1:)

greetings,
Anthony

[2018-02-13 19:59] bspinner commented on #241
I'll create a new repo for android stuff, so we can treat amiberry like a core with separate issue tracking.

[2018-02-13 21:37] vretro opened #254 "How do you reset Custom controls to default?"
Hi @midwan, thanks for all your work on Amiberry.

I have deleted all configs for Amiberry (that I know of), and installed fresh from source in RetroPie.
Previously I have ran various versions of Amiberry and played around with custom controls.

I am now in a position where it appears as though I have set the following:
West = Joy1 Up
South = Joy1 Fire/Mouse1 Left

However, the above listed fields

[2018-02-13 22:30] HoraceAndTheSpider commented on #254
West as Up and South as Fire are the default for Joystick mode, and the correct behaviour for “none” in custom settings.

The custom maps are only set in the individual .uae so what you have done is correct :)

[2018-02-14 07:40] Naviara commented on #150
If cylce exact is not working for the PI, at least a Speed Throttle (if possible) would be nice, so we can adjust the speed where games are running too fast manually. These is mostly experienced with all WHDLoad games wich have to use the 68020 CPU. "Underclocking" it to 7 Mhz doesn't change the speed. (for instance Populous 2 or Star Wars).

[2018-02-14 08:35] midwan commented on #231
@ZappaUtopia
This doesn't exist in WinUAE, it's a unique feature we added. ;)

[2018-02-14 09:00] Naviara opened #255 "BUG - Diskdrives on GUI showing same image path/names"
**### Expected behavior**
V2.13 - I insert one Disk in DF0: and a different one in DF1: / the GUI reflects that showing me the path with image name on both drives.

**### Actual behavior**
When you go to Disk drives and insert an ADF image into DF0: and a different image in DF1: then the image of DF0: also changes to the same image insert in DF1:  It looks like in both drives you have put in the s

[2018-02-14 09:02] midwan commented on #255
@Naviara
Thanks for reporting this, it has already been fixed in #246 and will be merged back into master with the next update. :)

[2018-02-14 09:02] #255 closed

[2018-02-14 09:05] Naviara commented on #255
Midwan, sorry for double report, I will check all closed ones the next time before I post!

[2018-02-14 09:05] midwan commented on #255
@Naviara
No problem at all :)

[2018-02-14 09:14] midwan commented on #234
@CypherXG
Thanks for the videos :)
I'll take a closer look a this with a setup like yours and see if I can recreate it. I'll update you once I have more news on it.

[2018-02-15 00:04] vretro commented on #254
Oh! I never knew about those defaults @HoraceAndTheSpider - silly me.

Thanks for pointing that out.

I don't seem to be able to assign up and fire to any other buttons though, and for them to work at all I must leave West and South set to None.

On a related note, I cant assign anything to L and R on my Input Device: USB,2-axis 8-button gamepad (SNES style iBuffalo pad)

[2018-02-15 03:40] m3chstaa commented on #207
I hope this helps but I've had problems getting amiberry to read my retroarch controller config and it took me a while to sort this. I found that amiberry looked for my controller config in all/retroarch/autoconfig and for some reason wasn't reading it (I could see it was there and even verified that the filename was the same as the controller name in Amiberry).  on a hunch i loaded up retroarch f

[2018-02-16 08:44] HoraceAndTheSpider commented on #150
Run the Whdload versions and Switch on “wait for blitter” and this will fix the speed I those games.

These games often had DBF loops used for timing and these are corrected with proper blitwaits in most Whdload fixes.

I’ve have run some tests on this (see the uae Config Maker GitHub) benchmarking against a real A600 using ADF versions , Whdload versions and against Amiberry , so I can confirm th

[2018-02-16 08:52] HoraceAndTheSpider commented on #150
https://github.com/HoraceAndTheSpider/UAEConfigMaker/issues/35#issuecomment-366175901

Post 5.

@naviata

I have filmed 4 videos of NZS, which suffers from the speed issue badly,  on level one. Moved Tiki across the screen to his death. I then freeze video at the first frame of the 5 second mark for comparrison.

**1 - Real A600, 68000 only Gotek loaded ADF.**

http://www.ultimateamiga.co.uk/Hoste

[2018-02-16 09:03] Naviara commented on #150
@HoraceAndTheSpider
Thank you, I will try that :-)

[2018-02-16 10:10] HoraceAndTheSpider commented on #254
Do L + R show as greyed out in your custom tab?

Have you definatly assigned these to “shoulder” in retroarch, or as “trigger”
(Trigger buttons are not currently supported)

If possible, perhaps you can post your controller  cfg file here and I can check to see there is any reason they won’t work.

I will have to look into the up/fire mapping separately, but make sure you are picking the right “po

[2018-02-17 01:04] RetroD opened #256 "IK+ broken audio (WHDLoad 1.8 slave)"
### Expected behavior
All sound effects playing like in the ADF version
### Actual behavior
Some sound effects of the characters are either not playing or are cut out prematurely
### Steps to reproduce the behavior
(tested on Retropie and Amiberry 2.13)
Use the 1.8 version (same results with version 1.7) of the WHDLoad slave for IK+.
Run the game using WHDLoad autoboot program and the auto generat

[2018-02-17 01:29] Edo75 commented on #207
I clearly see "Retroarch Keyboard as Joystick" but the firebutton doesn't work what's so ever on my setup (Retropie 4.3, IPAC) even with input_player1_x = "space". I guess I must wait for the planned custom remapping.

[2018-02-17 09:12] HoraceAndTheSpider commented on #207
Hi @Edo75

The feature you refer to *is* the custom remapping. There is not much planned here other than adding support for players 2-4.

Input_player1_x would in fact be the “yellow” button on CD32 mode and not fire.

Please check that the button you have for Input_player1_b performs the standard Amiga fire control. If that still does not work I will look into it further.

There is a picture on t

[2018-02-17 09:19] HoraceAndTheSpider commented on #207
I should add that if you wish to use a layout that has a different positioning , you can create a second retroarch.cfg file inside your Amiberry folder and use say “space” as the “b” button rather than “y” so that the layout is used by Amiberry only.

(You would also need to change the option in the paths panel for the location of this)

Hope that helps

[2018-02-17 10:59] midwan commented on #234
Regarding the Turbo mode issue:
Like I said, Turbo mode was added for CPU intensive applications which don't require much chipset time. It's designed to work well with Frameskip (since we assume you don't want 50/60 FPS but instead max CPU power), and it's certainly not meant for games or demos, which require more from the chipset.

I'm thinking of exposing the timing settings to the users somehow

[2018-02-17 10:59] #234 closed

[2018-02-17 15:41] jbodders opened #257 "Amiberry with Xin Mo dual arcade / vertical axis of operation reversed"
Firstly just to say great update to the platform - some fantastic features! I'm a bit of a noob when it comes to the .cfg files and behaviour so just trying to work out if this is a known issue with dual arcade controls.

I'm running the latest Amiberry, Retropie 4.3, on a Pi3 as part of an arcade setup with Xin-Mo dual arcade controls.

### Expected behavior

1) Xin-Mo Controls are configured via

[2018-02-17 16:39] vretro commented on #254
Hi @HoraceAndTheSpider,

L + R show as None and are not Greyed out.

As far as I know, L + R are assigned to "shoulder" as I do not own controllers with triggers and there are no issues else where in Retroarch.

The correct port was chosen when assigning controls also.

Below is my controller cfg:

input_device = "USB,2-axis 8-button gamepad  "
input_driver = "udev"
input_l_btn = "4"
input_load_st

[2018-02-17 18:59] midwan commented on #150
To avoid keeping this issue around as Open, as there's nothing else to do until this is implemented in a future version, I'm closing it and we'll add an entry in the Wiki FAQ page about it instead.

[2018-02-17 18:59] #150 closed

[2018-02-17 19:05] midwan commented on #216
Closing this until we receive more details...

[2018-02-17 19:05] #216 closed

[2018-02-17 19:19] midwan commented on #239
Managed to recreate it, but only when using the Analog stick of my XBox One controller.
All digital input (Dpad, real amiga joysticks through 2 different adapters) seem to work fine.

[2018-02-17 21:32] Xnyle opened #258 "Picasso96 not working on ClassicWB 3.9 (X-Server, 100% CPU/crash)"
I installed OS3.9 on the current DietPi/Amiberry (suggested download, RPI3)
Then used that to init ClassicWB 3.9, Installed Picasso96. So far so good.

UAE Config from here http://classicwb.abime.net/classicweb/instructionsos39.htm

Whenever I select a uaegfx mode, uae4arm crashes (black screen, nothing more).

I guess that's a bug or at least some non straightforward config needed?

It's working

[2018-02-17 22:29] midwan commented on #249
Closing this for now then, since it's already planned.

[2018-02-17 22:29] #249 closed

[2018-02-17 22:43] RetroD commented on #256
After testing this the whole night I gave up, turned off my rpi. Then turned it on a bit later to try something else I was reading up online and the issues were gone! (without me making any changes)

Its weird, I updated the game slave from 1.5 to 1.8 and I was having the issues, and they went away with a restart of the pi. Not sure if there's anything cashed somewhere by WHDLoad, but it looks lik

[2018-02-17 23:08] midwan commented on #244
@AndrewReidNZ
Just pushed a fix for this, but it would be best to test it on an environment with the problem.
Please let me know if something doesn't work as expected after this, and we'll re-open this issue.

[2018-02-17 23:08] #244 closed

[2018-02-17 23:15] midwan commented on #90
@rabejens
Thanks for the feedback.
Regarding what you mentioned:
- The shift problem in the GUI was resolved a few months ago, when I updated the guisan project contained in the repo. What steps did you take to recreate this? I cannot see the problem in the current version (either `master` or `dev` branch).
- The dropdown bug was fixed in an earlier commit, in the `dev` branch. It will be merged b

[2018-02-18 00:23] midwan commented on #90
@rabejens
Please test again with the latest `dev` branch changes:
The Insert key should now map to the `#` key correctly, and the `>/<` key should get correctly detected on a keyboard that has it as well.

I tested it using SysTest.adf (from Aminet) and it seems to work as expected.

[2018-02-18 00:23] #90 closed

[2018-02-18 00:25] midwan commented on #256
@RetroD
Thanks for the feedback.
It might be related to the WHDLoad slave version, as many times there are fixes there specifically for these kind of things :)

[2018-02-18 00:25] #256 closed

[2018-02-18 00:30] midwan commented on #258
Which version of Amiberry do you have installed?
The bundled DietPi distro is due for an update, as DietPi got upgraded to v1.6+ and that image is still based on the older one. @Fourdee is working hard on that, so it should be available soon.

Also, the SDL2-Dispmanx version is the best one to use on a RPI, since it will be much faster than the pure SDL2 one.

For now, I'd recommend you try with a

[2018-02-18 00:33] midwan commented on #253
@deVolff
This actually works for me.

Here's what I did:
- Extracted the ZIP file you mentioned in a new directory
- Launched Amiberry, used Quickstart to select CD32
- Selected the .cue file in the directory I extracted the ZIP file above
- Clicked on Start.

The intro showed normally, no black screen here.

[2018-02-18 11:20] Xnyle commented on #258
I was using the old bundled version.

I'm trying to compile it on https://github.com/bamarni/pi64 which will probably fail ;-)

Arm64 is a target I would very much like you to consider as well.

Probably way more performance to get from a clean, mainline kernel based, up to date stretch that is actually using the RPI3s hardware, not that dreaded "we want to have backwards compatibility" raspbian.

[2018-02-18 11:24] midwan commented on #258
@Xnyle
Thanks, I wasn't aware of pi64.  I'll give it a try...

I believe most of the problems you mentioned above are fixed already in the latest version, so I'd recommend upgrading to that first.
If you see any issues with the latest version, feel free to mention them and we'll take a look!

[2018-02-18 14:10] Xnyle commented on #258
Obviously I failed,

g++: error: unrecognized command line option '-mfpu=neon-fp-armv8'... Which is not known on aarch64, If I remove the switch, the defines in src/include/sysdeps.h are not able to figure out the cpu type.

Funny you have a pine64 target that only uses -march=armv7-a?

I guess I'll just wait, as I don't really want to use raspbian.

And this issue is slightly getting of topic  :-

[2018-02-18 14:11] midwan commented on #258
@Xnyle
Yeah, the pine64 target is experimental and doesn't yet work (I added it in order to eventually make it work). :)

[2018-02-18 14:18] Xnyle commented on #258
As written, I would appreciate it if you get it to compile on Arm64. Besides Rpi3 and Pine64 there is also the Orange Pi Win / Orange Pi Prime, both are cheap, have lots of power and would benefit as well. And the Rock64 boards, and...

[2018-02-18 14:18] #258 closed

[2018-02-18 14:49] deVolff commented on #253
Hi @midwan , thank you for looking into this. I just tried that, and hey - yes, it does indeed work fine through Quickstart! Cheers.

What does NOT (and hasn't) worked properly for me was the direct startup through an .UAE file. The UAE file was originally generated using Horace's UAE Config Maker (an excellent tool by the way). When starting through the UAE I'm getting no video, as reported origi

[2018-02-18 14:52] midwan commented on #253
@deVolff
Thanks for confirming...

Then this is obviously a problem with the config file, at least one of the settings in there is causing the problem ;)

@HoraceAndTheSpider I'm not sure if this config file is already updated somewhere or it's just incorrect?

[2018-02-18 21:11] Xnyle opened #259 "SDL2 crash when using HighGFX Video modes"
When using screenmodes from http://aminet.net/package/driver/moni/HighGFX40_6 the SDL2 + Dispmanx version crashes instantly.

Why I'm not using Picasso you ask? Because my real Amiga doesn't hava a graphics card, only a Scandoubler. But I would like to copy System: between installations.

HD720 on SDL -> crash
P96 on Amiga -> crash

HD720 works fine on WinUAE, so I hope this is no blocker ;-)

[2018-02-18 22:32] cesarpuig commented on #207
Hello, and sorry for my English.

I have a similar problem:

I do not work well with the trigger buttons or the cursors.

My configuration is:

Retropie 4.3.11
Amiberry 2.14
Ipac keyboard encoder

Imput: Retroarch keyboard as joystick

[2018-02-18 22:58] HoraceAndTheSpider commented on #207
Trigger buttons are not supported.

Please post your retroarch.cfg file and explain further the behaviour of what is not working , what you are doing, how it is expected to work etc.

This thread is really about Custom remapping which currently does not exist for these controller types.

[2018-02-18 23:05] HoraceAndTheSpider commented on #254
I cannot reproduce any problem with custom remapping Joy 2 Up and Joy 2 Fire to other buttons.

I have successfully managed this on all input ports. (Even where the default mapping is set to port 0)

What is this being tested on? I use a controller checking programme specifically for this.

[2018-02-18 23:06] HoraceAndTheSpider commented on #254
For the L/R problem  I will need to create a debugging binary for you to test some stuff for me

[2018-02-19 07:32] ransom1122 opened #260 "Updating from v2.12 to v2.14"
Hi midwan..

I am trying to manually update from v2.12 to v2.14 with difficulties again.....  Because I do not have permission I followed your manual method form above..

1. I deleted adfdir from my pi
2. I transferred all data from **amiberry-rpi3-sdl1-dispmanx-Jessie-v2.14.zip** to **/home/pi**
(Renaming amiberry-rpi3-sdl1 to Amiberry)

Then did the same steps as previously..
**cd ~
sudo cp data

[2018-02-19 07:46] midwan commented on #260
@ransom1122
In RetroPie installlations, the emulator binary should be placed in `/opt/retropie/emulators/amiberry/` and named `amiberry` I believe.

You'll need to `sudo cp` it in there, like you did with the `data` directory. ;-)

[2018-02-19 07:46] #260 closed

[2018-02-19 08:06] #253 closed

[2018-02-19 08:10] ransom1122 commented on #260
**FIXED** Now on V2.14
After the 1st Step above I did this...

**sudo cp amiberry /opt/retropie/emulators/amiberry/
sudo cp capsimg.so /opt/retropie/emulators/amiberry/**

Funny that I don't recall doing that when I updated to v2.12

Thank you for your fast reply...

[2018-02-19 08:10] HoraceAndTheSpider commented on #253
I’ll have to investigate which bit of the Config causes this

[2018-02-19 08:11] midwan commented on #253
@HoraceAndTheSpider
It's an older config, if you notice the `enter_gui` key is still assigned to `293` instead of `F12` for example

[2018-02-19 08:20] ransom1122 opened #261 "IPF Confirmed Working"
I quickly tested some IPF's and they work fine in v2.14

Thanks for the the update.. Keep up the great work .. :)

[2018-02-19 08:37] HoraceAndTheSpider commented on #253
Most of it is correct though? It does includes Amiberry.x Instead of pandora.x

[2018-02-19 08:37] midwan commented on #261
Thanks for confirming... :)

[2018-02-19 08:37] #261 closed

[2018-02-19 10:25] ZappaUtopia commented on #260
@ransom1122
@midwan has updated the master branch to v2.14 so you can 'update from source' in Retropie, you don't have to do it manually (only for the dev version). You will still have to manually copy the 'capsimg' though using the commands from the wiki.

[2018-02-19 10:33] ransom1122 commented on #260
Great news. Ill keep it in mind for future releases

[2018-02-19 10:35] ZappaUtopia commented on #260
Its also recommended to 'update from source' because Retropie updated the .zip extraction script for IPF support. (If the zip file contains more than one .ipf or .adf etc. it will extract them to a temp directory and insert them into the drives).

[2018-02-19 10:48] ransom1122 commented on #260
Thanks

[2018-02-19 15:01] substring opened #262 "sdl2_ttf, opengl and SDL video driver"
sdl2-ttf only works on OpenGL, which forces quite some changes on the OS as mentionned in the wiki ... This dependancy forces the whole system to run on KMS (at least on Pi). Otherwise, we're good to go with the pretty outdated SDL1 ...

I'd really love to have some full SDL2 compatibility not relying on OpenGL as well as setting the Pi video driver for the whole system to (f)KMS when it can have

[2018-02-19 16:31] CypherXG commented on #259
Why are you using a Monitor Driver with the Pi?
Make no Sense.
Use P96 and the correct rtg.library. You need Version 40.3994 or bigger.
http://aminet.net/package/driver/video/RTG403994p.lha
In the standard Picasso download ( http://aminet.net/package/driver/video/Picasso96 ) is no 3994 Version , only 40.3945 and this doesn't work with the Amiberry. Try to install the newer Version

[2018-02-19 16:55] Xnyle commented on #259
You did not read, what I wrote, right?

It makes sense, because

Not once, but so often, that It gets quite cumbersome to install/uninstall P96 and change screen modes every time.

If you won't implement support for HIGHGFX that's ok, but please don't justify it with "Makes no sense"

[2018-02-19 21:08] cesarpuig commented on #207
Hello, first of all thank you very much.

I enclose the retroarch configuration and an uae file if necessary.

Basically the problem that I have is that it does not recognize me the right, left and down direction, but it does recognize up

The buttons I'm not sure because I do not know the system very well.

A greeting.

[Retroarch+uae.zip](https://github.com/midwan/amiberry/files/1738131/Retroarc

[2018-02-20 04:11] ransom1122 commented on #105
To update. This game is still buggy on v2.14

[2018-02-20 04:13] ransom1122 commented on #113
Game is now working on both v2.12 & v2.14

[2018-02-20 08:52] midwan commented on #259
@Xnyle
You don't need to uninstall the whole P96 package, just move the monitor driver from Devs:Monitors to Storage:Monitors, and that would be enough to disable it.

Regardless, thanks for bringing this up, I'd like to run some tests and find out where exactly this crashes and why. Although I probably can't give it high priority right now (unless it's an easy fix), it shouldn't crash the emulato

[2018-02-20 08:56] midwan commented on #262
@substring
I've tried using only the `rpi` back-end in SDL2, but it seems to clash with the usage of Dispmanx that we have during emulation (for performance reasons, we open Dispmanx directly for the emulation screen, only the GUI is pure SDL2 in that target). It would seems that you cannot initialize and use Dispmanx after you've started an SDL2 application that uses the `rpi` back-end (which als

[2018-02-20 09:00] midwan commented on #149
@bspinner
Generally speaking, you shouldn't be using JIT with games and it may lead to instability, incorrect speed, and unexpected behavior. JIT is meant for desktop usage mostly. ;)

I'll have to test the same configuration on the RPI to see if it also fails, is that Lotus image available somewhere so I can test in the same (it could be related to that version also)?

[2018-02-20 09:32] HoraceAndTheSpider commented on #149
Except 3D games ;)

[2018-02-20 09:47] substring commented on #262
One background word before: i'm one of Recalbox devs. The reason i made this issue is that Recalbox solely displays through FBDEV, no X11, no KMS. So no OpenGL, OpenGLES at best. I won't be able to switch to SDL2 on pi when bumping to your last stable because of sdl2_ttf that does require OpenGL extensions.

Any other board we've ported Recalbox to is also using FBDEV (except x86). I haven't had t

[2018-02-20 10:01] midwan commented on #262
@substring
I understand the problem, but I'm not sure I can do much about it as it is... :-/

The XU4 target does work (using SDL2), but since I don't that board here to test with, I do not know the details. We've had a few users reporting results only.

The SDL1 version is still there in the current version however, and will stick around at least as long as RetroPie is stuck on Jessie. But I'd li

[2018-02-20 10:07] Xnyle commented on #259
Thanks!

One Question: Do you know where / how the currently selected Screenmode is stored on the filesystem?
I'm thinking about automatically changing that setting in early SS (if possible) depending on what isuaertg returns.

[2018-02-20 10:08] substring commented on #262
@midwan I think retropie most probably has the same problem as me regarding the upgrade. I can't tell for sure, but they may not have switched to KMS either

Regarding XU4: i guess it does work with SDL2 without using dispmanx ? So afterall, it's possible to use SDL2 without dispmanx ? I may as well check the makefile for compilation flags to see that. But anyway, even on XU4, Recalbox still uses

[2018-02-20 10:09] midwan commented on #259
@Xnyle
The selected mode is stored in ENVARC: in a generic filename, but I can't remember the filename at the moment. :)

[2018-02-20 10:11] midwan commented on #262
@substring
Yes, XU4 uses pure SDL2 (no Dispmanx), since Dispmanx is a RPI-only feature. :)
There are RPI targets that don't use Dispmanx as well, but the performance is worse there, that's why we recommend the other version instead.

Dispmanx is basically a (supposedly deprecated now) library that allows to control the VideoCoreIV GPU directly. That GPU is only on the RPI models of course, so othe

[2018-02-20 10:15] substring commented on #262
SDL2 + --enable-video-rpi does use dispmanx, hence my very first comment ;)

[2018-02-20 10:18] midwan commented on #262
@substring
Yes, but that uses Dispmanx as a back-end from SDL2 itself, not from the emulator directly.

There are 2 different types of targets for the Raspberry Pi under SDL2:
- SDL2-Dispmanx: This uses SDL2 and the emulator also opens a Dispmanx screen during emulation directly, for maximum performance.
- SDL2: This uses whatever SDL2 provides and renders the emulation screen there. It depends on

[2018-02-20 11:35] bspinner commented on #149
@midwan

Lotus turbo challenge 2 aga version by Krypt.

A4000 Rom with a 1200 shouldn't be the case. I checked everything twice. Hm. I'll look into it when I'm at home.

[2018-02-20 11:56] ZappaUtopia commented on #149
Just a note, there is no AGA version of any Lotus games. That just means it's fixed to work on AGA machines.

[2018-02-20 12:31] ZappaUtopia commented on #66
Is there anything that can be done about this ? Now that i've noticed it, it's really quite annoying :-) Has nobody else noticed this ?

[2018-02-20 12:51] deVolff opened #263 "Severe lag when using BT keyboard in game (Pinball Fantasies)"
Hi, I use Logitech MX5500 Bluetooth keyboard with my Raspberry Pi. I'm generally quite happy with it - it works OK, always pairs with no problem, doesn't disconnect etc. So far I've been using the keyboard only for configuration (also within Amiberry GUI), and only occasionally to press a button in game (to select difficulty level, select language, enter 'player name' etc.). That always worked fin

[2018-02-20 13:18] HoraceAndTheSpider commented on #263
The “work around” of fully mappable keyboard controls to a controller is already available via the “custom controls” tab?

Are you perhaps using an out of date version?

I have had similar input lag issues but it actually turned out to be the screen I used. Is this with a TV or a computer monitor , and perhaps when you have tried the custom controls we could determine if it is BT/Keyboard specific

[2018-02-20 13:46] ZappaUtopia commented on #263
I remember lag on this game on a real Amiga. People also complained about it when they released the iPhone version. Maybe someone with a real Amiga could check because I no longer have mine.

[2018-02-20 14:34] deVolff commented on #263
Hi @HoraceAndTheSpider , thanks a lot for the note! I didn't know that you can map controller buttons to keys yet. I was under the impression (wrong, it seems!) that right now you can only map actions like 'Enter GUI' and 'Quit Emulator', and the rest is WIP.

Could you advise if these mappings can be set up in the UAE file? I would be looking for this kind of mapping:
Left Analog Stick Up -> Left

[2018-02-20 14:35] midwan commented on #263
@deVolff
There's a simple way to test this:
- Plug in a wired keyboard on the RPI and test again. Do you have the same lag?

(you do have a wired keyboard around, don't you?)

[2018-02-20 14:57] deVolff commented on #263
Hi @midwan , sure - I'll try with a USB keyboard in the evening.

[2018-02-20 18:53] bspinner commented on #149
@ZappaUtopia Well, if we start nitpicking: actually those fixed games are AGA (compatible) versions. But yes, there are no official AGA versions with fancier graphics or anything alike by the original developer.

@midwan The results are the same with a clean A1200 configuration. Just recompiled with and without `DEBUG`-Flag. For whatever reason, the output without the flag produces more output reg

[2018-02-20 23:16] vretro commented on #254
Hi @HoraceAndTheSpider, I updated to v2.14 and the issue with L/R has been resolved.

Additionally your hunch about port numbers was completely appropriate and resolved the other half of my issue and I am now able to assign the fire + up (jump) buttons as I please.

You were right, I mistook Joy1 as being Player 1, instead Joy2 was what I was after, emulating a mouse in port 1 and a joystick in po

[2018-02-21 00:30] deVolff commented on #263
Hi @midwan , @HoraceAndTheSpider  - problem solved. It looks like the lag was simply caused by the almost empty batteries in my BT keyboard. After replacing the batteries with fresh ones, the lag is now non-existent (or very minimal), and one can play Pinball games quite comfortably using the BT keyboard.

I also tried mapping custom controls, and that actually works like a charm (cheers!). FYI: I

[2018-02-21 00:30] #263 closed

[2018-02-21 01:22] mattsoft opened #264 "Amiberry 2.14/DietPi 6.2 does not quiet boot"
Older versions of Amiberry (e.g., 2.12) with DietPi 6.0 would quiet boot on the RPi3. There would be no output to console when you turned on the Pi.

With 2.14 and "Fast boot" selected, DietPi gives you all the output up until Amiberry launches. Is this deliberate?

Write the Amiberry 2.14 image (http://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch_AmiBerry.7z) to SD card and install to a R

[2018-02-21 01:34] midwan commented on #264
We'll have to take a look with @Fourdee on this...

[2018-02-22 07:26] midwan commented on #254
I believe we can close this then, otherwise let me know and we'll re-open it...

[2018-02-22 07:26] #254 closed

[2018-02-22 16:48] CypherXG opened #265 "Possible to add more RTG Memory?"
My Question is:
Is it possible to add more RTG Memory than 16MB?

I'll tried this in my own Versions before and it work perfectly with max 128 MB RTG Memory.
In the actually Version of Amiberry it will not start with a Videomem greater than 16MB.
But when i start with another Config, load than the 128MB Config, the Emulator will reset perfectly with 128MB and these are shown in the System like Sys

[2018-02-22 16:53] midwan commented on #265
@CypherXG
Is the only modification you made in the config file?
If so, could you please attach such a config file for reference?

I will try adding more from the GUI, if it doesn't cause any problems we can keep it.

[2018-02-22 16:54] CypherXG opened #266 "Possible to add an Paula/Master Volumeslider?"
Hi.
I'm using Amiberry sometimes with HDMI Sound output and sometimes i use the Headphone jack for Audio Output.
The Problem is that the Volume can not changed from Amiberry itself because there is no Volumeslider.
I think the best possibility is to regulate the Paula Volume because there are so many different devices like Tinker, Pi and many more.
The original WinUAE has these Slider for Master V

[2018-02-22 17:03] CypherXG commented on #265
In the Config there is the Row with
gfxcard_size=128
gfxcard_type=ZorroIII

Next modification was that i added in PanelRam.cpp some rows like the RTGMEM etc:

`static const char* RTGFastMem_list[] = { "Deaktiviert", "1.0 MB RTG VRam", "2.0 MB RTG VRam", "4.0 MB RTG VRam", "8.0 MB RTG VRam", "16 MB RTG VRam", "32 MB RTG VRam", "64 MB RTG VRam", "128 MB RTG VRam" };
static unsigned int RTGFastMem_va

[2018-02-22 17:07] ZappaUtopia commented on #207
What config file is needed to make 'Keyboard as Joystick' work ? I have a keyboard that works as a keyboard in other emulators and Amiberry but when selecting 'Keyboard as Joystick' only Keyboard Up works as Gamepad Up, no other buttons work. The custom section says 'not a valid controller'. The keyboard used to work fine as a controller in previous versions.

[2018-02-22 17:11] CypherXG commented on #265
![dsc_0200](https://user-images.githubusercontent.com/7895130/36553037-9e0b75b6-17fb-11e8-87da-6222a40da360.JPG)
![dsc_0201](https://user-images.githubusercontent.com/7895130/36553047-a14aa300-17fb-11e8-970e-aebd1417068b.JPG)
![dsc_0202](https://user-images.githubusercontent.com/7895130/36553054-a67e10be-17fb-11e8-99fa-e41d6ff6c9f0.JPG)
![dsc_0203](https://user-images.githubusercontent.com/7895130

[2018-02-22 17:59] HoraceAndTheSpider commented on #207
it should work with a retroarch.cfg file alone.

I will investigate more, as it certianly worked in previous revisions. The custom section will always say that for keyboard controllers at the moment though

[2018-02-22 18:14] midwan commented on #265
@CypherXG
Thanks for the details.

Why do you need 128MB of RTG Memory anyway? What scenario are you using that requires that amount?

[2018-02-22 18:37] CypherXG commented on #265
Videoplaying and Videoediting.
A Simple Videplayer need with Workbench in a goog Resolution more than 75% RTG Mem.
For Videoediting i need more Memory because Chipmem is not used and to slow.

[2018-02-23 19:56] Xnyle commented on #259
Just in case someone finds this later, this is my "change screenmode on boot" quick and dirty solution:
After install P96 you need isuaertg from this [http://www.a1k.org/forum/attachment.php?attachmentid=123585&d=1460195710](url). Then move P96 monitor driver to Storage: and copy screenmode.prefs for both systems once (in my case screenmode.hd720 and screenmode.p96)

`
;Check if we have UAE RTG
FA

[2018-02-24 10:22] nemo93 opened #267 "[Help] Getting a new uae template"
### Expected behavior
To ensure uae gets inline with latest Amiberry release. Please point to me to any docs or even better if you could share one such template in the Wiki.

### Actual behavior
There are many parameters used in uae that might not be necessary any longer (like the many "pandora.xxxx" sort of params). I'd like to strip every useless/deprecated params out of my former uaes that I ma

[2018-02-24 10:24] HoraceAndTheSpider commented on #267
Hi

You could just update the uae Config Maker? It has had its template update.

Either that or use the QuickStart option and save a new file :)

[2018-02-24 10:37] nemo93 commented on #267
Thanks @HoraceAndTheSpider I'm afraid I can't find Config Maker. Bear with me! Do you have a link to that tool please? Also how should I go with the Quickstart option, I'm using Retropie (up to date) and launch uae from ES. I guess i have to go to Amiberry's GUI and look for this quickstart. Am I right?

[2018-02-24 10:50] HoraceAndTheSpider commented on #267
Yes the QuickStart is a panel in the gui

The UAE Config Maker is here on GitHub https://github.com/HoraceAndTheSpider/UAEConfigMaker

, but would suggest you remove any older installs of it first with:

`sudo rm -R \home\pi\.uaeconfigmaker`

I see from your configs you are using WHDLoad games anyway, so you might want to keep in mind I am working on a WHDLoad solution that means you won’t need th

[2018-02-24 10:54] Xnyle commented on #267
Regarding Quickstart or autoload: how do I make a custom config autoload at start via the SDL2 GUI?
If not possible via GUI, is it possible by editing the conf manually?

[2018-02-24 11:39] nemo93 commented on #267
thanks @HoraceAndTheSpider I'll test that out. Also interested by your proto hence let me know if I could help with testing.

[2018-02-24 11:39] #267 closed

[2018-02-24 11:39] ZappaUtopia commented on #267
keep in mind I am working on a WHDLoad solution that means you won’t need the Config maker or templates anyway.

I have a working prototype and would like to get it into the dev branch within a few weeks

Could you give us a brief description on how this is going to work ? Will we still be able to launch from emulationstation (with screenshots) or is it only from the Amiberry GUI ? I have read on

[2018-02-24 11:41] HoraceAndTheSpider commented on #267
I have already tested it with Batman so no issues with Amiga unpack games :)

The intention is to work from command line and I am already doing my testing though a self modified RetroPie :)

Will reveal more in time ;)

[2018-02-24 16:55] va-lemon opened #268 "Amiberry SDL2 on Raspbian Jessie/RetroPie"
Is it possible to run Amiberry SDL2 version under Jessie? I was able to compile SDL2, SDL2_image (this needed libpng 1.6 to be installed; Jessie and/or the RetroPie distros have 1.2) and SDL2_ttf.

Running the Amiberry SDL2 version (v2.13 compiled with the SDL2 target) under the Full KMS video driver generates the error:
INFO: SDL could not initialize! SDL_Error:
Internal error; file src/osdep/ami

[2018-02-24 22:44] tukicat opened #269 "Can't create HDF"
Hi,

Thanks for you work on Amiberry, the new version is great.

I am using Amiberry 2.14 on the my rpi3. However, I can't create a .hdf file.

I select create a hdf and give it a file name, it then says cannot create .hdf.

Any ideas what is causing this?

[2018-02-25 10:07] midwan commented on #268
@va-lemon
You'll need to compile Amiberry from source on Jessie, because the Broadcom libraries are named differently in that system (they changed naming in Stretch). The pre-built binaries of SDL2 were compiled on Stretch, so they will look for the new names.

Otherwise, it should work if all the dependencies are in place. Keep in mind that if you want to run the SDL2-Dispmanx version (best perfo

[2018-02-25 10:08] midwan commented on #268
@va-lemon
Also, the latest firmware can always be downloaded using `rpi-update` on the Raspberry Pi (`sudo` that if you're not root).

[2018-02-25 10:34] midwan commented on #259
@Xnyle
The crash happens because the emulator is trying to open a GUI window to notify you that this specific feature is not supported. :-)

The message would be "Variable beam counter comparator enabled. Not supported in Amiberry." specifically.

Of course, it shouldn't crash when trying to tell that to you, so I'll get that fixed. Then we can see how hard it is to support this feature also...

[2018-02-25 11:14] nemo93 commented on #183
Works flawless with latest Amiberry 2.14+. For the record below the uae that I use.
[Unreal.uae](https://github.com/midwan/amiberry/files/1755922/Unreal.txt)

[2018-02-25 11:14] #183 closed

[2018-02-25 11:16] nemo93 commented on #184
Works flawless with latest Amiberry 2.14+. For the record below the uae that I use.
[Worms - The Director's Cut [AGA].uae](https://github.com/midwan/amiberry/files/1755924/Worms.-.The.Director.s.Cut.AGA.txt)

[2018-02-25 11:16] #184 closed

[2018-02-25 11:17] nemo93 commented on #178
Thanks @ghost. Indeed works flawless with latest Amiberry 2.14+. For the record below the uae that I use.
[New York Warriors.uae](https://github.com/midwan/amiberry/files/1755928/New.York.Warriors.txt)

[2018-02-25 11:17] #178 closed

[2018-02-25 11:18] nemo93 commented on #177
Works flawless with latest Amiberry 2.14+. For the record below the uae that I use.
[Dungeon Master 2 [AGA].uae](https://github.com/midwan/amiberry/files/1755929/Dungeon.Master.2.AGA.txt)

[2018-02-25 11:18] #177 closed

[2018-02-25 11:27] HoraceAndTheSpider commented on #173
F1 to start Barbarian iirc.

[2018-02-25 11:33] nemo93 commented on #179
@ghost I didn't know that! I learn something. I do confirm that Panza keeps having glitches which have been fixed in Best of Best. Same game (except you don't have Panza intro but most of us should live with that :)).

Works flawless with latest Amiberry 2.14+. For the record below the uae that I use.
[Best Of The Best - Championship Karate.uae](https://github.com/midwan/amiberry/files/1755936/Bes

[2018-02-25 11:33] #179 closed

[2018-02-25 11:36] nemo93 commented on #173
Argh! silly me :) I simply forgot about that. Amazing to rediscover this game. Thanks!

[2018-02-25 11:36] #173 closed

[2018-02-25 11:56] nemo93 commented on #182
Works flawless with latest Amiberry 2.14+ with the changes shared by @ghost. @HoraceAndTheSpider if you read this please modify UAEconfmaker to use kick205 and Immediate blitter. The automatic config I got from your tool was not reflecting the above changes and made the sprites to flicker. Thanks!

For the record below the uae that I use.
[Striker.uae](https://github.com/midwan/amiberry/files/1755

[2018-02-25 11:56] #182 closed

[2018-02-25 12:39] midwan commented on #259
@Xnyle
Fixed the crash, so now you'll get a warning message first, then it will continue with the resolution you requested (though it will not show correctly for now, it's still kind of usable).

I'll look into adding support for this feature in another update.

[2018-02-25 12:50] #259 closed

[2018-02-25 12:51] midwan commented on #269
@tukicat
It could be lack of permissions to write to the location you selected?

Which distro are you trying this with?
Which path did you choose to save the HDF in?
Did you try a path where you know you have access to, e.g. in your home directory?

[2018-02-25 13:53] midwan commented on #265
Fixed in the `dev` branch

[2018-02-25 14:43] tukicat commented on #269
@midwan

Hi, I suspected it might be due to permissions, but I haven't been able work out why.

I am using the Retropie distro, on my rpi3.

I have tried writing to two locations, these are: -

opt/retropie/emulators/Amiberry
pi/RetroPie/roms/amiga

I'll try my home directory when I'm back later today.

[2018-02-25 15:08] Xnyle opened #270 "[Feature-Request] Debian Buster ARM64, not Raspbian as main target for future builds."
As already discussed in previous Issues:

I'd like to see Amiberry being targeted at a modern, future-oriented distribution, that uses the full potiential of the RPI3 as well as all the other current and upcoming A53 based boards. (Orange Pi Prime/Win /Rock64/Pine64,...)

Debian is already nearly there for the RPI3 with a usable image and mainline kernel in the official repos (although only unstab

[2018-02-25 15:43] midwan commented on #149
@bspinner
I just tried it on the Tinker board, using the following:
- Quickstart A1200, non-expanded (2MB Chip)
- A1200 Kickstart ROM v3.0 rev 39.106
- Lotus Turbo Challenge II (1991)(Gremlin)[cr CPY][f AGA Krypt].zip

everything else defaults as set from the Quickstart (no JIT).

It seems to work fine on that board at least. No crashes, no H3 error.

[2018-02-25 15:46] midwan commented on #149
@bspinner
Update: If I enable JIT, then I get an H3 on the Tinkerboard as well.

But like I said, most games should not have JIT enabled anyway...

[2018-02-25 16:34] tukicat commented on #269
Hi, I can confirm this is a permissions issue.

I tried creating the .hdf in the home directory and it did not work. I then remembered that I have created a savestate before and that worked fine. So I tried to create the .hdf in the savestates directory, on the basis that Amiberry has written to this directory before.

This worked fine and it wrote the .hdf.

The path for my savestates is the defa

[2018-02-25 16:49] CypherXG commented on #265
Doesn't work.
Same as mine.
If i try to load a 128MB config Amiberry doesn't start.

[2018-02-25 16:56] bspinner commented on #149
@midwan Hmm... it's up to you whether you want to take a deeper look into this or not. :)

[2018-02-25 16:56] #149 closed

[2018-02-25 16:59] bspinner commented on #241
@midwan Follow up: Currently I'm trying to get the whole package of libs and amiberry to compile and start up (converting the Makefiles to Android.mk files etc.)
This is a learning experience for me, too btw. I'm fluent in Android/iOS development, but not using the NDK... :)

[2018-02-25 17:10] CypherXG commented on #265
Sry, doesn't work.
If i save a config with 128 MB RTG Mem i can not start Amiberry with that config.
It only works if i start Amiberry with another config, load the 128mb RTG config in the config panel and make a reset. Then the 128MB would be allocated for the RTG.

[2018-02-25 18:52] midwan commented on #265
Hmm, I didn't try saving a config so it's possible that I missed something there.
I tested it by loading a config I had, changing the RAM options to give 128MB RTG to it, then start it. It worked that way at least.

[2018-02-25 18:55] midwan commented on #241
I've been trying to set up a sort of a template, which includes the required libraries compiled under NDK, and test them. Not very successful so far, and it's surprising that there's nothing that works right away either.

All the tutorials I've seen were too outdated for the current versions, some worked half-way at best.
I did create something but testing Guisan on it hasn't been very successful

[2018-02-26 03:57] va-lemon commented on #268
@midwan
I think I'm getting closer to solving the issue. I recompiled SDL2, SDL_Image and SDL_ttf as well as Amiberry with the SDL2-Dispmanx target but was still getting the libEGL warnings.

After searching around, I tried linking the EGL and GLES libs as described here: https://pi3d.github.io/html/FAQ.html#glx-dri2-not-supported-or-failed-to-authenticate
I created symlinks for all libEGL files u

[2018-02-27 00:55] va-lemon commented on #257
@jbodders
I use the Xin-Mo Dual Arcade controller as well (though with just one set of controls) and this is how I have Amiberry configured. I've also attached my Xin-Mo cfg file so you can compare against yours. On my setup, the joystick responds as expected i.e. up makes sprite go up and down makes the sprite go down.
One thing I noticed in your config is that your RetroArch configuration path i

[2018-02-27 16:01] ZappaUtopia opened #271 "Can't scroll requester slider when choosing different disk"
When selecting a new adf/zip etc. the file requester slider can't move the list. It's locked to the last used file. I think the requester should start at the last used file position but allow you to scroll through the list.

[2018-02-27 20:32] jbodders commented on #257
Hi

Thanks for the response - interestingly my Xin-Mo .cfg file is different to yours (see attached). I will copy your configuration file and see if that changes things!

Also will update the pathway as you suggested and let you know how I get on!
This is what I currently have as .cfg file.
input_device = "Xin-Mo Xin-Mo Dual Arcade"
input_driver = "udev"
input_l_btn = "4"
input_start_btn = "9"
inp

[2018-02-27 23:20] jbodders commented on #257
Ok - so I tried setting the paths per your note and replacing my Xin-Mo.cfg file with the one you attached.

The behaviour of the controllers reverted to pre-latest Amiberry release behaviour i.e. controls are all 90 degrees out i.e. North / up = right, Right = down and so on…..

Going back and using Emulation station UI, or retroarch to configure/bind the controls reverts the behaviour to the ori

[2018-02-27 23:29] va-lemon commented on #257
Actually, the 90 degree difference in controls is to be expected as the joystick can be mounted in different orientations. Can you post a screenshot of your Amiberry Custom Controls tab? I don't use any custom controls within Amiberry as all the joystick and button assignments are being read from the cfg file.

[2018-02-27 23:58] HoraceAndTheSpider commented on #257
I will look into this properly but just to reiterate that the custom controls tab is only needed her to verify that retroarch mapping is working (see [R] symbol)

Standard joystick modes, including directions, do not require that panel.

[2018-02-28 16:37] jbodders commented on #257
Thanks for the response and looking into this….it is so close to working as expected (the [R] symbol appears etc and the horizontal axis are fine) but somewhere the vertical axis are being reversed!

[2018-02-28 18:59] HoraceAndTheSpider commented on #257
OK, so it looks like in this mode the  V-axis is 'abnormally' inverted for your controller... at the moment, Amiberry only looks for the 'positive' axis number (0 for the vertical axis here) and doesnt worry about the +/- value. This causes an issue here because 'down' (which it is looking for) is negative on your controller

Unfortunately, this can only be fixed with some hard-coding so unless yo

[2018-03-03 08:44] ransom1122 opened #272 "Jim Power"
### Expected behavior
To run at normal speed.

### Actual behavior
Runs slow on intro. Music slows down during level 1.

### Steps to reproduce the behavior
Launching whdload version.
Tried overclocking pi
Tried different settings in gui
Tries res settings in raspiconfig

Nothing fixes it.. may be a emulator issue

Using version 2.14

[2018-03-03 11:39] midwan commented on #272
This is a dupe of #58

[2018-03-03 11:39] #272 closed

[2018-03-03 11:54] ransom1122 commented on #58
What's the latest update on this game? Still laggy?

[2018-03-03 12:39] #271 closed

[2018-03-03 12:40] toszibar commented on #269
Hello everybody. I've the same problem with AmiBerry on the DietPi-System. Unfortunately I can't save in the 'savestates' nor in the home directory, too. Is there a solution for this problem?

[2018-03-03 12:59] midwan commented on #265
@CypherXG
This works for me...

- I opened a config I had for testing, assigned 128MB RTG RAM to it, and saved it with a new name.
- I started the emulator with that config -> WORKS

- I started the emulator from the command prompt, passing a parameter to that config, like so:
`amiberry -conf conf/a4000-128.uae` -> WORKS

(The config was set to Hide the GUI, so it booted directly).

Could you plea

[2018-03-03 13:19] jbodders commented on #257
Thanks for getting back to me so promptly, will see whether I can replicate what @va-lemon suggested.

Otherwise I’m into hard-coding territory....any advice on where to start with this:

I.e. which files do I need to change and where do I need to put them to ‘hard code’ the controls for Amiberry? Is there somewhere I can use a reference to set this up.

[2018-03-03 14:43] HoraceAndTheSpider commented on #257
in the file `amiberrry_input.cpp` , in the routine `static void read_joystick(void)` you could try inverting the values for the Vertical/Y-Axis.

so try swapping this out:
[code]

[2018-03-03 14:45] CypherXG commented on #265
`
config_description=test
config_hardware=true
config_host=true
config_version=3.6.0
-use_gui=no
kickstart_rom_file_id=FC24AE0D,KS ROM v3.1 (A500,A600,A2000)
pandora.rom_path=/opt/retropie/emulators/uae4arm/kickstarts/
pandora.floppy_path=/opt/retropie/emulators/uae4arm/disks/
pandora.hardfile_path=/opt/retropie/emulators/uae4arm/
pandora.cd_path=/opt/retropie/emulators/uae4arm/cd32/
pandora.cpu_s

[2018-03-03 15:01] ghost opened #273 "[Request] Auto Vertical Centering"
In some games the image is slightly off the top (or bottom) of the screen so you have to manually use the Offset option to correct it, and the huge amount of games that are in NTSC ratio have the massive black bar at the bottom, it would be good if you could centre it to give equal amount of black space above and below the image (like WinUAE does). :)

Also, what's the 'Fullscreen' option for ?

[2018-03-03 15:17] jbodders commented on #257
Thanks again - will give it a go!
Where is the .cpp file - i.e. which directory?

[2018-03-03 16:06] midwan commented on #265
@CypherXG
It's certainly an older config, all those pandora* options are obsolete.
Please try to recreate it starting with a Quickstart option, then test with that. I suspect it will work as expected then.

[2018-03-03 17:22] CypherXG commented on #265
So. i tried with a Quickstart config.
Blanc A4000 Config and saved directly.
Tried 128MB RTG and saved it. Loads perfectly.
Tried 128MB RTG and 128 MB Z3 Fast...Crash
Tried 128MB RTG and 64 MB Z3 Fast...Crash
Tried 128MB RTG and 32 MB Z3 Fast...Crash
Tried 128MB RTG and 16 MB Z3 Fast...WORKS !!
So.
[a4000-configs.zip](https://github.com/midwan/amiberry/files/1777700/a4000-configs.zip)

Here i add

[2018-03-03 17:37] midwan commented on #265
@CypherXG
Are you booting into a desktop, or just the console?
If there's not enough RAM on the Pi to allocate what you asked for, you might run into trouble.
It does work for me, with allocating 128MB Z3 RAM, 128MB RTG RAM, 2MB Chip, but I boot into the console directly and run the emulator from there (no desktop in the background).

Also, how much RAM have you allocated to the GPU in the Pi sett

[2018-03-03 17:44] CypherXG commented on #265
Always console.
Give the GPU 256MB Mem

[2018-03-03 17:57] midwan commented on #265
@CypherXG
I just tested your configs:
- a4000-3.uae: I noticed that the ROM assigned was a 1.3 one, so I changed it to a 3.1. You also have 8MB Motherboard RAM, which is not needed, but I left it there. Clicking on Start did work however, no crash.

I tried setting a config from scratch:
- Start with Quickstart, A4000 040 config.
- RAM Panel, set 128MB Z3 RAM, 128MB RTG RAM, remove Motherboard RAM

[2018-03-03 18:05] midwan commented on #269
@toszibar
How about setting those directories as "read/write"?
Something like `chmod a+rwx savestates` should do the trick?

[2018-03-03 18:32] CypherXG commented on #265
I use the dev also.
I tried your seetings.
When i press start it works.
When i save the config and i want to start from console with loading the config without GUI it crashed.
The Kickstart 1.3 is also a bug. I select a 3.1 Kickstart but in the config it would be regonized as a 1.3 Kickstart.
Also happend when i quickstart a cd32.
In the Kickstart Panel it shows both cd32 roms. Kick + ext. thats o

[2018-03-03 19:27] midwan commented on #265
Your `a4000-3.uae` config still contains obsolete entries, so it wasn't a "clean" config to begin with.
If you create a proper one by starting from the Quickstart panel, then save that as a new config, it should work correctly regarding ROMs.

Also, I noticed that your paths point to `/opt/retropie/emulators/uae4arm/` which would also mean that the `adfdir.conf` file is picked up from there. Old c

[2018-03-03 19:46] CypherXG commented on #265
This is correct. But the a4000 Config Files where created by the Quickstart Option with amiberry and directly saved.

[2018-03-04 08:23] #269 closed

[2018-03-04 08:57] CypherXG commented on #265
So i try it now.
Raspi Mem 64MB
Clean Amiberry dir (All files i move in an empty Retropie/uae4arm dir)
Start Emu, rescan roms, make a Quickstart option with A4000, set config, removed Mainboard Mem, add 128 Z3 Mem, add 128RTG Mem, add 8MB Chipmem.
Save as default uaeconfig.
Start with command line...crash
Start normal and make a double click on config....crash
Start normal and load it from config

[2018-03-04 09:45] midwan commented on #265
@CypherXG
Testing it on RetroPie, I got the crash.

I used the same ROMs as before, just located in the RetroPie paths, recreated the config from scratch and tried to load it: **crash**
If I just started the emulator after modifying a config from Quickstart, it worked.

Weird, as the same exact steps do not crash on Raspbian Stretch, only on RetroPie (Jessie).
I wonder what is causing this...

[2018-03-04 10:07] CypherXG commented on #265
:-)

[2018-03-04 10:17] midwan commented on #265
@CypherXG
It seems that it's not RetroPie, but rather the SDL1 version that crashes.
The SDL2 version does not crash with the same config file...

[2018-03-05 07:54] fredmutez opened #274 "Up/down failed with Freebox pad"
### Expected behavior
I want to use my Freebox pad for Amiga games

### Actual behavior
Left and Right and Fire are OK
but Up and Down don't work

### Steps to reproduce the behavior
Plug the Freebox pad on Recalbox
Run any games playable with a joystick

Note the Freebox pad is OK with all the other system (nes,megadrive,mame,...)

[2018-03-05 07:59] HoraceAndTheSpider commented on #274
Have you followed the wiki and is it detecting the retroarch layout?

https://github.com/midwan/amiberry/wiki/Setting-up-Input-Controllers

[2018-03-05 12:55] Voljega commented on #274
@fredmutez Realbox doesn't uses the latest version of amiberry, so if you have any questions about it, it's better to ask on Recalbox forum.

Your problem can't be corrected though, you'll have to wait for the integration of a newer version of amiberry on Recalbox

[2018-03-05 12:57] HoraceAndTheSpider commented on #274
Thanks @voljega - I wasn’t aware of this with recallbox.

Can the binary not be manually updated?

Closing the issue until the pad can be tested with the latest version.

[2018-03-05 12:57] #274 closed

[2018-03-05 13:08] Voljega commented on #274
@HoraceAndTheSpider  no it's not that simple because we patched the binary for some paths (./data path, saves paths, screenshots path, etc...) and also we generate the entire conf dynamically when generating the uae and conf files based on the used controller and other things.
Furthermore, contraty to Retropie, Recalbox is a complete  very lightweight linux based on buildroot, so it's not always s

[2018-03-05 13:47] pawelomega commented on #200
Hello MIDWAN.

Just checked latest DietPi Stretch (fresh instalation from IMG with latest 2.14) and Amiga 1200 keyboard working properly (reset LAMIGA RAMIGA CTRL) now but led'sstill doesn't work and have problem with screen resolution. When I set default KMS i have too big Amiga pointer and can't navigate buttons  but Amiberry work. When select FKMS driver from dietpi-config pointer in Amiberry l

[2018-03-05 13:53] h5n1xp commented on #200
I also find the lack of LEDs in Keyrah annoying... perhaps amiberry needs some iocontrol commands?

#include <stdio.h>
#include <linux/kd.h>

int main(int argc, char *argv[])
{
ioctl(1, KDSETLED, NUM_LED);
return 0;
}

[2018-03-05 14:49] midwan commented on #200
@pawelomega
OK, if the Reset combination works then I suggest we close this issue, to avoid going in other directions.
Please open a separate issue/issues regarding your other issues, so we can handle them separately.

[2018-03-05 14:49] #200 closed

[2018-03-05 15:37] fredmutez commented on #274
Thanks for your help
My another solution is to buy a new pad :) (8BitDo?)

[2018-03-05 16:02] Voljega commented on #274
I really can't give you guarantee on the one that will work or not, all I can say is that xbox360 pad and ps3 pad are working (although for ps3 pad; left and right on analog stick aren't working, but dpad is ok)

[2018-03-05 17:26] tednilsen opened #275 "[Feature-Request] Gamepad analoge L/R controller for mouse"
Let the user choose the gamepad analoge L/R controller for the mouse.
Right now I'm using "mouse mode" option on my gamepad controller, but using the R analoge for mouse would really take away the need for mouse and keyboard (I see that you plan for overlay keyboard).

[2018-03-05 17:27] HoraceAndTheSpider commented on #275
Doesn’t “mouse map=right” do this for you already?

[2018-03-05 17:31] HoraceAndTheSpider commented on #275
reading the post again - you , I assume, have the controller mode set to “mouse” but a joypad attached?

Set the controller to “joystick” and the “mouse map” to right/both and you should get what you need.

I will be changing the system so that a joypad set in “mouse” mode on the input panel achieves something similar anyway in the future, but this is only planned as an adaptation of what is alrea

[2018-03-05 19:23] mzuidweg opened #276 "Keyboard as joystick - glitches in Sensible World of Soccer"
I'm running Sensible World of Soccer (95/96 I believe, may 96/97) from ADF's, with a rather standard A500, 1.3, 1MB configuration. I have an issue when controlling it using the keyboard as joystick (default layout).

Background: in SWOS, when the game is at a dead moment (free kick to be taken etc.), you can call the coach's bench to select substitutes by moving the joystick quickly three times in

[2018-03-05 19:30] tednilsen commented on #275
you are right, thank man.
I found the mousemap=left/right and got a bit confused with the controller-mode set to mouse I guess - AND I have been away from the project for a while...
Looking forward to seeing keyboard implemented alongside analoge L/R gamepad-controller for mouse ;-)

[2018-03-05 19:31] #275 closed

[2018-03-05 19:32] ZappaUtopia commented on #275
Do you have any plans to make the mouse work on Right Analogue with the Gamepad in Port 1 (i.e. the correct port) ? Why do we have to use the Gamepad in the Mouse port ? This would mean that the second player in two player games would be selected, would it ?

[2018-03-05 20:02] midwan commented on #257
@jbodders
The file is located in `src/osdep/amiberry_input.cpp`

@HoraceAndTheSpider
Seems to me this could be solved if we added an "Invert" option for the two Axis options?

[2018-03-05 20:23] HoraceAndTheSpider commented on #275
The mousemap option already work on either / both ports - there is an option for this on either.

@ZappaUtopia  sorry, I am not sure what you mean about having to use a certain controller in either port thought?

The (host) device you wish to use (either a controller or a real mouse) must be connected to the Amiga Port that you wish it to control.

For a mouse game, put your device to Port 0 , for

[2018-03-05 20:26] HoraceAndTheSpider commented on #257
I dont think we should need to add an invert, but instead adapt the RetroArch reading code to pick up the 'sign' of the AXIS value, and apply an internal invert depending on that.

It's definately something i intend to pick up when improving the controller code though.

[2018-03-05 21:07] ZappaUtopia commented on #275
Sorry, I didn't make my question very clear. What I meant was could you make the gamepad control mouse and joystick at the same time without needing to swap ports ? The Right Analogue stick would control Port 0 (Mouse) and the Left Analogue/D-Pad would control Port 1 (Joystick). You could then freely map the mouse buttons to L1/R1 etc. The Android version can control Port 0 Mouse with the Right An

[2018-03-05 21:13] HoraceAndTheSpider commented on #275
To control both on a single pad (i.e. controlling Amiga Mouse in Port 0, and Amiga Joystick in Port 1) you would need to create a custom control layout, as this features input events from both ports for thsi reason :)
(e.g. if you need LMB to skip a cracktro on an otherwise Joystick controlled game).

You would not be able to have both analogue sticks differ on which Amiga Ports they control thoug

[2018-03-05 21:15] bspinner commented on #241
What was your successful approach to get everything compiling?

What architecture was your emulator "emulating"?

[2018-03-05 22:03] ZappaUtopia commented on #275
I was thinking of using the gamepad as Joystick and Mouse combo for more than just games. You could use the mouse for games that start in a workbench screen and you have to open the folder and double click the icon then use the joystick for the actual game. Or moving a highlight up/down with mouse on a trainer screen before the game starts etc. It's not possible to map mouse up/down/left/right to

[2018-03-05 22:25] HoraceAndTheSpider commented on #275
I have not looked at the Android approach, but if it is behaving differently to the default in 'amiberry_input.cpp` (which it must be if the latest build works as you describe on Android) then I suspect it has a limited approach that fixes certain Amiga events to specific Axis.

However, as i said, you can already achieve this by using the custom remapping to the DPad, and if you also require the

[2018-03-05 22:57] HoraceAndTheSpider commented on #275
When I add the option to simply use “mouse” as a mode on the input controller (thus removing the mousemap option) then I will see about adding some kind of “hybrid” option in there also :)

[2018-03-05 23:13] ZappaUtopia commented on #275
Thanks, I'll give this a try tomorrow. Would it be easier to add a 'Swap ports' feature ? For instance, you could have the default as Port 0 mouse and Port 1 joystick, then if you press the mapped 'Swap' button then the gamepad would swap to port 0 and allow you to control the mouse using the gamepad. Press swap and you'd be back to Port 1 joystick mode.

[2018-03-05 23:17] HoraceAndTheSpider commented on #275
There is a swap ports feature in the imported WinUAE code but I am 99% sure it doesn’t work since the merge into uae4arm->Amiberry anyway, and might be a lot of work to restore.

Events from the controller which trigger emulator activities (eg i’d like one to change the mouse speed) have proved particularly troublesome so far unfortunately

[2018-03-05 23:20] ZappaUtopia commented on #275
That's a shame. It sounded like a very logical answer to the problem, just swap the ports around.

[2018-03-06 19:10] jbodders commented on #257
Thanks again both - real beginners question but when I drop into the shell (outside of the retropie GUI) I can't locate the src/osdep pathway. Do you have the full reference ie from pi/etc…./
thanks

[2018-03-06 19:11] midwan commented on #241
@bspinner
Using the method outlined in Lubomyr's readme, I could get the SDL1 version to compile and deploy, but it crashes as soon as it starts.
Using another approach from scratch, trying to get the GUI to compile with all the SDL2 dependencies, I could run it on the Android emulator (x86 compile) but it didn't show any graphics on a real (ARM) device - just a black screen.

Then I found a bareb

[2018-03-06 20:23] HoraceAndTheSpider commented on #257
That will depend on where you install the source code! You could put it anywhere

[2018-03-06 21:48] ransom1122 commented on #206
@midwan

Hi.. Understand your life must be busy as hell... Thought I might ask how progress is going on the Android port at the moment of any?

[2018-03-06 22:01] jbodders commented on #257
Good point :-)
I followed the - manage packages -> Amiberry -> “install from source”,  in the Retropie GUI, trying to understand where that defaults the files to....

[2018-03-06 22:45] HoraceAndTheSpider commented on #257
I am not sure that installing from source within RetroPie will not delete the source code after it has compiled anyway...

probably it is better to follow the Readme/Wiki guide on this page.

[2018-03-07 12:56] marus70 opened #277 "Saving settings from GUI"
Hi! I'm a new user, first of all i would thank everyone working to this great project ;-)
I've read many issues without finding a simple answer to this: how to save settings from GUI?
I've successfull updated Amiberry and set autoconfig in the path section getting [R] on my controller, but every change I do on the GUI about custom keys get lost once i quit from the game, so i have to redo changes

[2018-03-07 18:08] midwan commented on #206
@ransom1122
Got stuck currently, on getting everything to work properly.
I spent a few weeks of afternoons and a few weekends trying to find a solution, but didn't get too far.

[2018-03-07 18:09] midwan commented on #277
@marus70
All GUI settings are saved in Config files, which are available from the "Config" Panel (within the GUI).
As in WinUAE, you name your config and save it to a file from there, and you load it when you want to re-apply those settings.

I hope that helps!

[2018-03-07 21:23] ransom1122 commented on #206
I assume you haven't given up?

[2018-03-07 21:35] midwan commented on #206
No, of course not! :)
Just taking a break from it to keep my sanity (and hair), while @bspinner is also working on it in the meantime.

[2018-03-07 22:09] ransom1122 commented on #206
Ok Thanks for the reply.👍

[2018-03-08 09:45] MontyMoleUK opened #278 "Putty Squad AGA Slow"
### Expected behavior
Should run at normal speed.
### Actual behavior
Quite a lot of slow down making the game unplayable.
### Steps to reproduce the behavior

[2018-03-09 23:19] HoraceAndTheSpider commented on #278
Fast Copper option seems to fix the speed issue..

I do have some gfx corruption on the bottom of the title screen though

[2018-03-10 07:29] CypherXG commented on #224
![specialkeyboard](https://user-images.githubusercontent.com/7895130/37239468-fd47a746-243c-11e8-949c-9458e4f40210.png)
Here you can have my iAmiga Keyboard that i use for my iPad Amiga Emu. I don't need this anymore.

[2018-03-10 13:29] Darknior commented on #224
WOAW i love it, please use this one <3

[2018-03-10 14:09] CypherXG commented on #224
:-) Thx

[2018-03-10 14:27] Darknior commented on #224
All keys are square, it will easier to use :)
It should be cool to use a light blue on KEY OVER and a dark blue on KEY PRESS, and possibly leave the dark blue on a key that remains active as the key SHIFT or SHIFT for example. It's just a idea already use on the AMIGA emulator port on xbox.

[2018-03-10 15:03] waal commented on #224
@CypherXG

Lovely, I believe that should be the one ! Good work, man.

[2018-03-10 18:46] Gilou9999 commented on #224
That's what i call a nice virtual keyboard! It will brings a lot to the experience, playing our old games with a nice one like this!

[2018-03-11 01:25] vretro opened #279 "[Feature-Request] Control mouse with Hotkey + D Pad"
Would controlling the mouse with D Pad by holding down the Retroarch hot key be a useful feature for anyone else?

In an example use case you could hold down the Select button on a SNES style pad, then navigate the mouse by pressing and holding the appropriate directions on the D Pad. Handy for those occasional menus which only accept mouse input.

[2018-03-11 08:24] HoraceAndTheSpider commented on #279
Surely you can do this with custom mapping already?

[2018-03-11 13:41] midwan commented on #166
@CypherXG
With this push, I found that most games are improved.
Even CD32 CDDA tracks seem ok, sometimes you may have to enable Fast Copper to avoid slowdowns however (e.g. in Alien Breed 3D menu music).

[2018-03-11 13:41] #166 closed

[2018-03-11 16:53] midwan opened #280 "Joysticks at ports 2/3 have their Fire buttons swapped"
### Expected behavior
Joysticks should trigger their fire events normally, regardless the port they're assigned to.

### Actual behavior
- In some scenarios, using joysticks on ports 2/3 will actually swap their fire buttons between them (so fire from joystick one, triggers the even for joystick two and vice versa).
- This also happens if we assign Keyboard as Joystick on those ports, and we have

[2018-03-11 17:03] OZ2CPU-thomas opened #281 "Sprite blinks bottom left, Dynablaster"
Amiberry v2.14
Dynaplaster : 5 players battle, bottom left player is BLUE
when located at bottom left corner (where he starts)
halve of the player is gone, and the other halve of him is blinking,
the behaviour changes a bit with change of, Chipset, Blitter
try the 3 settings to see slight change, but no cure it is still a problem.

[2018-03-11 17:46] OZ2CPU-thomas opened #282 "Black screen for many minutes, then start ok"
Amiberry v2.14
select to boot from a HD0 partition file,
this file contain a boot menu, i tried in A1200 and A4000 modes, same issue
BLACK screen, no responce from F12, takes many minutes then bingo it startup and works
i have no idea what it is performing while all black,
is it related to the other bug ? Harddrives, click Restart, all HD settings erased !
then configurations, load a config with H

[2018-03-11 17:50] midwan commented on #282
The Restart button will reset all config options to the defaults for the selected "Quickstart" option. So losing the HDD settings is by design and expected behavior.

I'm not sure about the black screen thing, that seems related to something running inside the emulation session (i.e. something on your HD0 drive). You could check your startup-sequence there perhaps?

[2018-03-11 18:13] OZ2CPU-thomas commented on #282
this HD0 and HD1 folders with all the games have been running perfectly stable with the other emulator, and it actually works with this one, most of the times, just sometimes i get this odd black screen while starting up, i cant exactly figure out what triggers it, since next time i try the same, it works perfectly

[2018-03-11 18:47] midwan commented on #280
Fixed with 4344d6d55d032467948f1a1aa7ddb2386553f75a

[2018-03-11 18:47] #280 closed

[2018-03-11 18:51] midwan commented on #281
I can't recreate the problem with the current `dev` branch at least.
The sprite appears normal and moving it around does not cause any problems.

I used the default (Quickstart) A1200 settings, with this version of the game:
`Dyna Blaster (1991)(Hudson Soft)[cr VF][t +11 ZNT]` (ADF)

Maybe try with another version?

[2018-03-11 19:01] midwan commented on #282
@OZ2CPU-thomas
Without knowing what exactly triggers it, there's not much we can do...

Could you provide the startup-sequence from there? Maybe we can find which line causes it.
Alternatively, you can try this:
- Boot with no startup-sequence
- Start each line of the startup-sequence manually, until you see the problem
- Report which command/tool it was that caused it

[2018-03-11 19:04] OZ2CPU-thomas commented on #281
how do you adjust the height of the screen ? dynablaster got some sort of height offset,
if you do nothing you cant not see the scoreboart at top.
the startup screen (not a standard dynablaster release) will let you adjust this,
then you see the problem.
But if you use: display v. offset -16 the problem is gone for me,
so that conclude my problem and you can close this case as there is this work a

[2018-03-11 19:06] midwan commented on #281
@OZ2CPU-thomas
You can tweak the Vertical Offset in the Display Panel for such scenarios, but I didn't have to do that in my case...

I saw no flickering or cut-off sprite with the default settings, using the Quickstart A1200 as a starting point, then loading the ADF, changing the Input Panel for the Parallel Port joystick mapping and clicking on Start.

In any case, I think this can be closed.

[2018-03-11 19:06] #281 closed

[2018-03-11 19:22] OZ2CPU-thomas commented on #282
i have a bit more, i was in the setup screen, simply hit reset, and bingo,
the same black screen, so it is not only a start thing
i assume i could copy the startup-squence from the DH0 partition, but to do so, i must be inside amiga CLI or workbench, to get access to this file, right

[2018-03-11 19:25] midwan commented on #282
@OZ2CPU-thomas
If you have it in a hardfile, yes. You could also copy it to a machine that runs WinUAE and test it there (or extract the startup-sequence).

Or you could try the steps I mentioned above.

[2018-03-11 19:25] HoraceAndTheSpider commented on #282
Is DH0 mounted as an HDF file or a Directory?

If it is a single HDF file you could share that

[2018-03-11 19:27] midwan commented on #276
@mzuidweg
I think this is by-design from the game itself.
I tested it on WinUAE and it does exactly the same thing, actually. :)

There are no joystick events triggered from the arrow keys, unless of course you're using the "Keyboard as Joystick" mapping in which case they act as a joystick. If you have a real joystick connected, the arrow up/down seem to trigger the coach bench anyway, but that's

[2018-03-11 19:27] #276 closed

[2018-03-11 19:28] OZ2CPU-thomas commented on #282
my DH0 is a single file, bootable, my DH1 is a folder,

[2018-03-11 19:34] mzuidweg commented on #276
Ah, I see, I'm indeed using the keyboard as joystick, and then basically SWOS receives both the joystick input and the direct keyboard input, and the latter is triggering the behaviour.

In the meantime I've reprogrammed my homemade Arduino dual 9-pin joystick to USB adapter to emulate two HID gamecontrollers instead of sending keyboard events, and that seems to work. However,  I cannot find a way

[2018-03-11 19:36] midwan commented on #276
I believe @HoraceAndTheSpider might be the best person to answer that :)

[2018-03-11 19:59] midwan commented on #278
@MontyMoleUK
The speed issue can be fixed with the Fast Copper option (in the Chipset Panel), as @HoraceAndTheSpider mentioned.

There is a glitch with the title screen, with some gfx corruption at the bottom, which I didn't see in WinUAE (so it's a glitch in Amiberry). However, that doesn't seem to affect anything else in the game, so I'd say it's a minor thing for now. It will probably get fixed

[2018-03-11 19:59] #278 closed

[2018-03-11 20:02] midwan commented on #268
@va-lemon
You can enable logging by enabling the commented out line:
`#WITH_LOGGING=1`
in the Makefile.

That will cause the emulator to generate a logfile while running.

However, I suspect your problem is happening so early that you probably won't be able to see much from the emulator itself.

[2018-03-11 20:05] midwan commented on #273
@ZappaUtopia
There's no bulletproof way of doing this, I'm afraid, but we can look into similar attempts from other systems to replicate that behavior.

The Fullscreen option only makes sense if you run the emulator under X11, where you could have it in either Windowed or Fullscreen mode. Like WinUAE on Windows ;-)

[2018-03-11 20:07] midwan commented on #264
@mattsoft
Could you please post the contents of these files:
- /boot/config.txt
- /boot/cmdline.txt

[2018-03-11 20:25] OZ2CPU-thomas commented on #282
i think i got a bit more about the black screen issue,
when goto quickstart A1200, then harddrives, configure my two partitions, then start,
the chance of black screen is smaller.
But when it happens, i also hear sound, like small bites of the audio, very slowly,
so the system must be overloaded, no picture ever.
also when it works, i do see a black screen for 2-4 sec, so i always gets scared, why

[2018-03-11 20:31] HoraceAndTheSpider commented on #211
Latest commit adds a solution for this, including LHA file support.

Games like Batman which should not be unpacked on Windows etc have been tested working on the solution provided.

[2018-03-11 20:31] #211 closed

[2018-03-11 20:33] midwan commented on #282
@OZ2CPU-thomas
As this is something we cannot recreate anywhere else, I'm afraid there's not much we can do until we get more specifics.

E.g. what exactly is it from your startup-sequence that causes this?

[2018-03-11 21:09] OZ2CPU-thomas commented on #282
forget about the startup sequence, it is not the problem..
i go to quickstart, select A1200, goto harddrives and check nothing is selected,
hit start..
black screen with no info about what is going on for 2 mins and 35 sec
then i see the animated disk screen..

[2018-03-12 11:59] midwan commented on #282
@OZ2CPU-thomas
That's strange, I don't believe anyone has reported such a behavior...
Have you tried with different ROMs?
Is your drive busy (LED constantly on) while this is happening?

Something in your environment is causing this, but we have to find out what.

[2018-03-12 18:47] bspinner commented on #206
@ransom1122 Please don't hold your breath while waiting for this. I'm invested in two other projects I'll need for my wedding, so the hair pulling adventure of setting up a Android NDK project isn't my top priority currently.

[2018-03-12 19:35] CypherXG commented on #282
How big is your boot Directory?
Can you Zip it and upload to an freehoster?
I use HD too without no problems. I can start from an directory or an HDF. Does no matter.
Works fine...
You  write ...black screen with no info about what is going...
Mhhhh this happens on an real Amiga when the Harddisk is not correct for boot the System.
But it takes only 20-30 seconds and then you see the Kickstart Ani

[2018-03-12 20:38] ransom1122 commented on #206
@bspinner @midwan Fully aware of how long things can take. Not a problem at all, we all just hope that this project doesn't die at any stage.  All the best.  👍

[2018-03-12 21:09] OZ2CPU-thomas commented on #282
the HD image worked for a year with out any black screen, on the chips emulator :-)
so there is nothing wrong with the file, it must be a configure or combination issue,
i did give the file to Gunnar and Dimitris, so far i did not hear any news from them.
also please read all i explain, i get black screens 2.5mins with no harddisks selected at all,
also when it works, i feel it is remarkebly slowe

[2018-03-12 23:24] midwan commented on #282
@OZ2CPU-thomas
I'm sorry, but I haven't received any image to test with, yet...
Could you make it available as a download link here, please?

[2018-03-13 09:22] OZ2CPU-thomas commented on #282
link provided privatly, the file is not mine to give away in a puplic place,
it is of course ok to share it among delevopment team, but not puplic please.

[2018-03-13 16:32] midwan commented on #34
@HoraceAndTheSpider
Do we still need this, in light of the recent improvements?

[2018-03-13 20:38] HoraceAndTheSpider commented on #34
hmm... maybe - we could consider how we might parse various filetypes without specifying the option, but there are a lot of potential variables sadly!

[2018-03-13 20:39] HoraceAndTheSpider commented on #279
I will ned to check for any bugs in this , to be sure, but it *should* work this way

[2018-03-14 01:23] ransom1122 opened #285 "Fire Force CD32"
### Expected behavior
Game to boot ok

### Actual behavior
Black screen then corrupt graphics. Won't go further

### Steps to reproduce the behavior
Quickstart CD32
Load ForeForce.cue file

Game works fine on WINUAE but not on Amiberry v2.14

Can anyone check this please.

[2018-03-14 08:36] midwan commented on #285
Can not recreate the problem, game works fine here:

![snapshot](https://user-images.githubusercontent.com/3877365/37391304-12942562-276b-11e8-9ad1-dbe873324910.png)

Tested using the current "dev" branch version, Quickstart CD32, Amiga CD32 - Fire Force.cue.

[2018-03-14 08:58] ransom1122 commented on #285
I've tried it starting a fresh start on Amiberry 2.14 and now it works. I think my problem occured when you eject old cd32 images and mount new cd32 images and restart.
Thanks problem solved

[2018-03-14 09:14] #285 closed

[2018-03-14 10:24] ZappaUtopia commented on #285
@midwan Yes, what @ransom1122 said, if you eject a CD32 image in the GUI and insert a new one and press Restart, sometimes it doesn't boot, it just displays the CD32 logo. You have to go back to the GUI and press Restart again.

[2018-03-14 10:35] ZappaUtopia opened #286 "[Heads up] Raspberry Pi 3B+ just released"
Just a heads up that the Raspberry Pi 3B+ has just been released.

https://www.raspberrypi.org/blog/raspberry-pi-3-model-bplus-sale-now-35/

It's a 200MHz faster CPU, would this make much difference do you think ? Will we be able to leave 'Fast Copper' OFF and it will cope ?

[2018-03-14 10:37] ransom1122 commented on #285
Yeah I think this issue stemmed from that booting problem.. thanks

[2018-03-14 10:38] midwan commented on #286
we'll have to see when we get one. :)
I've already placed an order.

[2018-03-14 10:38] #286 closed

[2018-03-14 10:41] midwan commented on #282
@OZ2CPU-thomas
It looks like you need to click on "Rescan ROMs", in the Paths panel, once.
That seems to fix the issue for me.

Also, you'll need to install the latest P96 drivers in the system as the current one doesn't seem to work.

[2018-03-14 11:15] midwan commented on #285
@ZappaUtopia
That is something I noticed yesterday also, while testing some CD32 titles.
I'll open a separate issue to look into it.

[2018-03-14 11:22] ZappaUtopia commented on #285
Also, have you tried any CD32 games with external audio tracks WAV/MP3 ? I haven't updated Amiberry for a few weeks but noticed that it takes a few seconds for the WAV files to start playing and MP3 take even longer. Not sure if this is supposed to be like this ?

[2018-03-14 11:23] midwan commented on #285
@ZappaUtopia
Please give me some specific examples, I've tried several titles but I haven't noticed something like that yet...